{# app/views/clinics/close-attended-not-screened-reason.html #}

{% extends parentLayout or 'layout-app.html' %}

{% from "_includes/forms/attended-not-screened-fields.njk" import attendedNotScreenedFields with context %}

{% set pageHeading = "Why was this appointment stopped?" %}
{% set formAction = "/clinics/" + clinicId + "/close/reason/" + appointment.id %}

{% set back = {
  href: "/clinics/" + clinicId + "/close",
  text: "Back to close clinic"
} %}

{% block pageContent %}

  <h1 class="nhsuk-heading-l">
    <span class="nhsuk-caption-l">
      {{ participant | getFullName }}
    </span>
    {{ pageHeading }}
  </h1>

  {{ attendedNotScreenedFields("closeReasonForm", data.closeReasonForm, participant) }}

  <div class="nhsuk-button-group">
    {{ button({
      text: "Continue"
    }) }}
  </div>

{% endblock %}
