{# app/views/clinics/index.html #}
{% extends 'layout-app.html' %}

{% set pageHeading %}
  {% switch filter %}
    {% case 'today' %}
     Today’s clinics
    {% case 'upcoming' %}
     Upcoming clinics
    {% case 'completed' %}
     Closed clinics
    {% default %}
     All clinics
  {% endswitch %}
{% endset %}

{# Can get to dashboard using main nav instead #}
{% set hideBackLink = true %}

{% set gridColumn = "nhsuk-grid-column-full" %}

{% block pageContent %}

  <span class="nhsuk-caption-l">{{ currentBSU.name }}</span>
  <h1>{{pageHeading}}</h1>

  {% set secondaryNavItems = [] %}

  {% for item in [
    { id: 'today', label: 'Today' },
    { id: 'upcoming', label: 'Upcoming' },
    { id: 'completed', label: 'Closed' },
    { id: 'all', label: 'All' }
  ] %}
    {% set href -%}
      /clinics/{{ item.id }}
    {% endset %}
    {% set secondaryNavItems = secondaryNavItems | push({
      text: (item.label + " " + appCount(clinics | getFilteredClinics(item.id) | length)) | safe,
      href: href | trim,
      current: true if item.id == filter
    }) %}
  {% endfor %}

  {{ appSecondaryNavigation({
    visuallyHiddenTitle: "Secondary menu",
    items: secondaryNavItems
  }) }}

  {{ filteredClinics | log("Filtered clinics") }}

  {% if filteredClinics | length === 0 %}
    <p>No clinics found.</p>
  {% else %}
    {% set tableRows = [] %}
    {% for clinic in filteredClinics | sort(false, false, 'date') %}
      {% set location = clinic.location %}

      {% set locationHtml %}
        <a href="/clinics/{{ clinic.id }}" class="nhsuk-link">
          {{ clinic.clinicCode }} ({{ clinic.sessionType | lower }})
        </a>
        <br>
        {% if location.type === 'mobile_unit' %}
          {{ (location.name + " at " + clinic.siteName) | asHint }}
        {% else %}
          {{ location.name | asHint }}
        {% endif %}
      {% endset %}

      {% set dateTimeHtml %}
        {{ clinic.date | formatDate | noWrap }}<br>
        {{ clinic.sessionTimes | formatTimeRange | asHint }}
      {% endset %}

      {% set tableRows = tableRows | push([
        {
          html: locationHtml,
          classes: "app-clinics-table__location-column"
        },
        {
          html: dateTimeHtml,
          classes: "app-clinics-table__date-time-column"
        },
        {
          text: clinic.clinicType | sentenceCase,
          classes: "app-clinics-table__clinic-type-column"
        },
        {
          text: clinic.appointments.length | string,
          format: "numeric",
          classes: "app-clinics-table__participants-column"
        },
        {
          html: clinic.status | toTag({ vocabulary: "clinic" }),
          classes: "app-clinics-table__status-column"
        }
      ]) %}
    {% endfor %}

    {{ table({
      compact: true,
      striped: true,
      classes: "app-clinics-table",
      head: [
        {
          text: "Clinic name and location",
          classes: "app-clinics-table__location-column"
        },
        {
          text: "Date and time",
          classes: "app-clinics-table__date-time-column"
        },
        {
          text: "Clinic type",
          classes: "app-clinics-table__clinic-type-column"
        },
        {
          text: "Participants",
          format: "numeric",
          classes: "app-clinics-table__participants-column"
        },
        {
          text: "Status",
          classes: "app-clinics-table__status-column"
        }
      ],
      rows: tableRows
    }) }}

  {% endif %}
{% endblock %}
