{% call summaryList(
) %}
  {% include "_includes/summary-lists/rows/nhs-number.njk" %}
  {% include "_includes/summary-lists/rows/full-name.njk" %}
  {% include "_includes/summary-lists/rows/gender.njk" %}
  {% include "_includes/summary-lists/rows/date-of-birth.njk" %}
  {% include "_includes/summary-lists/rows/ethnicity.njk" %}
{% endcall %}