{% call appSummaryList(
) %}
  {% include "_includes/summary-lists/rows/nhs-number.njk" %}
  {% include "_includes/summary-lists/rows/full-name.njk" %}
  {% include "_includes/summary-lists/rows/gender.njk" %}
  {% include "_includes/summary-lists/rows/date-of-birth.njk" %}
  {% if noLastBorder %}
    {% set noBorder = true %}
  {% endif %}
  {% include "_includes/summary-lists/rows/ethnicity.njk" %}
  {# GP disabled until we're confident we need it #}
  {# {% include "_includes/summary-lists/rows/gp.njk" %} #}
{% endcall %}