{# app/views/_includes/summary-lists/screening-details.njk #}
{% call appSummaryList({
  lastRowBorder: false
}) %}
  {% include "_includes/summary-lists/rows/sx-number.njk" %}
  {% include "_includes/summary-lists/rows/screening-protocol.njk" %}

{% endcall %}