
{% call summaryList(
) %}
  {% include "_includes/summary-lists/rows/sx-number.njk" %}
  {% include "_includes/summary-lists/rows/screening-protocol.njk" %}
  {% include "_includes/summary-lists/rows/last-known-mammogram.njk" %}

{% endcall %}