@use 'nhsuk-frontend/packages/core/settings' as *;
@use 'nhsuk-frontend/packages/core/tools' as *;

.app-mammogram-image--placeholder {
  background-color: black;
  width: 75px;
  height:100px;

  outline: 1px solid rgba(255, 255, 255, 0.2);

  p {
    color: white;
    margin-left: 5px;
  }
}

.app-image-two-up {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;

  app-mammogram-container {
    width: 48%;
  }
}

.app-position-relative {
  position: relative;
}

.app-align-right {
  float: right;
  * {
    text-align: right;
  }
}

.app-suppress-link-styles * {
  text-decoration: none;
  color: $nhsuk-secondary-text-color;
}

.app-image-flip-horizontal {
  -webkit-transform: scaleX(-1);
  transform: scaleX(-1);
}

.app-button-full-width {
  width: 100%;
}


.nhsuk-warning-callout .nhsuk-summary-list__key {
  width: 22%;
}

@include nhsuk-media-query($until: tablet) {
  .nhsuk-warning-callout .nhsuk-summary-list__key {
    width: auto;
  }

// Reduce space taken by card
.nhsuk-card {
  @include nhsuk-responsive-margin(4, "bottom");
}

.nhsuk-card--feature {
  @include nhsuk-responsive-margin(5, "top");

}