@use "nhsuk-frontend/dist/nhsuk/core/settings" as *;
@use "nhsuk-frontend/dist/nhsuk/core/styles/typography" as *;
@use "nhsuk-frontend/dist/nhsuk/core/tools" as *;

.app-mammogram-image--placeholder {
  background-color: black;
  width: 125px;
  // height: 150px;

  outline: 1px solid rgba(255, 255, 255, 0.2);

  p {
    color: white;
    margin-left: 5px;
  }
}

.app-mammogram-image--missing {
  background-color: $color_nhsuk-grey-5;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 125px;
  height: 187.5px;
  border: 2px dashed $color_nhsuk-grey-2;
}

.app-mammogram-image--missing-content {
  text-align: center;
  font-size: 16px;
}

// Progressive enhancement helpers
.app-js-only {
  display: none;
}

body.js-enabled .app-js-only {
  display: block;
}

body.js-enabled .app-no-js-only {
  display: none;
}

.app-image-two-up {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;

  app-mammogram-container {
    width: 48%;
  }
}

.app-position-relative {
  position: relative;
}

.app-align-right {
  text-align: right;
}

.app-suppress-link-styles * {
  text-decoration: none;
  color: $nhsuk-secondary-text-colour;
}

.app-suppress-link-styles .app-button-link {
  text-decoration: none;
  color: $nhsuk-secondary-text-colour;
}

.app-image-flip-horizontal {
  -webkit-transform: scaleX(-1);
  transform: scaleX(-1);
}

.app-button-full-width {
  width: 100%;
}

// Reduce space taken by card
.nhsuk-card {
  @include nhsuk-responsive-margin(4, "bottom");
}

.nhsuk-card--feature {
  @include nhsuk-responsive-margin(5, "top");
}

.app-page-width--wide .nhsuk-width-container {
  max-width: 1200px;
}

.event-row:focus {
  outline: none;
  box-shadow:
    0 0 0 2px #f0f4f5,
    0 0 0 calc(2px + $nhsuk-focus-width) $nhsuk-focus-text-color,
    0 0 0 calc(2px + $nhsuk-focus-width + 4px) $nhsuk-focus-color;
}
