@use "nhsuk-frontend/dist/nhsuk/core" as *;

.app-mammogram-image--placeholder {
  width: 125px;
  // height: 150px;

  outline: 1px solid rgba(255, 255, 255, 0.2);
  background-color: #000000;

  p {
    margin-left: 5px;
    color: #ffffff;
  }
}

.app-mammogram-image--missing {
  display: flex;

  align-items: center;
  justify-content: center;

  width: 125px;
  height: 187.5px;

  border: 2px dashed nhsuk-colour("grey-2");

  background-color: nhsuk-colour("grey-5");
}

.app-mammogram-image--missing-content {
  font-size: 16px;
  text-align: center;
}

// Progressive enhancement helpers
.app-js-only {
  display: none;
}

.nhsuk-frontend-supported .app-js-only {
  display: block;
}

.nhsuk-frontend-supported .app-no-js-only {
  display: none;
}

.app-image-two-up {
  display: flex;
  flex-wrap: wrap;
  gap: 16px;
  margin-bottom: 20px;

  .app-mammogram-container {
    flex: 1 1 45%;
    min-width: 200px;
    max-width: 48%;
  }
}

.app-position-relative {
  position: relative;
}

.app-align-right {
  text-align: right;
}

.app-suppress-link-styles * {
  color: $nhsuk-secondary-text-colour;
  text-decoration: none;
}

.app-suppress-link-styles .app-button-link {
  color: $nhsuk-secondary-text-colour;
  text-decoration: none;
}

.app-image-flip-horizontal {
  -webkit-transform: scaleX(-1);
  transform: scaleX(-1);
}

.app-button-full-width {
  width: 100%;
}

// Reduce space taken by card
.nhsuk-card {
  @include nhsuk-responsive-margin(4, "bottom");
}

.nhsuk-card--feature {
  @include nhsuk-responsive-margin(5, "top");
}

.app-page-width--wide .nhsuk-width-container {
  max-width: 1200px;
}

.event-row:focus {
  outline: none;
  box-shadow:
    0 0 0 2px #f0f4f5,
    0 0 0 calc(2px + $nhsuk-focus-width) $nhsuk-focus-text-colour,
    0 0 0 calc(2px + $nhsuk-focus-width + 4px) $nhsuk-focus-colour;
}
