@use "nhsuk-frontend/dist/nhsuk/core" as *;

h1 {
  @extend %nhsuk-heading-l;
}

h2 {
  @extend %nhsuk-heading-m;
}

h3 {
  @extend %nhsuk-heading-s;
}

.app-text-grey {
  color: $nhsuk-secondary-text-colour;
}

.nhsuk-link--no-visited-state a {
  @include nhsuk-link-style-no-visited-state;
}

.app-link--error,
.app-link--warning {
  &,
  &:visited {
    color: $nhsuk-error-colour;
  }

  &:hover,
  &:hover:visited {
    color: nhsuk-shade($nhsuk-error-colour, 20%);
  }

  &:hover:active {
    color: $nhsuk-text-colour;
  }
}

.app-button-link {
  padding: 0;

  border: none;

  color: $nhsuk-link-colour;
  background: none;

  font: inherit;
  text-align: left;
  text-decoration: underline;

  cursor: pointer;

  &:hover,
  &:focus {
    color: $nhsuk-link-hover-colour;
    text-decoration: none;
  }
}
