@use "nhsuk-frontend/dist/nhsuk/core/settings" as *;
@use "nhsuk-frontend/dist/nhsuk/core/styles/typography" as *;
@use "nhsuk-frontend/dist/nhsuk/core/tools" as *;
@use "nhsuk-frontend/dist/nhsuk/core/helpers" as *;

h1 {
  @extend %nhsuk-heading-l;
}

h2 {
  @extend %nhsuk-heading-m;
}

h3 {
  @extend %nhsuk-heading-s;
}

.app-text-grey {
  color: $nhsuk-secondary-text-colour;
}

.nhsuk-link--no-visited-state a {
  @extend .nhsuk-link--no-visited-state;
}

.app-link--error,
.app-link--warning {
  &,
  &:visited {
    color: $nhsuk-error-colour;
  }

  &:hover,
  &:hover:visited {
    color: nhsuk-shade($nhsuk-error-colour, 20%);
  }

  &:hover:active {
    color: $nhsuk-text-colour;
  }
}

.app-button-link {
  background: none;
  border: none;
  color: $nhsuk-link-colour;
  cursor: pointer;
  font: inherit;
  padding: 0;
  text-align: left;
  text-decoration: underline;

  &:hover,
  &:focus {
    color: $nhsuk-link-hover-colour;
    text-decoration: none;
  }
}
