// Import NHS.UK frontend library
@forward "nhsuk-frontend/dist/nhsuk/nhsuk" with (
  $nhsuk-page-width: 960px,

  // Tighten spacing scale - each point uses the value of the point below
  $nhsuk-spacing-points: (
    0: 0,
    1: 4px,
    2: 4px,
    3: 8px,
    4: 16px,
    5: 24px,
    6: 32px,
    7: 40px,
    8: 48px,
    9: 56px
  ),

  $nhsuk-spacing-responsive-scale: (
    0: (null: 0, tablet: 0),
    1: (null: 4px, tablet: 4px),
    2: (null: 4px, tablet: 4px),
    3: (null: 4px, tablet: 8px),
    4: (null: 8px, tablet: 16px),
    5: (null: 16px, tablet: 24px),
    6: (null: 24px, tablet: 32px),
    7: (null: 32px, tablet: 40px),
    8: (null: 40px, tablet: 48px),
    9: (null: 48px, tablet: 56px)
  )
);

// Components that are not in the NHS.UK frontend library

@forward "components/button-menu";
@forward "components/details";
@forward "components/dark-mode";
@forward "components/appointment-header";
@forward "components/list-border";
@forward "components/modal";
@forward "components/related-nav";
@forward "components/secondary-navigation";
@forward "components/secondary-navigation-overrides";
@forward "components/count";
@forward "components/forward-link";
@forward "components/status";
@forward "components/status-bar";
@forward "components/status-message";
@forward "components/summary-card";
@forward "components/reading";
@forward "components/mammogram-images";
@forward "components/environment";

@forward "components/overrides";
@forward "components/notification-banner";
@forward "components/checkboxes";
@forward "components/breast-features";
@forward "components/sticky-appointment-bar";
@forward "components/annotation";
@forward "components/stepper-input";

@forward "misc";
@forward "workflow";

@forward "typography";
@forward "utils";

///////////////////////////////////////////
// Add your custom CSS/Sass styles below...
///////////////////////////////////////////
