{# app/views/_includes/reading/annotations-opinions-in-tabs.njk #}
{# Mode: opinions-in-tabs
   Like with-images-tabbed but the breast assessment opinion radios are placed
   inside each tab panel alongside the images and annotations.
   This groups all per-breast decisions (opinion + annotations) together. #}

{% from '_components/collapsible-input/macro.njk' import appCollapsibleInput %}
{% from '_components/annotation-list/macro.njk' import appAnnotationList %}
{% from '_components/annotation-images/macro.njk' import appAnnotationImages %}
{% from '_components/annotation-tabs/macro.njk' import appAnnotationTabs %}

{% set initialSide = data.imageReadingTemp.lastEditedSide or "right" %}

<div class="nhsuk-grid-row">
  <div class="nhsuk-grid-column-full">
    <h2 class="nhsuk-heading-m nhsuk-u-margin-bottom-2">Breast assessment</h2>

    <div id="annotation-container">
      {{ appAnnotationTabs({
        activeSide: initialSide,
        imagePaths: allPaths,
        viewOrder: mammogramViewOrder,
        rightCount: rightAnnotations | length,
        leftCount: leftAnnotations | length,
        showThumbs: false
      }) }}

      <div class="app-ann-v2__panel">
        {% for breastSide in ["right", "left"] %}
          {% set Side = breastSide | capitalize %}
          {% set sideAnnotations = rightAnnotations if breastSide == "right" else leftAnnotations %}

          <div class="app-annotation-panel" data-panel-side="{{ breastSide }}"{{ ' hidden' if breastSide != initialSide }}>
            <div class="app-ann-v2">
              {# Images column #}
              <div class="app-ann-v2__images">
                {{ appAnnotationImages({
                  side: breastSide,
                  imagePaths: allPaths,
                  viewOrder: mammogramViewOrder,
                  annotations: sideAnnotations,
                  mode: "interactive"
                }) }}
              </div>

              {# Sidebar: opinion + annotations #}
              <div class="app-ann-v2__sidebar app-ann-v2__sidebar--embedded">
                <div class="app-ann-v2__sidebar-scroll">

                  {# Breast opinion radios #}
                  {{ radios({
                    name: "imageReadingTemp[" + breastSide + "][breastAssessment]",
                    value: data.imageReadingTemp[breastSide].breastAssessment,
                    fieldset: {
                      legend: {
                        text: "What is your opinion of the " + breastSide + " breast?",
                        classes: "nhsuk-fieldset__legend--s",
                        isPageHeading: false
                      }
                    },
                    items: [
                      {
                        value: "normal",
                        text: "Normal"
                      },
                      {
                        value: "clinical",
                        text: "Normal, but symptoms need clinical assessment"
                      } if event.medicalInformation.symptoms | length > 0,
                      {
                        value: "abnormal",
                        text: "Abnormal, recall for assessment"
                      }
                    ] | removeEmpty
                  }) }}

                  {% call appCollapsibleInput({ text: "Add " + breastSide + " breast comment" }) %}
                    {{ input({
                      name: "imageReadingTemp[" + breastSide + "][comment]",
                      value: data.imageReadingTemp[breastSide].comment,
                      label: {
                        text: Side + " breast comment (optional)",
                        classes: "nhsuk-label--s"
                      },
                      formGroup: {
                        classes: "nhsuk-u-margin-bottom-0"
                      }
                    }) }}
                  {% endcall %}

                  {# Annotations list #}
                  <h3 class="app-ann-v2__sidebar-heading nhsuk-u-margin-top-4">Annotations</h3>
                  {{ appAnnotationList({
                    annotations: sideAnnotations,
                    interactive: true,
                    editable: true,
                    editHrefPrefix: "./annotation/edit/",
                    addHref: "./annotation/add?side=" + breastSide,
                    useModals: data.settings.modalForms == 'true'
                  }) }}
                </div>
              </div>
            </div>
          </div>

          <span hidden data-annotation-count="{{ breastSide }}" data-count="{{ sideAnnotations | length }}"></span>
        {% endfor %}
      </div>
    </div>
  </div>
</div>

{# Annotation modal for inline editing #}
{% include "_includes/reading/annotation-modal.njk" %}

{# Image lightbox #}
{% include "_includes/reading/annotation-lightbox.njk" %}

<script src="/assets/javascript/annotation-markers.js"></script>
<script>
  (function () {
    var allAnnotations = []
    {% for breastSide in ["right", "left"] %}
      {% set sideAnnotations = rightAnnotations if breastSide == "right" else leftAnnotations %}
      {% for ann in sideAnnotations %}
        allAnnotations.push({{ ann | dump | safe }})
      {% endfor %}
    {% endfor %}

    window._annotationInstance = AnnotationMarkers.init({
      container: '#annotation-container',
      annotations: allAnnotations,
      activeSide: '{{ initialSide }}',
      saveUrl: './save-annotations-json'
    })
  })()
</script>
