{# app/views/_includes/reading/opinion-banner.njk #}
{# Temporary banner shown after recording the previous opinion #}

{% if readingOpinionBanner %}
  <div class="app-reading-opinion-banner" data-reading-opinion-banner="true" data-auto-close-delay="300000">
    <p class="app-reading-opinion-banner__text">{{ readingOpinionBanner.text }}</p>
    <a class="app-reading-opinion-banner__link" href="{{ readingOpinionBanner.editHref }}">Review</a>
  </div>
{% endif %}