{% extends 'layout-appointment.html' %}

{% set pageHeading = "Confirm special appointment requirements" %}

{% set isNoLongerSpecialAppointment = data.event.specialAppointment.supportTypes | length === 0 %}

{% if isNoLongerSpecialAppointment %}
  {% set pageHeading = "Confirm " + (participant | getFullName) + " no longer needs additional support" %}
{% endif %}

{% set gridColumn = "nhsuk-grid-column-two-thirds" %}

{% set formAction = "./confirm-answer" %}

{% set back = {
  href: "./edit",
  text: "Back"
} %}

{% set allowEdits = true %}

{% block appointmentContent %}

  {% set unit = data.breastScreeningUnits | findById(clinic.breastScreeningUnitId) %}

  <h1 class="nhsuk-heading-l">
    <span class="nhsuk-caption-m">
      {{ participant | getFullName }}
    </span>
    {{ pageHeading }}
  </h1>



  {% if isNoLongerSpecialAppointment %}
    <p>
      This appointment and future appointments will no longer be treated as special appointments. This means that the appointment will be the normal length.
    </p>

  {% else %}
      {% include "summary-lists/special-appointment/special-appointment.njk" %}
  {% endif %}

  {{ button({
    text: "Confirm"
  }) }}

  <p>
    <a href="{{ eventUrl }}">Cancel and return to participant</a>
  </p>

{% endblock %}