{% set secondaryNavItems = [] %}

{% for item in ([
  { id: 'appointment', label: 'Appointment' },
  { id: 'participant', label: 'Participant' },
  { id: 'medical-information', label: 'Medical information' },
  { id: 'images', label: 'Images' } if event | isCompleted,
  { id: 'appointment-note', label: 'Note' }
] | removeEmpty) %}
  {% set href -%}
    /clinics/{{ clinicId }}/events/{{event.id}}{{ ("/" + item.id) if item.id !== 'all' }}
  {% endset %}

  {% set secondaryNavItems = secondaryNavItems | push({
    text: item.label,
    href: href | trim,
    current: true if item.id == activeTab
  }) %}

{% endfor %}

{# Margins end up doubling up when there's a warning card immeditely after secondary nav - selectively remove margin here if that's the case. This is hacky! #}
{% set suppressMargin = true if (activeTab == 'appointment') and ((event | isSpecialAppointment) or (event | hasAppointmentNote)) %}


{{ appSecondaryNavigation({
  visuallyHiddenTitle: "Secondary menu",
  items: secondaryNavItems,
  classes: "nhsuk-u-margin-bottom-0" if suppressMargin
}) }}
