{# app/views/_includes/appointment-header.njk #}

{# Banner if event is in progress by someone else #}
{% if (event | isInProgress) and not event | startedByCurrentUser %}
  {% set notificationBannerHtml %}
    <p class="nhsuk-notification-banner__heading">
      This appointment is currently being run by {{ event.sessionDetails.startedBy | getUsername({
        format: 'short',
        identifyCurrentUser: true
      }) }}.
    </p>
  {% endset %}

  {{ notificationBanner({
    html: notificationBannerHtml,
    type: "information"
  }) }}
{% endif %}

<div class="app-header-with-status">
  <h1 class="nhsuk-heading-l">
    <span class="nhsuk-caption-l">
      {{ clinic.clinicType | sentenceCase }} appointment
    </span>
    {{ participant | getFullName | safe }}
  </h1>

  <div class="app-header-with-status__status-tag">
    {% set statusTagId = "status-tag-" + event.id %}
    {{ event.status | toTag({
      id: statusTagId,
      classes: "nhsuk-u-margin-bottom-2"
    }) }}

    {% if event.status == 'event_scheduled' %}
      {{ appCheckIn({
        clinicId: clinicId,
        event: event,
        participant: participant,
        confirmIdentityOnCheckIn: true if data.settings.screening.confirmIdentityOnCheckIn == 'true' else false,
        statusTagId: statusTagId
      }) }}
    {% endif %}

    <br>
    {{ buttonMenu({
      items: [
        {
          text: "Reschedule appointment",
          href: "#" | urlWithReferrer(currentUrl),
          classes: "nhsuk-button--secondary"
        },
        {
          text: "Cancel appointment",
          href: "#" | urlWithReferrer(currentUrl),
          classes: "nhsuk-button--secondary"
        },
        {
          text: "Make this appointment a special appointment" if not event | isSpecialAppointment else "Change special appointment details",
          href: eventUrl ~ "/special-appointment/edit" | urlWithReferrer(eventUrl),
          classes: "nhsuk-button--secondary"
        }
      ],
      button: {
        text: "Appointment actions",
        classes: "nhsuk-button--secondary"
      },
      alignMenu: "right"
    }) }}
  </div>
</div>

<p class="app-text-grey">
  <span>NHS Number: {{ participant.medicalInformation.nhsNumber | formatNhsNumber }}</span>
</p>

<p>
  {{ event.timing.startTime | formatTimeString }} ({{ event.timing.duration }} minutes) - {{ clinic.date | formatDate }} ({{ clinic.date | formatRelativeDate }})
</p>

<p class="nhsuk-u-margin-bottom-4"><a href="{{ '/participants/' + participant.id | urlWithReferrer(currentUrl) }}">View participant record</a></p>

{% if event | hasNotStarted and currentUser | isClinician %}
  <form action="./start" method="POST">
    <div class="nhsuk-grid-row">
      <div class="nhsuk-grid-column-two-thirds">
        {{ appHiddenInput({
          name: "event[workflowStatus][appointment]",
          value: "started"
        }) }}
        {{ button({
          text: "Start this appointment",
          classes: ""
        }) }}
      </div>
    </div>
  </form>
{% endif %}

{% include "_includes/appointment/appointment-tabs.njk" %}