{# /app/views/appointments/reading/confirm-normal.html #}

{% extends parentLayout or 'layout-reading.html' %}

{% set pageHeading = "Confirm normal result" %}

{% set gridColumn = "nhsuk-grid-column-two-thirds" %}

{% set formAction = './save-opinion' | urlWithReferrer(referrerChain) %}

{% block pageContent %}

  <span class="nhsuk-caption-l">
    {{ participant | getFullNameReversed }}
  </span>

  <h1 class="nhsuk-heading-l js-image-count">
    {{ pageHeading }}
  </h1>

  {{ button({
    text: "Confirm",
    preventDoubleClick: true
  }) }}

{% endblock %}


