{# /app/views/reading/workflow/normal-details.html #}

{% extends 'layout-reading.html' %}

{% set pageHeading = "Normal with details" %}

{% set gridColumn = "none" %}

{% set formAction = './review' %}


{% set backLink = value %}

{% block pageContent %}

  <div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-two-thirds">
      <span class="nhsuk-caption-l">
        {{ participant | getFullName }}
      </span>
      <h1 class="nhsuk-heading-l js-image-count">
        {{ pageHeading }}
      </h1>
    </div>
  </div>

  <div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-full">
      {% set symptoms = event.medicalInformation.symptoms %}
      {% set hasSymptoms = symptoms | length > 0 %}

      {% include "symptomsWarningCard.njk" %}
    </div>
  </div>

  <div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-two-thirds">
      {{ textarea({
        name: "imageReadingTemp[normalDetails]",
        id: "normalDetails",
        label: {
          text: "Provide information to support your decision" ~(" (optional)" if hasSymptoms),
          classes: "nhsuk-label--s"
        },
        value: data.imageReadingTemp.normalDetails
      }) }}

      {% if hasSymptoms %}
        {{ checkboxes({
          idPrefix: "symptomsAcknowledged",
          name: "imageReadingTemp[symptomsAcknowledged]",
          items: [
            {
              value: "true",
              text: "I acknowledge that the reported symptoms have been considered in my decision"
            }
          ],
          values: data.imageReadingTemp.symptomsAcknowledged
        }) }}
      {% endif %}

      {{ button({
        text: "Continue"
      }) }}
    </div>
  </div>

{% endblock %}


