{# app/views/reading/workflow/review.html #}
{# Review page for technical recall and recall for assessment #}

{% extends parentLayout or 'layout-reading.html' %}

{% set pageHeading = "Confirm your opinion" %}

{% set formAction = './save-opinion' %}

{% block pageContent %}

  <div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-full">

      <span class="nhsuk-caption-l">
        {{ participant | getFullName }}
      </span>
      <h1 class="nhsuk-heading-l">{{ pageHeading }}</h1>

      {# Assessment summary card #}
      {% set withImages = data.settings.reading.annotationsMode != 'without-images' %}
      {% if withImages %}
        {% set mammogramImages = getImagesForEvent(eventId, "diagrams", { event: event }) %}
        {% set allPaths = mammogramImages.allPaths if mammogramImages else {} %}
      {% endif %}

      {% set readSummaryHtml %}
        {% set read = data.imageReadingTemp %}
        {% set allowEdits = true %}
        {% set changeOpinionUrl = "./opinion" %}
        {% set showAnnotationImages = withImages %}
        {% set annotationImagePaths = allPaths %}
        {% include "_includes/summary-lists/read-summary.njk" %}
      {% endset %}

      {{ card({
        heading: "Your read",
        headingLevel: "2",
        feature: true,
        descriptionHtml: readSummaryHtml
      }) }}

      {# Confirm and save form #}
      {{ button({
        text: "Confirm and save"
      }) }}

    </div>
  </div>

  {% if withImages %}
    <script src="/assets/javascript/annotation-markers.js"></script>
    <script>AnnotationMarkers.correctAll()</script>
  {% endif %}

{% endblock %}
