{# app/views/events/medical-information/medical-history/appointment-cannot-proceed.html #}

{% extends 'layout-appointment.html' %}

{% set pageHeading = "This appointment cannot proceed" %}

{% set gridColumn = "nhsuk-grid-column-two-thirds" %}

{% set formAction = './appointment-cannot-proceed-answer' | urlWithReferrer(referrerChain, query.scrollTo) %}

{% block pageContent %}

  <h1 class="nhsuk-heading-l">
    <span class="nhsuk-caption-l">
      {{ participant | getFullName }}
    </span>
    {{ pageHeading }}
  </h1>

  <p>The participant has not given their consent.</p>

  <p>They can choose to receive invites to future appointments, or opt out of the breast screening programme.</p>

  {{ radios({
    name: "event[cannotProceed][futureScreeningPlan]",
    value: event.cannotProceed.futureScreeningPlan,
    fieldset: {
      legend: {
        text: "Does the participant plan to attend breast screening in future?",
        classes: "nhsuk-fieldset__legend--m",
        isPageHeading: false
      }
    },
    items: [
      {
        value: "contact-six-weeks",
        text: "Yes, contact them in six weeks to rearrange"
      },
      {
        value: "invite-next-routine",
        text: "Yes, invite to next routine appointment"
      },
      {
        value: "opt-out",
        text: "No, permanently opt out",
        hint: {
          text: "They will receive information explaining their options"
        }
      }
    ]
  }) }}

  {{ button({
    text: "End appointment and return to clinic"
  }) }}

{% endblock %}