{# app/views/events/medical-information/breast-implants.html #}

{% extends 'layout-medical-history-form.html' %}

{% set pageHeading = "Breast implants or augmentation" %}
{% set medicalHistoryType = "breastImplantsAugmentation" %}

{% block formContent %}

{{ radios({
    name: "event[medicalInformation][breastImplants][type]",
    value: event.medicalInformation.breastImplants.type,
    fieldset: {
      legend: {
        text: "What type of breast implants or augmentation?",
        classes: "nhsuk-fieldset__legend--m",
        isPageHeading: false
      }
    },
    items: [
      {
        value: "Saline",
        text: "Saline"
      },
      {
        value: "Silicone",
        text: "Silicone"
      },
      {
        value: "Fat transfer",
        text: "Fat transfer"
      }
    ]
  }) }}


  {% set generalLocationText = "Which breast(s) have implants?" %}
  {% include "_includes/medical-information/medical-history/general-location.njk" %}

  {% set dateQuestionText = "When was the procedure?" %}
  {% include "_includes/medical-information/medical-history/date.njk" %}

  {% set additionalDetailsHintText = "Include any other relevant information" %}
  {% include "_includes/medical-information/medical-history/additional-details.njk" %}

{% endblock formContent %}




