{# app/views/events/medical-information/medical-history/breast-implants-augmentation.html #}

{% extends 'layout-medical-history-form.html' %}

{% set pageHeading = "Breast implants or augmentation" %}
{% set medicalHistoryType = "breastImplantsAugmentation" %}

{% block formContent %}

  {% call fieldset({
    legend: {
      text: "What procedure(s) has " + (participant.firstName or "the participant") + " had?",
      classes: "nhsuk-fieldset__legend--m"
    }
  }) %}
    
    <div class="nhsuk-grid-row">
      <div class="nhsuk-grid-column-one-half">
        <h3 class="nhsuk-heading-s">Right breast</h3>
        {{ checkboxes({
          name: "event[medicalHistoryTemp][proceduresRightBreast]",
          values: event.medicalHistoryTemp.proceduresRightBreast,
          items: [
            {
              value: "breast-implants",
              text: "Breast implants (silicone or saline)"
            },
            {
              value: "other-augmentation",
              text: "Other augmentation"
            }
          ]
        }) }}
      </div>
      <div class="nhsuk-grid-column-one-half">
        <h3 class="nhsuk-heading-s">Left breast</h3>
        {{ checkboxes({
          name: "event[medicalHistoryTemp][proceduresLeftBreast]",
          values: event.medicalHistoryTemp.proceduresLeftBreast,
          items: [
            {
              value: "breast-implants",
              text: "Breast implants (silicone or saline)"
            },
            {
              value: "other-augmentation",
              text: "Other augmentation"
            }
          ]
        }) }}
      </div>
    </div>

  {% endcall %}

    <div class="nhsuk-u-padding-bottom-4"></div>


  {{ checkboxes({
    name: "event[medicalHistoryTemp][recentProcedure]",
    value: event.medicalHistoryTemp.recentProcedure,
    items: [
      {
        value: "true",
        text: "Procedure was within the last six months",
        checked: event.medicalHistoryTemp.recentProcedure == "true",
        conditional: {
          html: dateInput({
            id: "procedure-date",
            namePrefix: "event[medicalHistoryTemp][procedureDate]",
            fieldset: {
              legend: {
                text: "Provide date (optional)",
                classes: "nhsuk-fieldset__legend--s"
              }
            },
            hint: {
              text: "For example, 3 2019"
            },
            items: [
              {
                name: "month",
                classes: "nhsuk-input--width-2",
                value: event.medicalHistoryTemp.procedureDate.month
              },
              {
                name: "year",
                classes: "nhsuk-input--width-4",
                value: event.medicalHistoryTemp.procedureDate.year
              }
            ]
          })
        }
      }
    ]
  }) }}



  {{ checkboxes({
    name: "event[medicalHistoryTemp][implantsRemoved]",
    value: event.medicalHistoryTemp.implantsRemoved,
    items: [
      {
        value: "true",
        text: "Implants have been removed",
        checked: event.medicalHistoryTemp.implantsRemoved == "true",
        conditional: {
          html: input({
            name: "event[medicalHistoryTemp][removalDetails]",
            value: event.medicalHistoryTemp.removalDetails,
            id: "removal-details",
            label: {
              text: "Provide details"
            }
          })
        }
      }
    ]
  }) }}

      <div class="nhsuk-u-padding-bottom-4"></div>


  {{ textarea({
    name: "event[medicalHistoryTemp][additionalInfo]",
    value: event.medicalHistoryTemp.additionalInfo,
    id: "additional-info",
    label: {
      text: "Additional info (optional)",
      classes: "nhsuk-label--m"
    }
  }) }}

{% endblock formContent %}