{# app/views/events/medical-information/medical-history/cysts.html #}

{% extends 'layout-medical-history-form.html' %}

{% set pageHeading = "Cysts" %}
{% set medicalHistoryType = "cysts" %}

{% block formContent %}

  {{ radios({
    name: "event[medicalHistoryTemp][location]",
    value: event.medicalHistoryTemp.location,
    fieldset: {
      legend: {
        text: "In which breast(s) has " + (participant.firstName or "the participant") + " had cysts?",
        classes: "nhsuk-fieldset__legend--m"
      }
    },
    items: [
      {
        value: "Right",
        text: "Right"
      },
      {
        value: "Left",
        text: "Left"
      },
      {
        value: "Both",
        text: "Both"
      },
      {
        value: "Does not know",
        text: "Does not know"
      }
    ]
  }) }}

  {{ checkboxes({
    name: "event[medicalHistoryTemp][cystsDrained]",
    value: event.medicalHistoryTemp.cystsDrained,
    items: [
      {
        value: "true",
        text: "Cysts have been drained or removed",
        checked: event.medicalHistoryTemp.cystsDrained == "true",
        conditional: {
          html: input({
            name: "event[medicalHistoryTemp][drainageDetails]",
            value: event.medicalHistoryTemp.drainageDetails,
            id: "drainage-details",
            label: {
              text: "Provide details (optional)"
            }
          })
        }
      }
    ]
  }) }}

  {{ textarea({
    name: "event[medicalHistoryTemp][additionalInfo]",
    value: event.medicalHistoryTemp.additionalInfo,
    id: "additional-info",
    label: {
      text: "Additional info (optional)",
      classes: "nhsuk-label--m"
    }
  }) }}

{% endblock formContent %}