{# app/views/events/medical-information/medical-history/cysts.html #}

{% extends 'layout-medical-history-form.html' %}

{% set pageHeading = "Add details of cysts" %}
{% set medicalHistoryType = "cysts" %}

{% block formContent %}

  {{ radios({
    name: "event[medicalHistoryTemp][cystsStatus]",
    value: event.medicalHistoryTemp.cystsStatus,
    fieldset: {
      legend: {
        text: "What breast cycst treatment has " + (participant.demographicInformation.firstName or "the participant") + " had?",
        classes: "nhsuk-fieldset__legend--m"
      }
    },
    items: [
      {
        value: "Drainage or removal",
        text: "Drainage or removal"
      },
      {
        value: "No treatment",
        text: "No treatment"
      }
    ]
  }) }}

  {% set additionalDetailsHintText = "Include any other relevant information about the procedure" %}
  {% include "_includes/medical-information/medical-history/additional-details.njk" %}

{% endblock formContent %}