{# app/views/events/medical-information/medical-history/implanted-medical-device.html #}

{% extends 'layout-medical-history-form.html' %}

{% set pageHeading = "Add details of an implanted medical device" %}
{% set medicalHistoryType = "implantedMedicalDevice" %}


{% block formContent %}

  {% set conditionalNotKnownDetails %}
    {{ input({
        name: "event[medicalHistoryTemp][typeNotKnownDetails]",
        value: event.medicalHistoryTemp.typeNotKnownDetails,
      label: {
          text: "Provide details (optional)"
      }
    }) }}
  {% endset %}

  {{ radios({
    name: "event[medicalHistoryTemp][type]",
    value: event.medicalHistoryTemp.type,
    fieldset: {
      legend: {
        text: "What device does " + (participant.demographicInformation.firstName or "the participant") + " have?",
        size: "m"
      }
    },
    items: [
      {
        value: "Cardiac device",
        text: "Cardiac device (such as a pacemaker or ICD)"
      },
      {
        value: "Hickman line",
        text: "Hickman line"
      },
      {
        value: "Other device",
        text: "Other device"
      },
      {
        divider: "or"
      },
      {
        value: "Not known",
        text: "Not known",
        conditional: {
          html: conditionalNotKnownDetails
        }
      }
    ]
  }) }}

  {{ input({
    label: {
      text: "Year of procedure (optional)",
      size: "m"
    },
    hint: {
      text: "Add a year or date range"
    },
    name: "event[medicalHistoryTemp][year]",
    value: event.medicalHistoryTemp.year,
    id: "year",
    classes: "nhsuk-input--width-10",
    inputmode: "text"
  }) }}

  {{ checkboxes({
    idPrefix: "yearIsApproximate",
    name: "event[medicalHistoryTemp][yearIsApproximate]",
    items: [
      {
        value: "yes",
        text: "This date is approximate",
        checked: true if event.medicalHistoryTemp.yearIsApproximate else false
      }
    ]
  }) }}

  <h2>Removed implants</h2>

  {% set conditionalDetails %}
    {{ input({
      label: {
        text: "Year removed"
      },
      name: "event[medicalHistoryTemp][yearRemoved]",
      value: event.medicalHistoryTemp.yearRemoved,
      id: "yearRemoved",
      classes: "nhsuk-input--width-4",
      inputmode: "numeric"
    }) }}
  {% endset %}

  {{ checkboxes({
    name: "event[medicalHistoryTemp][deviceRemoved]",
    values: event.medicalHistoryTemp.deviceRemoved,
    items: [
      {
        value: "Implanted device has been removed",
        text: "Implanted device has been removed",
        conditional: {
          html: conditionalDetails
        }
      }
    ]
  }) }}

  {% include "_includes/medical-information/medical-history/additional-details.njk" %}

{% endblock formContent %}