{# app/views/events/medical-information/medical-history/implanted-medical-devices.html #}

{% extends 'layout-medical-history-form.html' %}

{% set pageHeading = "Implanted medical devices" %}
{% set medicalHistoryType = "implantedMedicalDevices" %}


{% block formContent %}

  {{ radios({
    name: "event[medicalHistoryTemp][type]",
    value: event.medicalHistoryTemp.type,
    fieldset: {
      legend: {
        text: "What device does " + (participant.firstName or "the participant") + " have?",
        classes: "nhsuk-fieldset__legend--m"
      }
    },
    items: [
      {
        value: "Cardiac device",
        text: "Cardiac device (such as a pacemaker or ICD)"
      },
      {
        value: "Hickman line",
        text: "Hickman line"
      },
      {
        value: "Other medical device",
        text: "Other medical device (or does not know)",
        conditional: {
          html: input({
            name: "event[medicalHistoryTemp][details]",
            value: event.medicalHistoryTemp.details,
            id: "device-details",
            label: {
              text: "Provide details"
            }
          })
        }
      }
    ]
  }) }}

  {% include "_includes/medical-information/medical-history/recent-procedure.njk" %}


  {{ checkboxes({
    name: "event[medicalHistoryTemp][deviceRemoved]",
    value: event.medicalHistoryTemp.deviceRemoved,
    items: [
      {
        value: "true",
        text: "Implanted device has been removed",
        checked: event.medicalHistoryTemp.deviceRemoved == "true",
        conditional: {
          html: input({
            name: "event[medicalHistoryTemp][removalDetails]",
            value: event.medicalHistoryTemp.removalDetails,
            id: "removal-details",
            label: {
              text: "Provide details"
            }
          })
        }
      }
    ]
  }) }}

   {% include "_includes/medical-information/medical-history/additional-details.njk" %}


{% endblock formContent %}