{# app/views/events/medical-information/medical-history/lymph-node-surgery.html #}

{% extends 'layout-medical-history-form.html' %}

{% set pageHeading = "Lymph node surgery" %}
{% set medicalHistoryType = "lymphNodeSurgery" %}

{% block formContent %}

  {% set dateQuestionText = "When was the procedure?" %}
  {% include "_includes/medical-information/medical-history/date.njk" %}

  {% set additionalDetailsHintText = "Include any other relevant information" %}
  {% include "_includes/medical-information/medical-history/additional-details.njk" %}

{% endblock formContent %}




