{# app/views/events/medical-information/mastectomy.html #}

{% extends 'layout-medical-history-form.html' %}

{% set pageHeading = "Mastectomy" %}
{% set medicalHistoryType = "mastectomy" %}

{% block formContent %}


{{ radios({
  name: "event[medicalHistoryTemp][type]",
  value: event.medicalHistoryTemp.type,
  fieldset: {
    legend: {
      text: typeQuestionText or "What type of mastectomy?",
      classes: "nhsuk-fieldset__legend--m"
    }
  },
  items: [
    {
      value: "Full mastectomy",
      text: "Full mastectomy"
    },
    {
      value: "Partial mastectomy",
      text: "Partial mastectomy"
    },
    {
      value: "Other",
      text: "Other",
      conditional: {
        html: input({
          name: "event[medicalHistoryTemp][otherMastectomyDetails]",
          value: event.medicalHistoryTemp.otherMastectomyDetails,
          id: "other-mastectomy-details",
          label: {
            text: "Add details"
          }
        })
      }
    }
  ]
}) }}


  {% set dateQuestionText = "When was the procedure?" %}
  {% include "_includes/medical-information/medical-history/date.njk" %}

  {% set additionalDetailsHintText = "Include any other relevant information" %}
  {% include "_includes/medical-information/medical-history/additional-details.njk" %}

{% endblock formContent %}




