{# app/views/events/medical-information/medical-history/mastectomy-lumpectomy.html #}

{% extends 'layout-medical-history-form.html' %}

{% set pageHeading = "Mastectomy or lumpectomy" %}
{% set medicalHistoryType = "mastectomyLumpectomy" %}

{% block formContent %}

  {% set breastCancerUrl = "./breast-cancer/add" | urlWithReferrer(query.referrerChain, query.scrollTo) %}

  <p>
    This is designed to capture information on prophylactic or elective surgery. <a href="{{ breastCancerUrl }}" class="nhsuk-link">Add breast cancer details</a> if that was the reason for this surgery.
  </p>

  {% set proceduresQuestionText %}
    What surgery has {{ participant.demographicInformation.firstName or "the participant" }} had
  {%- endset %}

  {# H2 hidden from AT as it's included in the fieldset legend of each set of checkboxes #}
  <h2 aria-hidden="true">{{ proceduresQuestionText }}?</h2>

  <div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-one-half">
      {{ radios({
        name: "event[medicalHistoryTemp][proceduresRightBreast]",
        value: event.medicalHistoryTemp.proceduresRightBreast,
        idPrefix: "proceduresRightBreast",
        fieldset: {
          legend: {
            html: ((proceduresQuestionText + " in their") | asVisuallyHiddenText) ~ " Right breast",
            classes: "nhsuk-fieldset__legend--s",
            isPageHeading: false
          }
        },
        items: [
          {
            value: "Full mastectomy",
            text: "Full mastectomy"
          },
          {
            value: "Lumpectomy",
            text: "Lumpectomy (or partial mastectomy)"
          },
          {
            divider: "or"
          },
          {
            value: "No surgery",
            text: "No surgery"
          }
        ]
      }) }}
    </div>

    <div class="nhsuk-grid-column-one-half">
      {{ radios({
        name: "event[medicalHistoryTemp][proceduresLeftBreast]",
        value: event.medicalHistoryTemp.proceduresLeftBreast,
        idPrefix: "proceduresLeftBreast",
        fieldset: {
          legend: {
            html: ((proceduresQuestionText + " in their") | asVisuallyHiddenText) ~ " Left breast",
            classes: "nhsuk-fieldset__legend--s",
            isPageHeading: false
          }
        },
        items: [
          {
            value: "Full mastectomy",
            text: "Full mastectomy"
          },
          {
            value: "Lumpectomy",
            text: "Lumpectomy (or partial mastectomy)"
          },
          {
            divider: "or"
          },
          {
            value: "No surgery",
            text: "No surgery"
          }
        ]
      }) }}
    </div>
  </div>

  {# Was procedure in last 6 months #}
  {% include "_includes/medical-information/medical-history/recent-procedure.njk" %}

  {{ checkboxes({
    name: "event[medicalHistoryTemp][hadReconstruction]",
    values: event.medicalHistoryTemp.hadReconstruction,
    items: [
      {
        value: "Has had reconstruction or symmetrisation surgery",
        text: "Has had reconstruction or symmetrisation surgery"
      }
    ]
  }) }}
  {# Needed to track if this question is asked by the page so we can show default text #}
  {{ appHiddenInput({
    name: "event[medicalHistoryTemp][hasHadReconstructionCheckbox]",
    value: "true"
  }) }}


  {% set conditionalInputHtml %}
    {{ input({
      name: "event[medicalHistoryTemp][mastectomyLumpectomySurgeryReasonDetails]",
      value: event.medicalHistoryTemp.mastectomyLumpectomySurgeryReasonDetails,

      label: {
        text: "Provide details"
      }
    }) }}
  {% endset %}
  {{ radios({
    name: "event[medicalHistoryTemp][mastectomyLumpectomySurgeryReason]",
    value: event.medicalHistoryTemp.mastectomyLumpectomySurgeryReason,
    idPrefix: "mastectomyLumpectomySurgeryReason",
    fieldset: {
      legend: {
        text: "Why was this surgery done?",
        classes: "nhsuk-fieldset__legend--m"
      }
    },
    items: [
      {
        value: "Risk reduction",
        text: "Risk reduction"
      },
      {
        value: "Gender-affirmation",
        text: "Gender-affirmation (top surgery)"
      },
      {
        value: "Other reason",
        text: "Other reason",
        conditional: {
          html: conditionalInputHtml
        }
      }
    ]
  }) }}

  {% set additionalDetailsHintText = "Include any other relevant information about the surgery" %}
  {% include "_includes/medical-information/medical-history/additional-details.njk" %}

{% endblock formContent %}