{# app/views/events/medical-information/non-cancerous-breast-surgeries.html #}

{% extends 'layout-medical-history-form.html' %}

{% set pageHeading = "Non-cancerous breast surgeries" %}
{% set medicalHistoryType = "nonCancerousBreastSurgeries" %}

{% block formContent %}


  {{ radios({
    name: "event[medicalHistoryTemp][type]",
    value: event.medicalHistoryTemp.type,
    fieldset: {
      legend: {
        text: typeQuestionText or "What type of surgery?",
        classes: "nhsuk-fieldset__legend--m"
      }
    },
    items: [
      {
        value: "Breast reduction",
        text: "Breast reduction"
      },
      {
        value: "Breast implant removal",
        text: "Breast implant removal"
      },
      {
        value: "Other",
        text: "Other",
        conditional: {
          html: input({
            name: "event[medicalHistoryTemp][typeOtherDetails]",
            value: event.medicalHistoryTemp.typeOtherDetails,
            id: "other-surgery-details",
            label: {
              text: "Add details"
            }
          })
        }
      }
    ]
  }) }}

  {% set dateQuestionText = "When was the procedure?" %}
  {% include "_includes/medical-information/medical-history/date.njk" %}

  {% set additionalDetailsHintText = "Include any other relevant information" %}
  {% include "_includes/medical-information/medical-history/additional-details.njk" %}

{% endblock formContent %}




