{# app/views/events/medical-information/other-breast-chest-procedures.html #}

{% extends 'layout-medical-history-form.html' %}

{% set pageHeading = "Other breast or chest procedures" %}
{% set medicalHistoryType = "otherBreastChestProcedures" %}

{% block formContent %}


  {{ input({
    name: "event[medicalHistoryTemp][type]",
    value: event.medicalHistoryTemp.type,
    id: "procedure-type",
    label: {
      text: "What was the procedure?",
      classes: "nhsuk-label--m"
    }
  }) }}

  {% set generalLocationText = "Where was the procedure?" %}
  {% include "_includes/medical-information/medical-history/general-location.njk" %}

  {% set dateQuestionText = "When was the procedure?" %}
  {% include "_includes/medical-information/medical-history/date.njk" %}

  {% set additionalDetailsHintText = "Include any other relevant information" %}
  {% include "_includes/medical-information/medical-history/additional-details.njk" %}

{% endblock formContent %}




