{# app/views/events/confirm-information/previous-mammograms.html #}

{% extends 'layout-appointment.html' %}

{% set pageHeading = "Review previous mammograms" %}
{% set showNavigation = false %}
{% set activeWorkflowStep = 'review' %}
{% set hideBackLink = true %}

{% set allowEdits = true %}

{% set gridColumn = "nhsuk-grid-column-full" %}

{% set scrollTo = "mammogram-history" %}

{% block pageContent %}

  {# TODO: Ideally this would be before the main element #}
  {{ backLink({
    href: "javascript:history.back();",
    text: "Back",
    classes: "nhsuk-u-margin-top-0 nhsuk-u-margin-bottom-4"
  }) }}

  <h1>{{ pageHeading }}</h1>

  {# Include the full previous mammograms summary in a feature card #}
  {% set previousMammogramsHtml %}
    {% include "_includes/medical-information/previous-mammograms.njk" %}
  {% endset %}

  {{ card({
    heading: "Previous mammograms",
    headingLevel: "2",
    feature: true,
    descriptionHtml: previousMammogramsHtml
  }) }}

  {# Continue button back to review #}
  <div class="nhsuk-form-group">
    {{ button({
      text: "Confirm",
      href: "../review" | urlWithReferrer(referrerChain)
    }) }}
  </div>

{% endblock %}
