{# app/views/appointments/medical-information/medical-history/breast-cancer.html #}

{% extends 'layout-medical-history-form.html' %}

{% set pageHeading = "Add breast cancer details" %}
{% set medicalHistoryType = "breastCancer" %}

{% block formContent %}

  {% call fieldset({
    legend: {
      text: "Where was the cancer diagnosed?",
      size: "m"
    },
    attributes: {
      "aria-describedby": "breast-location-hint"
    }
  }) %}

    <div class="nhsuk-grid-row">
      <div class="nhsuk-grid-column-one-half">
        {{ checkboxes({
          name: "appointment[medicalHistoryTemp][cancerLocation]",
          values: appointment.medicalHistoryTemp.cancerLocation,
          idPrefix: "cancerLocationRightBreast",
          formGroup: {
            classes: "nhsuk-u-margin-bottom-2"
          },
          items: [
            {
              value: "Right breast",
              text: "Right breast"
            }
          ]
        }) }}
      </div>
      <div class="nhsuk-grid-column-one-half">
        {{ checkboxes({
          name: "appointment[medicalHistoryTemp][cancerLocation]",
          values: appointment.medicalHistoryTemp.cancerLocation,
          idPrefix: "cancerLocationLeftBreast",
          formGroup: {
            classes: "nhsuk-u-margin-bottom-2"
          },
          items: [
            {
              value: "Left breast",
              text: "Left breast"
            }
          ]
        }) }}
      </div>
    </div>

    {{ checkboxes({
      name: "appointment[medicalHistoryTemp][cancerLocation]",
      values: appointment.medicalHistoryTemp.cancerLocation,
      idPrefix: "cancerLocationNotKnown",
      items: [
        {
          divider: "or"
        },
        {
          value: "Not known",
          text: "Not known",
          exclusive: true
        }
      ]
    }) }}

  {% endcall %}

  {% set yearText = "Year of diagnosis (optional)" %}
  {% set yearFieldName = "diagnosisYear" %}
  {% set yearApproximateFieldName = "diagnosisYearIsApproximate" %}
  {% include "_includes/medical-information/medical-history/year.njk" %}

  {% set procedureQuestionText %}
    What procedure have they had
  {%- endset %}

  {# H2 hidden from AT as it's included in the fieldset legend of each set of radios #}
  <h2 aria-hidden="true">{{ procedureQuestionText }}?</h2>

  <div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-one-half">
      {{ radios({
        name: "appointment[medicalHistoryTemp][proceduresRightBreast]",
        value: appointment.medicalHistoryTemp.proceduresRightBreast,
        idPrefix: "proceduresRightBreast",
        fieldset: {
          legend: {
            html: ((procedureQuestionText + " in their") | asVisuallyHiddenText) ~ " Right breast (or axilla)",
            size: "s",
            isPageHeading: false
          }
        },
        items: [
          {
            value: "Lumpectomy",
            text: "Lumpectomy"
          },
          {
            value: "Mastectomy (tissue remaining)",
            text: "Mastectomy (tissue remaining)"
          },
          {
            value: "Mastectomy (no tissue remaining)",
            text: "Mastectomy (no tissue remaining)"
          },
          {
            value: "No procedure",
            text: "No procedure"
          },
          {
            divider: "or"
          },
          {
            value: "Not known",
            text: "Not known"
          }
        ]
      }) }}
    </div>
    <div class="nhsuk-grid-column-one-half">
      {{ radios({
        name: "appointment[medicalHistoryTemp][proceduresLeftBreast]",
        value: appointment.medicalHistoryTemp.proceduresLeftBreast,
        idPrefix: "proceduresLeftBreast",
        fieldset: {
          legend: {
            html: ((procedureQuestionText + " in their") | asVisuallyHiddenText) ~ " Left breast (or axilla)",
            size: "s",
            isPageHeading: false
          }
        },
        items: [
          {
            value: "Lumpectomy",
            text: "Lumpectomy"
          },
          {
            value: "Mastectomy (tissue remaining)",
            text: "Mastectomy (tissue remaining)"
          },
          {
            value: "Mastectomy (no tissue remaining)",
            text: "Mastectomy (no tissue remaining)"
          },
          {
            value: "No procedure",
            text: "No procedure"
          },
          {
            divider: "or"
          },
          {
            value: "Not known",
            text: "Not known"
          }
        ]
      }) }}
    </div>
  </div>

  {% set otherSurgeryQuestionText %}
    What other surgery have they had
  {%- endset %}

  {# H2 hidden from AT as it's included in the fieldset legend of each set of checkboxes #}
  <h2 aria-hidden="true">{{ otherSurgeryQuestionText }}?</h2>

  <div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-one-half">
      {{ checkboxes({
        name: "appointment[medicalHistoryTemp][otherSurgeryRightBreast]",
        values: appointment.medicalHistoryTemp.otherSurgeryRightBreast,
        idPrefix: "otherSurgeryRightBreast",
        fieldset: {
          legend: {
            html: ((otherSurgeryQuestionText + " in their") | asVisuallyHiddenText) ~ " Right breast (or axilla)",
            size: "s",
            isPageHeading: false
          }
        },
        items: [
          {
            value: "Lymph node surgery",
            text: "Lymph node surgery"
          },
          {
            value: "Reconstruction",
            text: "Reconstruction"
          },
          {
            value: "Symmetrisation",
            text: "Symmetrisation"
          },
          {
            value: "No surgery",
            text: "No other surgery",
            exclusive: true
          },
          {
            divider: "or"
          },
          {
            value: "Not known",
            text: "Not known",
            exclusive: true
          }
        ]
      }) }}
    </div>
    <div class="nhsuk-grid-column-one-half">
      {{ checkboxes({
        name: "appointment[medicalHistoryTemp][otherSurgeryLeftBreast]",
        values: appointment.medicalHistoryTemp.otherSurgeryLeftBreast,
        idPrefix: "otherSurgeryLeftBreast",
        fieldset: {
          legend: {
            html: ((otherSurgeryQuestionText + " in their") | asVisuallyHiddenText) ~ " Left breast (or axilla)",
            size: "s",
            isPageHeading: false
          }
        },
        items: [
          {
            value: "Lymph node surgery",
            text: "Lymph node surgery"
          },
          {
            value: "Reconstruction",
            text: "Reconstruction"
          },
          {
            value: "Symmetrisation",
            text: "Symmetrisation"
          },
          {
            value: "No surgery",
            text: "No other surgery",
            exclusive: true
          },
          {
            divider: "or"
          },
          {
            value: "Not known",
            text: "Not known",
            exclusive: true
          }
        ]
      }) }}
    </div>
  </div>

  {% set treatmentQuestionText %}
    What treatment have they had
  {%- endset %}

  {# H2 hidden from AT as it's included in the fieldset legend of each set of checkboxes #}
  <h2 aria-hidden="true">{{ treatmentQuestionText }}?</h2>

  <div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-one-half">
      {{ checkboxes({
        name: "appointment[medicalHistoryTemp][treatmentRightBreast]",
        values: appointment.medicalHistoryTemp.treatmentRightBreast,
        idPrefix: "treatmentRightBreast",
        fieldset: {
          legend: {
            html: ((treatmentQuestionText + " in their") | asVisuallyHiddenText) ~ " Right breast (or axilla)",
            size: "s",
            isPageHeading: false
          }
        },
        items: [
          {
            value: "Breast radiotherapy",
            text: "Breast radiotherapy"
          },
          {
            value: "Lymph node radiotherapy",
            text: "Lymph node radiotherapy"
          },
          {
            value: "No radiotherapy",
            text: "No radiotherapy",
            exclusive: true
          },
          {
            divider: "or"
          },
          {
            value: "Not known",
            text: "Not known",
            exclusive: true
          }
        ]
      }) }}
    </div>

    <div class="nhsuk-grid-column-one-half">
      {{ checkboxes({
        name: "appointment[medicalHistoryTemp][treatmentLeftBreast]",
        values: appointment.medicalHistoryTemp.treatmentLeftBreast,
        idPrefix: "treatmentLeftBreast",
        fieldset: {
          legend: {
            html: ((treatmentQuestionText + " in their") | asVisuallyHiddenText) ~ " Left breast (or axilla)",
            size: "s",
            isPageHeading: false
          }
        },
        items: [
          {
            value: "Breast radiotherapy",
            text: "Breast radiotherapy"
          },
          {
            value: "Lymph node radiotherapy",
            text: "Lymph node radiotherapy"
          },
          {
            value: "No radiotherapy",
            text: "No radiotherapy",
            exclusive: true
          },
          {
            divider: "or"
          },
          {
            value: "Not known",
            text: "Not known",
            exclusive: true
          }
        ]
      }) }}
    </div>
  </div>

  {{ checkboxes({
  name: "appointment[medicalHistoryTemp][systemicTreatments]",
  values: appointment.medicalHistoryTemp.systemicTreatments,
  idPrefix: "systemicTreatments",
  fieldset: {
    legend: {
      html: ((treatmentQuestionText + " that are ") | asVisuallyHiddenText) ~ "Systemic treatments",
      size: "s",
      isPageHeading: false
    }
  },
  items: [
    {
      value: "Chemotherapy",
      text: "Chemotherapy"
    },
    {
      value: "Hormone therapy",
      text: "Hormone therapy"
    },
    {
      value: "Other treatment",
      text: "Other treatment",
      conditional: {
        html: input({
          label: {
            text: "Provide details",
            size: "s"
          },
          name: "appointment[medicalHistoryTemp][otherTreatmentDetails]",
          value: appointment.medicalHistoryTemp.otherTreatmentDetails,
          id: "other-treatment-details"
        })
      }
    },
    {
      divider: "or"
    },
    {
      value: "Not known",
      text: "Not known",
      exclusive: true
    }
  ]
}) }}

  {% set treatmentLocationText = "Where did surgery and treatment take place?" %}
  {% include "_includes/medical-information/medical-history/location.njk" %}

  {% set additionalDetailsHintText = "Include any other relevant information about the treatment" %}
  {% include "_includes/medical-information/medical-history/additional-details.njk" %}

{% endblock formContent %}
