
{% extends 'layout-app.html' %}


{% set pageHeading = participant | getFullName %}

{% set gridColumn = "nhsuk-grid-column-full" %}

{% set allowEdits = allowEdits | default(true) %}

{% set back = {
  href: "/participants" | getReturnUrl(referrerChain),
  text: "Back to participants" if not referrerChain else "Back to appointment"
} %}

{% block pageContent %}

  {{ participant | log("Participant") }}
  {{ event | log("Event") }}

  <h1 class="nhsuk-heading-l">
    <span class="nhsuk-caption-l">
      Participant record
    </span>
    {{ pageHeading | safe }}
  </h1>

  {# For these summary cards we want to show the authoritative record, not the temp data.
  The temp data only gets saved once going through a confirmation page #}
  {% set tempParticipant = participant %}
  {% set participant = originalParticipant %}

  {% call card({
    heading: "Personal details"
  }) %}
    {% include "summary-lists/demographic-information/personal-details.njk" %}
  {% endcall %}

  {% call card({
    heading: "Contact details"
  }) %}
    {% include "summary-lists/demographic-information/contact-details.njk" %}
  {% endcall %}

  {% call card({
    heading: "Screening details"
  }) %}
    {% include "summary-lists/screening-details.njk" %}
  {% endcall %}

  {% set screeningHistoryHtml %}
    {% include "summary-lists/screening-history.njk" %}
  {% endset %}

  {{ card({
    heading: "Screening history",
    descriptionHtml: screeningHistoryHtml
  }) }}


{% endblock %}
