
{% extends 'layout-app.html' %}


{% set pageHeading = participant | getFullName %}

{% set gridColumn = "nhsuk-grid-column-full" %}

{% set allowEdits = allowEdits | default(true) %}

{% set backText %}
  {% if referrerChain %}
    {% if referrerChain | stringIncludes("/events/") %}
      Back to appointment
    {% else %}
      Back to clinic
    {% endif %}
  {% else %}
    Back to participants
  {% endif %}

{% endset %}

{% set back = {
  href: "/participants" | getReturnUrl(referrerChain),
  text: backText
} %}

{% block pageContent %}

  <h1 class="nhsuk-heading-l">
    <span class="nhsuk-caption-l">
      Participant record
    </span>
    {{ pageHeading | safe }}
  </h1>

  {# For these summary cards we want to show the authoritative record, not the temp data.
  The temp data only gets saved once going through a confirmation page #}
  {# {% set tempParticipant = participant %}
  {% set participant = originalParticipant %}

  {% call card({
    heading: "Personal details"
  }) %}
    {% include "summary-lists/demographic-information/personal-details.njk" %}
  {% endcall %}

  {% call card({
    heading: "Contact details"
  }) %}
    {% include "summary-lists/demographic-information/contact-details.njk" %}
  {% endcall %}



   #}

  {% include "_includes/tabs/participant-details.njk" %}

  {% call card({
    heading: "Screening details"
  }) %}
    {% include "summary-lists/screening-details.njk" %}
  {% endcall %}

  {% call card({
    heading: "Appointments",
    headingLevel: "2"
  }) %}
    {% include "summary-lists/screening-appointment-history.njk" %}
  {% endcall %}

{% endblock %}
