{# app/views/style-guide/button-sizes.html #}

{% extends "layout.html" %}

{% set pageName = "Button sizes" %}

{% block content %}
  <div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-full">
      <h1 class="nhsuk-heading-l">Button sizes</h1>

      <div class="nhsuk-grid-row">
        <div class="nhsuk-grid-column-one-half">
          <h2 class="nhsuk-heading-m">Default</h2>
          <p>A medium size, smaller than the NHS default.</p>
          {{ button({ text: "Continue" }) }}
          {{ button({
            text: "Save",
            variant: "secondary"
          }) }}
        </div>

        <div class="nhsuk-grid-column-one-half">
          <h2 class="nhsuk-heading-m">Small</h2>
          {{ button({
            text: "Continue",
            small: true
          }) }}
          {{ button({
            text: "Save",
            variant: "secondary",
            small: true
          }) }}
        </div>
      </div>
    </div>
  </div>
{% endblock %}