

{% set breastFeaturesHtml %}
  {# {% if useFakeBreastFeaturesCard %}
    {% set tattooHtml %}
      Tattoo<br>
      {{ "(Manchester united badge)" | asHint }}
    {% endset %}

    {% set scarHtml %}
      Surgical scar<br>
      {{ "(2 inches long)" | asHint }}
    {% endset %}

    {{ summaryList({
      rows: [
        {
          key: {
            text: "Right upper outer (RUO)"
          },
          value: {
            html: tattooHtml
          },
          actions: {
            items: [
              {
                href: "#",
                text: "Change",
                visuallyHiddenText: "images"
              }
            ]
          }
        },
        {
          key: {
            text: "Left lower inner (LLI)"
          },
          value: {
            html: scarHtml
          },
          actions: {
            items: [
              {
                href: "#",
                text: "Change",
                visuallyHiddenText: "observations"
              }
            ]
          }
        }
      ]
    }) }}

    <p><a href="#">Add a feature</a></p>
  {% else %} #}

  {% include "_includes/medical-information/breast-features.njk" %}
  {# {% endif %} #}
{% endset %}

{{ card({
  heading: "Breast features",
  headingLevel: "2",
  feature: false,
  descriptionHtml: breastFeaturesHtml
}) }}