
{% set otherRelevantInformationHtml %}
  {% include "_includes/summary-lists/medical-information/other-relevant-information.njk" %}
{% endset %}

{{ card({
heading: "Other information",
headingLevel: "2",
feature: false,
descriptionHtml: otherRelevantInformationHtml
}) }}