{# app/views/_components/count/template.njk
   params.classes (optional) - for example "app-count--reverse" on a blue background -#}
<span class="app-count {%- if params.classes %} {{ params.classes }}{% endif %}">
  <span class="nhsuk-u-visually-hidden"> (</span>
  {{- number -}}
  <span class="nhsuk-u-visually-hidden">)</span>
</span>
