{% set methodUrl -%}
  /clinics/{{ clinicId }}/appointments/{{ appointmentId }}/medical-information/symptoms
{%- endset %}

{% if saveSymptomFirst == true %}
  {% set methodUrl = methodUrl ~ "/save?action=save-and-add&symptomType=" %}
{% else %}
  {% set methodUrl = methodUrl ~ "/add?symptomType=" %}
{% endif %}

{% set buttonMenuItems = [] %}

{% for symptomType in data.symptomTypes %}
  {% set buttonMenuItems = buttonMenuItems | push({
    text: symptomType.name | sentenceCase,
    href: (methodUrl ~ symptomType.slug) | urlWithReferrer(referrerChain | appendReferrer(currentUrl), scrollTo),
    variant: "secondary",
    classes: "js-expand-parent-section"
  }) %}
{% endfor %}

{% if allowEdits %}
  <div class="nhsuk-form-group">
    {{ buttonMenu({
      items: buttonMenuItems,
      button: {
        text: "Add another symptom" if hasSymptoms or (saveSymptomFirst == true) else "Add a symptom",
        variant: "secondary"
      },
      alignMenu: "left"
    }) }}
  </div>
{% endif %}