{# app/views/_includes/appointment-status-bar.njk #}

{# Appointment row items - date, time, tags #}
{% set appointmentRowItems = [] %}

{# Date and time #}
{% set appointmentHtml %}
  {{ clinic.date | formatDate }} at {{ event.timing.startTime | formatTimeString }}
  {% if event | isSpecialAppointment %}
    {{ tag({
      text: "Special appointment",
      classes: "nhsuk-tag--yellow nhsuk-u-margin-left-1"
    })}}
  {% endif %}
{% endset %}
{% set appointmentRowItems = appointmentRowItems | push({
  key: "Appointment:",
  value: appointmentHtml
}) %}

{# Appointment type #}
{# {% set screeningTagHtml %}
  <strong class="nhsuk-tag nhsuk-tag--blue">
    Screening
  </strong>
{% endset %}
{% set appointmentRowItems = appointmentRowItems | push({
  html: screeningTagHtml
}) %} #}

{% set statusHtml %}
  {{ event.status | getStatusText | default(event.status | formatWords | sentenceCase) }}

  {% if event | isSpecialAppointment %}
  {# <br> #}
    {{ tag({
      text: "Special appointment",
      classes: "nhsuk-tag--yellow nhsuk-u-margin-left-1"
    })}}
  {% endif %}
{% endset %}

{# Appointment status #}
{# {% set appointmentRowItems = appointmentRowItems | push({
  key: "Status:",
  value: statusHtml
}) %} #}

{# Second row - participant name, dob, nhs number #}
{% set participantRowItems = [] %}

{# Full name with age #}
{% set nameWithAge %}
  {{ participant | getFullName }}

{% endset %}
{% set participantRowItems = participantRowItems | push({
  html: "<strong>" + nameWithAge + "</strong>"
}) %}

{% set dobValue %}
  {{ participant.demographicInformation.dateOfBirth | formatDate }} {% if participant | getAge %}
    ({{ participant | getAge }} years)
  {% endif %}
{% endset %}

{# DOB #}
{% set participantRowItems = participantRowItems | push({
  key: "DOB:",
  value: dobValue
}) %}

{# NHS Number #}
{% set participantRowItems = participantRowItems | push({
  key: "NHS:",
  value: participant.medicalInformation.nhsNumber | formatNhsNumber
}) %}

{{ appStatusBar({
  rows: [
    { items: appointmentRowItems },
    { items: participantRowItems }
  ]
}) }}