{# app/views/_includes/event-active-header.njk #}
{% include "_includes/appointment-status-bar.njk" %}
<is-sticky class="app-appointment-header app-appointment-header--sticky">
  

  <div class="nhsuk-width-container">
    {% include "_includes/event-active-tabs.njk" %}
  </div>
</is-sticky>
