{# app/views/_includes/appointment-status-bar.njk #}

{# Appointment row items - date, time, tags #}
{% set appointmentRowItems = [] %}

{# Date and time #}
{% set appointmentDateTimeHtml %}
  {{ clinic.date | formatDate }} at {{ appointment.timing.startTime | formatTimeString }}
  {% if appointment | isSpecialAppointment %}
    {{ tag({
      text: "Special appointment",
      colour: "yellow",
      classes: "nhsuk-u-margin-left-1"
    })}}
  {% endif %}
{% endset %}
{% set appointmentRowItems = appointmentRowItems | push({
  key: '<abbr title="Appointment">Appt</abbr>:',
  value: appointmentDateTimeHtml
}) %}

{# Worklist status #}
{% set worklistStatusHtml %}
  {% if data.settings.screening.addedToWorklist == 'false' and not data.appointment.isOnWorklist %}
    <span class="app-header-status app-header-status--fail">
      {{ appIcon("cross", { classes: "app-header-status__icon" }) }}
      {% if data.appointment.isManualImageCollection %}
        <span>Worklist issue, manual mode enabled</span>
      {% else %}
        <span>Not on worklist (<a href="{{ ('/clinics/' + clinicId + '/appointments/' + appointment.id + '/retry-worklist-connection') | urlWithReferrer(currentUrl) }}">Retry</a>)</span>
      {% endif %}
    </span>
  {% else %}
    <span class="app-header-status">
      {{ appIcon("tick", { classes: "app-header-status__icon" }) }}
      <span>On worklist</span>
    </span>
  {% endif %}
{% endset %}

{# Worklist accession number with inline worklist status #}
{% set accessionNumberFormatted = appointment.accessionNumber | formatAccessionNumber %}
{% set appointmentRowItems = appointmentRowItems | push({
  key: '<abbr title="Accession number">Accn</abbr>:',
  value: '<span class="nhsuk-u-font-code nhsuk-u-nowrap">' + accessionNumberFormatted + '</span><span class="app-status-bar__worklist-status">' + worklistStatusHtml + '</span>'
}) %}

{# Appointment type #}
{# {% set screeningTagHtml %}
  <strong class="nhsuk-tag nhsuk-tag--blue">
    Screening
  </strong>
{% endset %}
{% set appointmentRowItems = appointmentRowItems | push({
  html: screeningTagHtml
}) %} #}

{% set statusHtml %}
  {{ appointment.status | getStatusText('appointment') | default(appointment.status | formatWords | sentenceCase) }}

  {% if appointment | isSpecialAppointment %}
  {# <br> #}
    {{ tag({
      text: "Special appointment",
      colour: "yellow",
      classes: "nhsuk-u-margin-left-1"
    })}}
  {% endif %}
{% endset %}

{# Appointment status #}
{# {% set appointmentRowItems = appointmentRowItems | push({
  key: "Status:",
  value: statusHtml
}) %} #}

{# Second row - participant name, dob, nhs number #}
{% set participantRowItems = [] %}

{# Full name with age #}
{% set nameWithAge %}
  {{ participant | getFullName }}

{% endset %}
{% set participantRowItems = participantRowItems | push({
  html: "<strong>" + nameWithAge + "</strong>"
}) %}

{% set dobValue %}
  {{ participant.demographicInformation.dateOfBirth | formatDate }} {% if participant | getAge %}
    ({{ participant | getAge }} years)
  {% endif %}
{% endset %}

{# DOB #}
{% set participantRowItems = participantRowItems | push({
  key: "DOB:",
  value: dobValue
}) %}

{# NHS Number #}
{% set participantRowItems = participantRowItems | push({
  key: "NHS:",
  value: '<span class="nhsuk-u-font-code nhsuk-u-nowrap">' + (participant.medicalInformation.nhsNumber | formatNhsNumber) + '</span>'
}) %}

{{ appStatusBar({
  rows: [
    { items: appointmentRowItems },
    { items: participantRowItems }
  ]
}) }}