{# app/views/_includes/event-active-header.njk #}

<is-sticky class="app-appointment-header app-appointment-header--sticky">
  {% include "_includes/appointment-status-bar.njk" %}

  <div class="nhsuk-width-container">
    {% include "_includes/event-active-tabs.njk" %}
  </div>
</is-sticky>
