{# app/views/_includes/appointment-status-bar.njk #}

{% set leaveAppointmentLink %}
  <a href="/clinics/{{ clinicId }}">Leave this appointment</a>
{% endset %}


{% set manageAppointmentLink %}
  <a href="#">Manage appointment</a>
{% endset %}

{% set appointmentActionItems = [
  {
    html: leaveAppointmentLink
  },
  {
    html: manageAppointmentLink
  }
] %}

{% set appointmentRowItems = [] %}

  {# Location name #}
  {# {% set locationName %}
    {% if location.type === 'mobile_unit' %}
      {{ location.name }} at {{ clinic.siteName }}
    {% else %}
      {{ location.name }}
    {% endif %}
  {% endset %}
  {% set appointmentRowItems = appointmentRowItems | push({
    key: "Location:",
    value: locationName
  }) %} #}

  {# Date and time #}
  {% set appointmentHtml %}
    {{ clinic.date | formatDate }} at {{ event.timing.startTime | formatTimeString }}
    {% if event | isSpecialAppointment %}
      {{ tag({
        text: "Special appointment",
        classes: "nhsuk-tag--yellow nhsuk-u-margin-left-1"
      })}}
    {% endif %}
  {% endset %}
  {% set appointmentRowItems = appointmentRowItems | push({
    key: "Appointment:",
    value: appointmentHtml
  }) %}

  {# Appointment type #}
  {% set appointmentRowItems = appointmentRowItems | push({
    key: "Type:",
    value: clinic.clinicType | formatWords | sentenceCase
  }) %}

  {% set statusHtml %}
    {{ event.status | getStatusText | default(event.status | formatWords | sentenceCase) }}

    {% if event | isSpecialAppointment %}
    {# <br> #}
      {{ tag({
        text: "Special appointment",
        classes: "nhsuk-tag--yellow nhsuk-u-margin-left-1"
      })}}
    {% endif %}
  {% endset %}

  {# Appointment status #}
  {# {% set appointmentRowItems = appointmentRowItems | push({
    key: "Status:",
    value: statusHtml
  }) %} #}

  {# Second row - participant details #}
  {% set participantRowItems = [] %}

  {# Full name with age #}
  {% set nameWithAge %}
    {{ participant | getFullName }}

  {% endset %}
  {% set participantRowItems = participantRowItems | push({
    html: "<strong>" + nameWithAge + "</strong>"
  }) %}

  {% set dobValue %}
    {{ participant.demographicInformation.dateOfBirth | formatDate }} {% if participant | getAge %}
      ({{ participant | getAge }} years)
    {% endif %}
  {% endset %}

  {# DOB #}
  {% set participantRowItems = participantRowItems | push({
    key: "DOB:",
    value: dobValue
  }) %}

  {# NHS Number #}
  {% set participantRowItems = participantRowItems | push({
    key: "NHS:",
    value: participant.medicalInformation.nhsNumber | formatNhsNumber
  }) %}

  {{ appStatusBar({
    rows: [
      { items: appointmentActionItems },
      { items: appointmentRowItems },
      { items: participantRowItems }
    ]
  }) }}