<p>
  Please confirm the participant’s identity before checking them in.
</p>

{% call summaryList() %}
  {% include "_includes/summary-lists/rows/full-name.njk" %}
  {% include "_includes/summary-lists/rows/date-of-birth.njk" %}
  {% include "_includes/summary-lists/rows/address.njk" %}
{% endcall %}