{# app/views/_includes/event-workflow.njk #}

<div class="app-header-with-status">
  <h1 class="nhsuk-heading-l">
    <span class="nhsuk-caption-l">
      {{ participant | getFullName }}
    </span>
    {{ pageHeading | safe }}
  </h1>

  {% set statusHtml %}
    {# Status tag with check-in link #}
    {{ eventStatus({
      clinicId: clinicId,
      event: event,
      participant: participant,
      participantUrl: "/participants/" + participant.id | urlWithReferrer(currentUrl),
      referrerChain: currentUrl,
      confirmIdentityOnCheckIn: true if data.settings.screening.confirmIdentityOnCheckIn == 'true' else false

    })}}
  {% endset %}

  <div class="app-header-with-status__status-tag">
    {{ statusHtml | safe }}
    {% if event | isSpecialAppointment %}
    {# <br> #}
      {{ tag({
        text: "Special appointment",
        classes: "nhsuk-tag--yellow nhsuk-u-margin-top-1"
      })}}
    {% endif %}

  </div>
</div>

{% set appointmentStageCompleted = true if data.event.workflowStatus['appointment'] == 'completed' else false %}
{% set identityStageCompleted = true if data.event.workflowStatus['identity'] == 'completed' else false %}
{% set medicalInformationStageCompleted = true if data.event.workflowStatus['record-medical-information-2'] == 'completed' else false %}

{{ appointmentStageCompleted | log("appointmentStageCompleted") }}
{{ identityStageCompleted | log("identityStageCompleted") }}
{{ medicalInformationStageCompleted | log("medicalInformationStageCompleted") }}

{% set awaitingImagesStageCompleted = true if data.event.workflowStatus['awaiting-images'] == 'completed' else false %}


{% set secondaryNavItems = [] %}

{% for item in [
  { id: 'appointment', label: 'Appointment' },
  { id: 'identity', label: 'Identity' },

  { id: 'record-medical-information-2', label: 'Medical information' },
  { id: 'awaiting-images', label: 'Images' } if not awaitingImagesStageCompleted else { id: 'images', label: 'Images' }
] %}
  {% set href -%}
    /clinics/{{ clinicId }}/events/{{event.id}}{{ ("/" + item.id) if item.id !== 'all' }}
  {% endset %}

    {# { id: 'eligibility', label: 'Eligibility' }, #}

  {% set workflowStatus %}
    {% if data.event.workflowStatus[item.id] == 'completed' %}
      ✔
    {% endif %}
  {% endset %}

  {% set isDisabled = false %}

  {# Disable images tab until other stages are completed #}
  {% if item.id == 'awaiting-images' %}
    {% set isDisabled = true %}
    {% if appointmentStageCompleted and identityStageCompleted and medicalInformationStageCompleted %}
      {% set isDisabled = false %}
    {% endif %}
  {% endif %}

  {% set secondaryNavItems = secondaryNavItems | push({
    text: workflowStatus ~ item.label,
    href: href | trim,
    current: true if item.id == activeTab,
    disabled: isDisabled
  }) %}

{% endfor %}

{{ appSecondaryNavigation({
  visuallyHiddenTitle: "Secondary menu",
  items: secondaryNavItems
}) }}
