{% set secondaryNavItems = [] %}

{% for item in [
  { id: 'appointment', label: 'Appointment' },
  { id: 'participant', label: 'Participant' },
  { id: 'medical-information', label: 'Medical information' },
  { id: 'images', label: 'Images' } if event | isCompleted
] %}
  {% set href -%}
    /clinics/{{ clinicId }}/events/{{event.id}}{{ ("/" + item.id) if item.id !== 'all' }}
  {% endset %}

  {% set secondaryNavItems = secondaryNavItems | push({
    text: item.label,
    href: href | trim,
    current: true if item.id == activeTab
  }) %}

{% endfor %}


{{ appSecondaryNavigation({
  visuallyHiddenTitle: "Secondary menu",
  items: secondaryNavItems
}) }}
