{# app/views/_includes/images-repeat-question.njk #}
{# 
  Repeat question for a single view with multiple images
  
  Parameters:
  - viewItem: object with { side, view, code, count }
  - namePrefix: string for form field names (e.g., "event[mammogramData]")
  - dataSource: object containing existing data for pre-filling (e.g., data.event.mammogramData)
#}

{% set extraImageCount = (viewItem.count | int) - 1 %}

{% if extraImageCount == 1 %}
  {# Simple choice for 1 extra image #}
  
  {% set repeatReasonItems = [] %}
  {% for reason in data.repeatReasons %}
    {% set repeatReasonItems = repeatReasonItems | push({ value: reason, text: reason }) %}
  {% endfor %}

  {% set repeatReasonsHtml %}
    {{ checkboxes({
      idPrefix: "repeatReasons-" + viewItem.code,
      name: namePrefix + "[repeatReasons-" + viewItem.code + "]",
      fieldset: {
        legend: {
          text: "Why was a repeat needed?",
          classes: "nhsuk-fieldset__legend--s"
        }
      },
      hint: {
        text: "Select all that apply"
      },
      values: dataSource["repeatReasons-" + viewItem.code],
      items: repeatReasonItems
    }) }}
  {% endset %}

  {{ radios({
    idPrefix: "repeatNeeded-" + viewItem.code,
    name: namePrefix + "[repeatNeeded-" + viewItem.code + "]",
    fieldset: {
      legend: {
        text: viewItem.count + " " + viewItem.code + " images were taken. Was the additional image a repeat?",
        classes: "nhsuk-fieldset__legend--s" if radioQuestionSize == "s" else "nhsuk-fieldset__legend--m",
        isPageHeading: false
      }
    },
    value: dataSource["repeatNeeded-" + viewItem.code],
    items: [
      {
        value: "yes",
        text: "Yes, it was a repeat",
        conditional: {
          html: repeatReasonsHtml
        }
      },
      {
        value: "no",
        text: "No, an extra image was needed to capture the complete view"
      }
    ]
  }) }}

{% else %}
  {# Multiple extra images - more options #}
  
  {% set repeatCountInputHtml %}
    {{ input({
      id: "repeatCount-" + viewItem.code,
      name: namePrefix + "[repeatCount-" + viewItem.code + "]",
      label: {
        text: "How many were repeats?"
      },
      hint: {
        text: "Out of " + extraImageCount + " extra images"
      },
      classes: "nhsuk-input--width-3",
      value: dataSource["repeatCount-" + viewItem.code],
      inputmode: "numeric"
    }) }}
  {% endset %}

  {% set repeatReasonItems = [] %}
  {% for reason in data.repeatReasons %}
    {% set repeatReasonItems = repeatReasonItems | push({ value: reason, text: reason }) %}
  {% endfor %}

  {% set repeatReasonsAllHtml %}
    {{ checkboxes({
      idPrefix: "repeatReasons-all-" + viewItem.code,
      name: namePrefix + "[repeatReasonsAll-" + viewItem.code + "]",
      fieldset: {
        legend: {
          text: "Why were repeats needed?",
          classes: "nhsuk-fieldset__legend--s"
        }
      },
      hint: {
        text: "Select all that apply"
      },
      values: dataSource["repeatReasons-" + viewItem.code],
      items: repeatReasonItems
    }) }}
  {% endset %}

  {% set repeatReasonsSomeHtml %}
    {{ checkboxes({
      idPrefix: "repeatReasons-some-" + viewItem.code,
      name: namePrefix + "[repeatReasonsSome-" + viewItem.code + "]",
      fieldset: {
        legend: {
          text: "Why were repeats needed?",
          classes: "nhsuk-fieldset__legend--s"
        }
      },
      hint: {
        text: "Select all that apply"
      },
      values: dataSource["repeatReasons-" + viewItem.code],
      items: repeatReasonItems
    }) }}
  {% endset %}

  {{ radios({
    idPrefix: "repeatNeeded-" + viewItem.code,
    name: namePrefix + "[repeatNeeded-" + viewItem.code + "]",
    fieldset: {
      legend: {
        text: viewItem.count + " " + viewItem.code + " images were taken. Were the additional images repeats?",
        classes: "nhsuk-fieldset__legend--m",
        isPageHeading: false
      }
    },
    value: dataSource["repeatNeeded-" + viewItem.code],
    items: [
      {
        value: "all-repeats",
        text: "Yes, all images were repeats",
        conditional: {
          html: repeatReasonsAllHtml
        }
      },
      {
        value: "some-repeats",
        text: "Yes, some were repeats and some were extra images",
        conditional: {
          html: repeatCountInputHtml + repeatReasonsSomeHtml
        }
      },
      {
        value: "no",
        text: "No, all extra images were needed to capture the complete view"
      }
    ]
  }) }}

{% endif %}
