
{# Only allow 'appointment cannot proceed' if images haven't been taken #}
{% if event.workflowStatus['take-images'] != 'completed' %}
  <p>
    <a class="nhsuk-link nhsuk-link--no-visited-state"
      href="/clinics/{{ clinicId }}/events/{{ eventId }}/attended-not-screened-reason"
      data-modal-link="false">Appointment cannot proceed</a>
  </p>
{% endif %}
