{# app/views/_includes/special-appointment-warning-card.njk #}

{% if event | isSpecialAppointment %}
  {% set eventUrl = "/clinics/" + clinicId + "/events/" + eventId %}
  {% set changeHref = (eventUrl + "/special-appointment/edit") | urlWithReferrer(currentUrl) %}

  {% call warningCallout({
    heading: "Special appointment",
    headingLevel: 2,
    classes: "nhsuk-u-margin-bottom-4",
    actions: {
      items: [
        {
          href: changeHref,
          text: "Change",
          visuallyHiddenText: "special appointment requirements"
        } | openInModal
      ]
    }
  }) %}
    {% set summaryListClasses = "nhsuk-summary-list" %}
    {% include "summary-lists/special-appointment/special-appointment.njk" %}
  {% endcall %}
{% endif %}