{% set hasSymptoms = symptoms | length > 0 %}

{% if hasSymptoms %}

  {% set warningCalloutHtml %}
    {% include "summary-lists/medical-information/symptoms/summary.njk" %}
  {% endset %}

  {{ warningCallout({
    heading: 'Significant symptoms reported',
    html: warningCalloutHtml,
    classes: "nhsuk-u-margin-top-3 nhsuk-u-margin-bottom-5"
  }) }}
{% endif %}
