@use "nhsuk-frontend/dist/nhsuk/core" as *;

// Mammogram annotation styles

.app-mammogram-image {
  display: block;
  max-width: 100%;
  cursor: crosshair;
}

.app-mammogram-container {
  display: inline-block;
  position: relative;
  margin-bottom: 1rem;
}

.app-mammogram-marker {
  position: absolute;
  // filter: drop-shadow(0 0 1px rgba(255, 255, 255, 0.8)) drop-shadow(0 0 2px rgba(255, 255, 255, 0.4));
  z-index: 10;

  width: 45px;
  height: 45px;

  transform: translate(-50%, -50%);

  border: 5px solid $nhsuk-focus-colour;
  border-radius: 50%;

  pointer-events: auto;

  background-color: transparent;

  cursor: grab;
}

.app-mammogram-marker__badge {
  display: flex;

  position: absolute;
  top: -22px;
  left: -22px;

  align-items: center;
  justify-content: center;

  width: 22px;
  height: 22px;

  border-radius: 4px;

  color: $nhsuk-text-colour;
  background-color: $nhsuk-focus-colour;

  font-size: 14px;
  font-weight: bold;
  line-height: 1;
}

// Visual feedback when dragging
.app-mammogram-marker.dragging {
  // filter: drop-shadow(0 0 3px rgba(255, 255, 255, 0.9)) drop-shadow(0 0 6px rgba(255, 255, 255, 0.5));
  transform: translate(-50%, -50%) scale(1.1);
  cursor: grabbing;
}
