// app/assets/sass/components/_header.scss

@use "nhsuk-frontend/dist/nhsuk/core" as *;

.app-appointment-header--sticky {
  position: sticky;
  top: 0;
  z-index: 100;
  border-bottom: 1px solid $nhsuk-border-colour;
  background-color: $nhsuk-body-background-colour;

  // Sticky things
  // border-bottom-color: $nhsuk-border-hover-colour;
  // box-shadow: 0 $nhsuk-border-width 0 red;
}

.app-appointment-header--sticky[data-stuck="true"] {
  border-bottom-color: $nhsuk-border-hover-colour;
  // box-shadow: 0 $nhsuk-border-width 0 red;
  box-shadow: 0 $nhsuk-border-width 0 rgba($nhsuk-border-hover-colour, 50%);
}

.app-appointment-header {
  .app-secondary-navigation {
    margin-bottom: 0;
  }

  .app-secondary-navigation__link {
    font-size: 16px;
    padding: 8px 0;

    &:first-child {
      padding-left: 0;
    }
  }

  .app-secondary-navigation__list {
    box-shadow: none;
  }
}
