@use "nhsuk-frontend/dist/nhsuk/core" as *;

.app-checkboxes--inline {
  @include nhsuk-media-query($from: tablet) {
    @include nhsuk-clearfix;

    .nhsuk-checkboxes__item {
      margin-right: nhsuk-spacing(4);
      float: left;
      clear: none;
    }
  }

  // &.nhsuk-checkboxes--conditional {
  //   // [1]
  //   .nhsuk-checkboxes__item {
  //     float: none;
  //     margin-right: 0;
  //   }
  // }
}
