@use "nhsuk-frontend/dist/nhsuk/core" as *;

.app-count {
  display: inline-block;

  min-width: nhsuk-spacing(5);
  padding-right: nhsuk-spacing(2);
  padding-left: nhsuk-spacing(2);

  border-radius: nhsuk-spacing(3);

  background-color: rgba(nhsuk-colour("grey-4"), 0.5);

  text-align: center;
  @include nhsuk-font(16);
}
