@use "nhsuk-frontend/dist/nhsuk/core" as *;

$app-dark-mode-blue: #348de0;
$app-dark-mode-background: #161616;
$app-dark-mode-background-secondary: #1f1f1f;
$app-dark-mode-white: #cfcfcf;
$app-dark-mode-text-colour: $app-dark-mode-white;
$app-dark-mode-text-colour-secondary: nhsuk-shade($app-dark-mode-text-colour, 30%);
$app-dark-mode-surface: #1f1f1f;
$app-dark-mode-border: $app-dark-mode-white;
$app-dark-mode-banner-border: #015eb8;

// Links
$app-dark-mode-link-colour: #3892e0;
$app-dark-mode-link-hover-colour: #ffeb3b;
$app-dark-mode-link-active-colour: #000;
$app-dark-mode-link-visited-colour: #d055a5;

// Tags
$app-tag--red-dark-background: nhsuk-shade(nhsuk-colour("red"), 50%);
$app-tag--red-dark-border: nhsuk-tint(nhsuk-colour("red"), 80%);
$app-tag--red-dark-text: nhsuk-tint(nhsuk-colour("red"), 80%);
$app-tag--green-dark-background: nhsuk-shade(nhsuk-colour("green"), 40%);
$app-tag--green-dark-border: nhsuk-tint(nhsuk-colour("green"), 80%);
$app-tag--green-dark-text: nhsuk-tint(nhsuk-colour("green"), 80%);
$app-tag--orange-dark-background: nhsuk-shade(nhsuk-colour("warm-yellow"), 70%);
$app-tag--orange-dark-border: nhsuk-tint(nhsuk-colour("warm-yellow"), 50%);
$app-tag--orange-dark-text: nhsuk-tint(nhsuk-colour("warm-yellow"), 50%);
$app-tag--yellow-dark-background: nhsuk-shade(nhsuk-colour("yellow"), 70%);
$app-tag--yellow-dark-border: nhsuk-tint(nhsuk-colour("yellow"), 50%);
$app-tag--yellow-dark-text: nhsuk-tint(nhsuk-colour("yellow"), 50%);
$app-tag--blue-dark-background: nhsuk-shade(nhsuk-colour("blue"), 30%);
$app-tag--blue-dark-border: nhsuk-tint(nhsuk-colour("blue"), 80%);
$app-tag--blue-dark-text: nhsuk-tint(nhsuk-colour("blue"), 80%);

@mixin app-dark-mode-focused-text {
  background-color: $nhsuk-focus-colour;
  box-shadow:
    0 -2px $nhsuk-focus-colour,
    0 $nhsuk-focus-width $nhsuk-focus-text-colour;
  color: $nhsuk-focus-text-colour;
  // When colours are overridden, for example when users have a dark mode,
  // backgrounds and box-shadows disappear, so we need to ensure there's a
  // transparent outline which will be set to a visible colour.
  outline: $nhsuk-focus-width solid transparent;
  // When link is focussed, hide the default underline since the
  // box shadow adds the "underline"
  text-decoration: none;
}

@mixin app-dark-mode-link-style-default {
  color: $app-dark-mode-link-colour;

  &:visited {
    color: $app-dark-mode-link-visited-colour;
  }

  &:hover {
    color: $app-dark-mode-link-hover-colour;
    text-decoration: none;
  }

  &:focus {
    @include nhsuk-focused-text();

    &:hover {
      text-decoration: none;
    }

    &:visited {
      color: $nhsuk-focus-text-colour;
    }

    .nhsuk-icon {
      fill: $nhsuk-focus-text-colour;
    }
  }

  &:active {
    color: $app-dark-mode-link-active-colour;
  }
}

.app-dark-mode {
  background: $app-dark-mode-background;
  color: $app-dark-mode-text-colour;

  // Text colour
  .nhsuk-fieldset__legend {
    color: $app-dark-mode-text-colour;
  }

  // Secondary text colour
  .nhsuk-hint,
  .app-text-grey,
  .nhsuk-caption-l,
  .nhsuk-caption-m,
  .nhsuk-caption-s,
  .app-suppress-link-styles * {
    color: $app-dark-mode-text-colour-secondary;
  }

  // Links and link type things
  a,
  .app-secondary-navigation__link,
  .app-button-link {
    @include app-dark-mode-link-style-default;

    &:focus {
      @include app-dark-mode-focused-text;
    }
  }

  .app-secondary-navigation__link:link {
    color: $app-dark-mode-link-colour;
    &:focus {
      @include app-dark-mode-focused-text;
    }
  }

  .app-secondary-navigation__link:visited {
    color: $app-dark-mode-link-visited-colour;
  }

  .app-secondary-navigation__link:hover,
  .app-secondary-navigation__link:visited:hover {
    color: $app-dark-mode-link-hover-colour;
  }

  .app-secondary-navigation__link:focus,
  .app-secondary-navigation__link:focus:hover {
    color: $nhsuk-focus-text-colour !important;
    background-color: $nhsuk-focus-colour !important;
    box-shadow:
      0 -2px $nhsuk-focus-colour,
      0 $nhsuk-focus-width $nhsuk-focus-text-colour !important;
    outline: $nhsuk-focus-width solid transparent !important;
    text-decoration: none !important;
  }

  .app-secondary-navigation__link[aria-current] {
    color: $app-dark-mode-text-colour;
    box-shadow: inset $nhsuk-border-width 0 $app-dark-mode-white;

    @include nhsuk-media-query($from: tablet) {
      box-shadow: inset 0 ($nhsuk-border-width * -1) $app-dark-mode-white;
    }

    &:hover {
      color: $app-dark-mode-link-hover-colour;
    }

    &:focus {
      color: $nhsuk-focus-text-colour !important;
      background-color: $nhsuk-focus-colour !important;
      box-shadow:
        0 -2px $nhsuk-focus-colour,
        0 $nhsuk-focus-width $nhsuk-focus-text-colour !important;
      outline: $nhsuk-focus-width solid transparent !important;
      text-decoration: none !important;
    }
  }

  .nhsuk-link--no-visited-state {
    color: $app-dark-mode-link-colour;
    &:focus {
      @include app-dark-mode-focused-text;
    }
  }

  .nhsuk-back-link {
    color: $app-dark-mode-link-colour;

    &:visited {
      color: $app-dark-mode-link-colour;
    }

    &:hover {
      color: $app-dark-mode-link-hover-colour;
      text-decoration: underline;
    }
  }

  .nhsuk-button {
    &:link,
    &:visited,
    &:active,
    &:hover {
      color: white;
    }
  }

  .nhsuk-button--secondary {
    box-shadow: 0 4px 0 $app-dark-mode-link-colour;
    color: $app-dark-mode-link-colour;

    &:link,
    &:visited,
    &:active {
      color: $app-dark-mode-link-colour;
    }

    &:hover {
      background-color: $app-dark-mode-surface;
      box-shadow: 0 4px 0 $app-dark-mode-link-colour;
      color: $app-dark-mode-link-colour;
    }
  }

  .nhsuk-header {
    a {
      color: #ffffff;

      &:visited {
        color: #ffffff;
      }
      &:focus {
        @include app-dark-mode-focused-text;
      }
    }
    // background: $app-dark-mode-background-secondary;
    color: #ffffff;

    .nhsuk-header__account,
    .nhsuk-header__account-item {
      // background: $app-dark-mode-background;
      outline: 1px solid rgba(255, 255, 255, 0.2);
    }
  }

  .app-count {
    background: $app-dark-mode-background-secondary;
    color: $app-dark-mode-text-colour;
  }

  .nhsuk-tag--red {
    background-color: $app-tag--red-dark-background;
    border-color: $app-tag--red-dark-border;
    color: $app-tag--red-dark-text;
  }

  .nhsuk-tag--green {
    background-color: $app-tag--green-dark-background;
    border-color: $app-tag--green-dark-border;
    color: $app-tag--green-dark-text;
  }

  .nhsuk-tag--orange {
    background-color: $app-tag--orange-dark-background;
    border-color: $app-tag--orange-dark-border;
    color: $app-tag--orange-dark-text;
  }

  .nhsuk-tag--yellow {
    background-color: $app-tag--yellow-dark-background;
    border-color: $app-tag--yellow-dark-border;
    color: $app-tag--yellow-dark-text;
  }

  .nhsuk-tag--blue {
    background-color: $app-tag--blue-dark-background;
    border-color: $app-tag--blue-dark-border;
    color: $app-tag--blue-dark-text;
  }

  .nhsuk-error-summary__title {
    color: $app-dark-mode-text-colour;
  }
  // Component overrides
  .nhsuk-card {
    background: $app-dark-mode-surface;
    border: 1px solid $app-dark-mode-border;
    color: $app-dark-mode-text-colour;

    .nhsuk-card__heading--feature {
      // background: $app-dark-mode-blue;
      color: $app-dark-mode-text-colour;
    }
  }

  .nhsuk-footer,
  .nhsuk-footer-container {
    background: $app-dark-mode-surface;
    color: $app-dark-mode-text-colour;

    .nhsuk-footer__list-item-link,
    .nhsuk-footer__copyright {
      color: $app-dark-mode-text-colour-secondary;
    }
  }

  .nhsuk-radios {
    .nhsuk-radios__input + .nhsuk-radios__label::before {
      border-color: $app-dark-mode-white;
      background-color: transparent;
    }
    .nhsuk-radios__input + .nhsuk-radios__label::after {
      background: $app-dark-mode-white;
      border: 10px solid $app-dark-mode-white;
    }
  }

  .nhsuk-checkboxes {
    .nhsuk-checkboxes__input + .nhsuk-checkboxes__label::before {
      background: transparent;
      border-color: $app-dark-mode-white;
    }
    .nhsuk-checkboxes__input + .nhsuk-checkboxes__label::after {
      // Checkmark styling
    }
  }

  .nhsuk-checkboxes__conditional {
    border-left-color: $app-dark-mode-text-colour-secondary;
  }

  // Text inputs, textareas, and selects
  .nhsuk-input,
  .nhsuk-textarea,
  .nhsuk-select {
    background-color: transparent;
    border-color: $app-dark-mode-white;
    color: $app-dark-mode-text-colour;
  }

  .nhsuk-notification-banner__content {
    color: $app-dark-mode-text-colour;
    background: $app-dark-mode-surface;
  }

  .nhsuk-warning-callout {
    background-color: $app-dark-mode-surface;
  }

  .app-reading-opinion-banner {
    background: $app-dark-mode-surface;
    border: 2px solid $app-dark-mode-banner-border;
    filter: drop-shadow(2px 3px 3px $app-dark-mode-surface);
  }

  .app-reading-opinion-banner__link,
  .app-reading-opinion-banner__link:visited,
  .app-reading-opinion-banner__link:hover,
  .app-reading-opinion-banner__link:focus {
    color: $app-dark-mode-link-colour;
  }

  .app-mammogram-thumbnail__missing {
    background-color: $app-dark-mode-surface;
    border-color: $app-dark-mode-text-colour-secondary;
  }

  .app-mammogram-thumbnail__missing-text {
    color: $app-dark-mode-text-colour;
  }
}

html:has(.app-dark-mode) {
  background-color: $app-dark-mode-background-secondary;
  background: $app-dark-mode-background-secondary;
  color: $app-dark-mode-text-colour;
}
