// app/assets/sass/components/_details.scss

@use "nhsuk-frontend/dist/nhsuk/core" as *;

.app-details__container {
  position: relative;
}

.app-details__status {
  position: absolute;
  top: 0;
  right: 0;
  padding: 28px 32px 32px;
  pointer-events: none;
}

.app-details__summary-subtitle {
  display: block;
  padding-top: 8px;
  // padding: 4px 4px 4px 38px; // to match the line above
  color: $nhsuk-text-colour;
}

.app-details__contents-summary {
  display: block;
  padding-top: 16px;
}

.app-details__contents-summary--text {
  color: $nhsuk-secondary-text-colour;
}

// Hide contents summary when details is expanded
details[open] .app-details__contents-summary {
  display: none;
}
