@use "nhsuk-frontend/dist/nhsuk/core" as *;

////
/// Forward link component
///
/// 1. Allow space for the chevron.
/// 2. Hide forward link on print stylesheets.
///
/// @group components/forward-link
////

@include nhsuk-exports("nhsuk/components/forward-link") {
  $_font-size: 16;

  .nhsuk-forward-link {
    display: inline-block;

    position: relative;

    padding: 0;
    padding-right: nhsuk-em($_font-size, $nhsuk-base-font-size);

    border: 0;

    background: none;

    cursor: pointer;

    @include nhsuk-font($_font-size);
    @include nhsuk-link-style-default;
    @include nhsuk-link-style-no-visited-state;
    @include nhsuk-responsive-margin(4, "top");
    @include nhsuk-print-hide; // [2]

    &::before {
      content: "";

      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;

      margin: auto;

      @include nhsuk-shape-chevron(right, $colour: currentcolor, $font-size: 19);
    }
  }

  .nhsuk-forward-link--reverse {
    @include nhsuk-link-style-white;
  }
}
