@use "nhsuk-frontend/dist/nhsuk/core" as *;

// ==========================================================================
// COMPONENTS / #LIST-BORDER
// ==========================================================================

.nhsuk-list--border li {
  padding: 8px 0 16px;
  border-bottom: 1px solid $nhsuk-border-colour;
}
