@use "nhsuk-frontend/dist/nhsuk/core" as *;

$app-modal-width: 700px !default; // Default width for the modal

// Prevent background scrolling when modal is open
// stylelint-disable-next-line selector-no-qualifying-type
body.app-modal-open {
  width: 100%;
  overflow: hidden;
}

.app-modal {
  &[hidden] {
    display: none;
  }

  &.app-modal--open {
    display: block;
  }
}

// Modal overlay
.app-modal__overlay {
  position: fixed;
  z-index: 1001;
  top: 0;
  left: 0;

  width: 100%;
  height: 100%;

  background-color: rgba(nhsuk-colour("black"), 0.8);
}

// Modal dialog container
.app-modal__dialog {
  position: fixed;
  z-index: 1002;
  top: 50%;
  left: 50%;

  width: calc(100vw - #{nhsuk-spacing(4)});
  max-width: $app-modal-width;
  max-height: 90vh;

  overflow-y: auto;

  transform: translate(-50%, -50%);

  border: $nhsuk-focus-width solid nhsuk-colour("black");

  // background-color: nhsuk-colour("white");
  background-color: $nhsuk-body-background-colour;

  @include nhsuk-responsive-padding(5);

  &:focus {
    outline: $nhsuk-focus-width solid $nhsuk-focus-colour;
  }

  @include nhsuk-media-query($from: tablet) {
    width: $app-modal-width;
  }
}

// Modal content
.app-modal__title {
  margin-top: 0;
}

.app-modal__body {
  margin-bottom: nhsuk-spacing(4);

  // Remove bottom margin for the last child to avoid extra space
  &:last-child {
    margin-bottom: 0;
  }
}

// Modal actions
.app-modal__actions {
  margin-top: nhsuk-spacing(4);
  margin-bottom: 0;

  .nhsuk-button:last-of-type {
    margin-bottom: 0;
  }
}
