@use "nhsuk-frontend/dist/nhsuk/core" as *;

// ==========================================================================
// COMPONENTS / #RELATED-NAV
// ==========================================================================

.nhsuk-related-nav {
  border-top: 1px solid $nhsuk-border-colour;

  @include nhsuk-media-query($until: desktop) {
    margin-top: nhsuk-spacing(7);
  }
}

.nhsuk-related-nav__heading {
  margin-bottom: 12px;
  padding-top: nhsuk-spacing(3);
  @include nhsuk-font-size(19, $line-height: 1.2);
}

.nhsuk-related-nav__list {
  padding-left: 0;
  list-style: none;
  @include nhsuk-font-size(16);
}
