<<<<<<< HEAD
@use 'nhsuk-frontend/dist/nhsuk/core/settings' as *;
@use 'nhsuk-frontend/dist/nhsuk/core/tools' as *;
=======
@use "nhsuk-frontend/dist/nhsuk/core/settings" as *;
@use "nhsuk-frontend/dist/nhsuk/core/tools" as *;
>>>>>>> main

.nhsuk-button.app-button--small {
  padding: nhsuk-spacing(2) 12px nhsuk-spacing(1);
  @include nhsuk-font-size(16);
  line-height: 1.2;
  margin-bottom: nhsuk-spacing(3);
<<<<<<< HEAD
} 

.app-button-group {
  margin-bottom: nhsuk-spacing(6);
}
=======
}

// Reduce button group margin
// Based on https://github.com/nhsuk/nhsuk-frontend/blob/8f453df75be6c4dced33c57d0a47b409f99c9004/packages/nhsuk-frontend/src/nhsuk/core/objects/_button-group.scss#L67
.app-button-group--small {
  $horizontal-gap: nhsuk-spacing(2);

  @include nhsuk-media-query($from: tablet) {
    // Cancel out the column gap for the last item in each row
    margin-right: ($horizontal-gap * -1);

    .nhsuk-body,
    .nhsuk-body-m,
    p,
    > .nhsuk-link,
    > a:not(.nhsuk-button),
    > .nhsuk-button {
      margin-right: $horizontal-gap;
    }
  }
}
>>>>>>> main
