.app-sidebar-sticky {
  position: sticky;
  z-index: 100;
  top: 20px;
  height: fit-content;
}

// .app-status-bar {
//   position: sticky;
//   top: 0;
//   z-index: 100;
//   box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
// }

.app-status-bar.is-sticky {
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.15);
}

// Sticky action button

.app-sticky-bottom-container {
  position: fixed;
  z-index: 200;
  right: 0;
  bottom: 0;
  left: 0;

  padding: 20px;

  border-top: 1px solid #d8dde0;

  background: #ffffff;
  box-shadow: 0 -2px 8px rgba(0, 0, 0, 0.1);
}

.app-sticky-bottom-container .nhsuk-grid-row {
  max-width: 960px;
  margin: 0 auto;
}

.app-sticky-bottom-button {
  // Use standard NHS button styling
  margin: 0;
}
