{# app/views/_includes/workflow/workflow-top-nav.njk #}

{# Tracking of status #}
{% set identityStageCompleted = true if data.event.workflowStatus['confirm-identity'] == 'completed' else false %}
{% set medicalInformationStageCompleted = true if data.event.workflowStatus['review-medical-information'] == 'completed' else false %}
{% set awaitingImagesStageCompleted = true if data.event.workflowStatus['awaiting-images'] == 'completed' else false %}
{% set imagesStageCompleted = true if data.event.workflowStatus['take-images'] == 'completed' else false %}

{# Build secondary nav #}
{% set secondaryNavItems = [] %}

  {# { id: 'appointment', label: 'Appointment' }, #}

{% for item in ([
  { id: 'confirm-identity', label: 'Confirm identity' },

  { id: 'review-medical-information', label: 'Review medical information' },
  { id: 'take-images', label: 'Take images' },
  { id: 'review', label: 'Review' }
] | removeEmpty) %}
  {% set href -%}
    /clinics/{{ clinicId }}/events/{{event.id}}{{ ("/" + item.id) if item.id !== 'all' }}
  {% endset %}

    {# { id: 'eligibility', label: 'Eligibility' }, #}

  {# SVG copied from https://service-manual.nhs.uk/design-system/components/do-and-dont-lists #}
  {% set tickSvg %}
    <svg class="app-icon app-icon--tick" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" aria-hidden="true">
      <path stroke-linecap="round" d="M18.4 7.8l-8.5 8.4L5.6 12"></path>
    </svg>
  {% endset %}

  {% set isCompleted = data.event.workflowStatus[item.id] == 'completed' %}

  {% set isDisabled = false %}
  {# Todo: refactor this be easier to check status #}

  {% if item.id == 'review-medical-information' %}
    {% set isDisabled = true %}
    {% if identityStageCompleted %}
      {% set isDisabled = false %}
    {% endif %}
  {% endif %}

  {# Disable images tab until other stages are completed #}
  {% if item.id == 'images' %}
    {% set isDisabled = true %}
    {% if identityStageCompleted and medicalInformationStageCompleted %}
      {% set isDisabled = false %}
    {% endif %}
  {% endif %}

  {% if item.id == 'review' %}
    {% set isDisabled = true %}
    {% if identityStageCompleted and medicalInformationStageCompleted and awaitingImagesStageCompleted and imagesStageCompleted %}
      {% set isDisabled = false %}
    {% endif %}
  {% endif %}

  {% set linkHtml %}
    {% if isDisabled %}
      <span class="app-secondary-navigation__link app-secondary-navigation__link--disabled">
        {{ item.label | safe }}
      </span>
    {% else %}
      {{ (tickSvg | safe) if isCompleted }}
      <a class="app-secondary-navigation__link" href="{{ href }}" {{ "aria-current=page" if item.id == activeTab }}>
        {{ item.label | safe }}
      </a>
    {% endif %}
  {% endset %}

  {% set secondaryNavItems = secondaryNavItems | push({
    html: linkHtml,
    current: true if (item.id == activeWorkflowStep) or (item.id == activeTab)
  }) %}

  {# text: (tickSvg if isCompleted) + item.label,
  href: href | trim,
  current: true if item.id == activeTab,
  disabled: isDisabled #}

{% endfor %}

{{ appSecondaryNavigation({
  visuallyHiddenTitle: "Secondary menu",
  items: secondaryNavItems
}) }}