{# app/views/_includes/summary-lists/medical-information/medical-history/medical-history-menu.njk #}

{% set medicalHistoryMenuItems = [
  {
    text: "Breast cancer",
    href: "./medical-information/medical-history/breast-cancer/add" | urlWithReferrer(referrerChain, scrollTo)
  },
  {
    text: "Implanted medical device",
    href: "./medical-information/medical-history/implanted-medical-device/add" | urlWithReferrer(referrerChain, scrollTo)
  },
  {
    text: "Breast implants or augmentation", 
    href: "./medical-information/medical-history/breast-implants/add" | urlWithReferrer(referrerChain, scrollTo)
  },
  {
    text: "Breast reduction or mastectomy",
    href: "./medical-information/medical-history/breast-reduction-mastectomy/add" | urlWithReferrer(referrerChain, scrollTo)
  },
  {
    text: "Cyst drainage",
    href: "./medical-information/medical-history/cyst-drainage/add" | urlWithReferrer(referrerChain, scrollTo)
  },
  {
    text: "Lump removal or biopsy",
    href: "./medical-information/medical-history/lump-removal/add" | urlWithReferrer(referrerChain, scrollTo)
  },
  {
    text: "Lymph node surgery",
    href: "./medical-information/medical-history/lymph-node-surgery/add" | urlWithReferrer(referrerChain, scrollTo)
  }
] %}

<div class="nhsuk-form-group">
  {{ buttonMenu({
    items: medicalHistoryMenuItems,
    button: {
      text: "Add medical history",
      classes: "nhsuk-button--secondary"
    },
    alignMenu: "left"
  }) }}
</div>