{# app/views/events/appointment-note.html #}

{% extends 'layout-appointment-tab.html' %}

{% set activeTab = 'appointment-note' %}

{% set allowEdits = true %}

{% set formAction = eventUrl + "/appointment-note" %}

{% block tabContent %}

<div class="nhsuk-grid-row">
  <div class="nhsuk-grid-column-two-thirds">

    {% from 'inset-text/macro.njk' import insetText %}

    {% set insetTextHtml %}
    <p>If adjustments are required, <a
        href="{{ eventUrl }}/special-appointment/edit{{ ('?referrerChain=' + referrerChain) if referrerChain }}">provide
        special appointment details instead</a></p>
    {% endset %}

    {{ insetText({
    html: insetTextHtml
    }) }}

    {{ textarea({
    name: "[event][appointmentNote]",
    id: "appointment-note",
    label: {
    text: "Note",
    classes: "nhsuk-label--m"
    },
    hint: {
    text: "Include information that is relevant to this appointment."
    },
    value: event.appointmentNote,
    rows: 5
    }) }}

    <div class="nhsuk-button-group">
      {{ button({
      text: "Save note"
      }) }}

      {% if event.appointmentNote %}
      <a href="./appointment-note?event[appointmentNote]=&clearQuery=true" class="nhsuk-link app-link--warning">
        Delete appointment note
      </a>
      {% endif %}
    </div>


  </div>
</div>
{% endblock %}