{# app/views/events/appointment #}

{% extends 'layout-appointment-tab.html' %}

{# {% set pageHeading = "Screening appointment" %} #}


{% set activeTab = 'appointment' %}

{% set formAction = "./start" %}

{% block tabContent %}

  {% include "_includes/special-appointment-warning-card.njk" %}

  {% set statusHtml %}
    {# Status tag with check-in link #}
    {{ eventStatus({
      clinicId: clinicId,
      event: event,
      referrerChain: currentUrl
    })}}

    {% if event.status === "event_attended_not_screened" %}
      <p class="nhsuk-u-margin-top-2">[Reason for not screened here]</p>
    {% endif %}
  {% endset %}

  {% set appointmentTimeHtml -%}
    <p>{{ clinic.date | formatDate }} ({{ clinic.date | formatRelativeDate }})</p>
    <p>{{ event.timing.startTime | formatTimeString }} ({{ event.timing.duration }} minutes)</p>
  {% endset %}

  {% set specialAppointmentHtml %}
    {% if event | isSpecialAppointment %}
      {{ tag({
        text: "Special appointment",
        classes: "nhsuk-tag--yellow"
      })}}
    {% else %}
      {{ "Not a special appointment" | asHint }}
    {% endif %}
  {% endset %}

  {% set appointmentHtml %}
    {{ summaryList({
      rows: [
        {
          key: {
            text: "Date"
          },
          value: {
            html: appointmentTimeHtml
          },
          actions: {
            items: [
              {
                href: "#",
                text: "Reschedule appointment",
                visuallyHiddenText: "name"
              } if event.status == "event_scheduled"
            ]
          }
        },
        {
          key: {
            text: "Clinic type"
          },
          value: {
            text: clinic.clinicType | formatWords | sentenceCase
          },
          actions: {
            items: [

            ]
          }
        },
        {
          key: {
            text: "Appointment status"
          },
          value: {
            html: statusHtml
          },
          actions: {
            items: [
              {
                href: "#",
                text: "Change",
                visuallyHiddenText: "other details"
              } if event.status != "event_scheduled"
            ]
          }
        },
        {
          key: {
            text: "Special appointment"
          },
          value: {
            html: specialAppointmentHtml
          },
          actions: {
            items: [
              {
                href: "./special-appointment/edit" | urlWithReferrer(currentUrl),
                text: "Change",
                visuallyHiddenText: "special appointment"
              }
            ]
          }
        },
        {
          key: {
            text: "Appointment notes"
          },
          value: {
            html: ''
          },
          actions: {
            items: [
              {
                href: "#",
                text: "Change",
                visuallyHiddenText: "appointment notes"
              }
            ]
          }
        } if false
      ]
    } | handleSummaryListMissingInformation) }}
  {% endset %}

  {% call card({
    headingHtml: " "
  }) %}
    {{ appointmentHtml | safe }}
  {% endcall %}

{% endblock %}