{# app/views/events/appointment #}

{% extends 'layout-appointment.html' %}

{% set pageHeading = "Screening appointment" %}
{% set showNavigation = true %}
{% set activeTab = 'appointment' %}
{% set formAction = "./start" %}
{% set allowEdits = event.status != "event_cancelled" and event.status != "event_rescheduled" %}


{% block pageContent %}

  {% set eventUrl = "/clinics/" + clinicId + "/events/" + eventId %}

  {% include "_includes/special-appointment-warning-card.njk" %}
  {% include "_includes/appointment-note-card.njk" %}


  {% set statusHtml %}
    {# Status tag with check-in link #}
    {% if event.status === "event_rescheduled" %}
      <strong class="nhsuk-tag nhsuk-tag--red">Reschedule requested</strong>
    {% else %}
      {{ eventStatus({
        clinicId: clinicId,
        event: event,
        referrerChain: currentUrl
      })}}
    {% endif %}

    {% if event.status === "event_attended_not_screened" and event.appointmentStopped %}
      <p class="nhsuk-u-margin-top-2">
        <strong>Reason for stopping:</strong> {% for reason in event.appointmentStopped.stoppedReason -%}
          {{ reason }}
          {%- if reason === "Failed identity check" and event.appointmentStopped.failedIdentityDetails %} ({{ event.appointmentStopped.failedIdentityDetails }})
          {%- elif reason === "Pain during screening" and event.appointmentStopped.painDetails %} ({{ event.appointmentStopped.painDetails }})
          {%- elif reason === "Has a symptomatic appointment" and event.appointmentStopped.symptomaticDetails %} ({{ event.appointmentStopped.symptomaticDetails }})
          {%- elif reason === "Consent withdrawn" and event.appointmentStopped.consentDetails %} ({{ event.appointmentStopped.consentDetails }})
          {%- elif reason === "Physical health issue" and event.appointmentStopped.physicalHealthDetails %} ({{ event.appointmentStopped.physicalHealthDetails }})
          {%- elif reason === "Mental health issue" and event.appointmentStopped.mentalHealthDetails %} ({{ event.appointmentStopped.mentalHealthDetails }})
          {%- elif reason === "Language difficulties" and event.appointmentStopped.languageDetails %} ({{ event.appointmentStopped.languageDetails }})
          {%- elif reason === "No qualified mammographer available" and event.appointmentStopped.mammographerDetails %} ({{ event.appointmentStopped.mammographerDetails }})
          {%- elif reason === "Technical issues at clinic" and event.appointmentStopped.technicalDetails %} ({{ event.appointmentStopped.technicalDetails }})
          {%- elif reason === "Other reason" and event.appointmentStopped.otherDetails %} ({{ event.appointmentStopped.otherDetails }})
          {%- endif -%}
          {%- if not loop.last %}, {% endif -%}
        {% endfor %}
      </p>
      <p class="nhsuk-u-margin-top-2">
        <strong>Reschedule requested:</strong>
        {%- if event.appointmentStopped.needsReschedule === "yes" %} Yes
        {%- elif event.appointmentStopped.needsReschedule === "no-invite" %} No
        {%- elif event.appointmentStopped.needsReschedule === "no-opt-out" %} No, opting out
          {%- if event.appointmentStopped.optOutDetails %} ({{ event.appointmentStopped.optOutDetails }})
          {%- endif -%}
        {%- endif %}
      </p>
    {% endif %}

    {% if event.status === "event_cancelled" and event.cancellation %}
      <p class="nhsuk-u-margin-top-2">
        <strong>Cancellation reason:</strong> {% for reason in event.cancellation.reason -%}
          {{ reason }}
          {%- if reason === "Unable to attend" and event.cancellation.availabilityDetails %} ({{ event.cancellation.availabilityDetails }})
          {%- elif reason === "Moving outside England" and event.cancellation.movingDetails %} ({{ event.cancellation.movingDetails }})
          {%- elif reason === "Breast implant concerns" and event.cancellation.implantDetails %} ({{ event.cancellation.implantDetails }})
          {%- elif reason === "Bilateral mastectomy" and event.cancellation.mastectomyDetails %} ({{ event.cancellation.mastectomyDetails }})
          {%- elif reason === "Recent mammogram" and event.cancellation.mammogramDetails %} ({{ event.cancellation.mammogramDetails }})
          {%- elif reason === "Medical reasons" and event.cancellation.medicalDetails %} ({{ event.cancellation.medicalDetails }})
          {%- elif reason === "Has a symptomatic appointment" and event.cancellation.symptomaticDetails %} ({{ event.cancellation.symptomaticDetails }})
          {%- elif reason === "No qualified mammographer available" and event.cancellation.mammographerDetails %} ({{ event.cancellation.mammographerDetails }})
          {%- elif reason === "Technical issues at clinic" and event.cancellation.technicalDetails %} ({{ event.cancellation.technicalDetails }})
          {%- elif reason === "Mammogram room unavailable" and event.cancellation.mammogramRoomDetails %} ({{ event.cancellation.mammogramRoomDetails }})
          {%- elif reason === "Other reason" and event.cancellation.otherReasonDetails %} ({{ event.cancellation.otherReasonDetails }})
          {%- endif -%}
          {%- if not loop.last %}, {% endif -%}
        {% endfor %}
      </p>
      <p class="nhsuk-u-margin-top-2">
        <strong>Reschedule requested:</strong>
        {%- if event.cancellation.reschedule === "yes" %} Yes
        {%- elif event.cancellation.reschedule === "no-invite" %} No
        {%- elif event.cancellation.reschedule === "no-opt-out" %} No, opting out
          {%- if event.cancellation.optOutDetails %} ({{ event.cancellation.optOutDetails }})
          {%- endif -%}
        {%- endif %}
      </p>
    {% endif %}

    {% if event.status === "event_rescheduled" and event.reschedule %}
      <p class="nhsuk-u-margin-top-2">
        <strong>Cancellation reason:</strong> {% if event.cancellation and event.cancellation.reason -%}
          {% for reason in event.cancellation.reason -%}
            {{ reason }}
            {%- if reason === "Unable to attend" and event.cancellation.availabilityDetails %} ({{ event.cancellation.availabilityDetails }})
            {%- elif reason === "Moving outside England" and event.cancellation.movingDetails %} ({{ event.cancellation.movingDetails }})
            {%- elif reason === "Breast implant concerns" and event.cancellation.implantDetails %} ({{ event.cancellation.implantDetails }})
            {%- elif reason === "Bilateral mastectomy" and event.cancellation.mastectomyDetails %} ({{ event.cancellation.mastectomyDetails }})
            {%- elif reason === "Recent mammogram" and event.cancellation.mammogramDetails %} ({{ event.cancellation.mammogramDetails }})
            {%- elif reason === "Medical reasons" and event.cancellation.medicalDetails %} ({{ event.cancellation.medicalDetails }})
            {%- elif reason === "Has a symptomatic appointment" and event.cancellation.symptomaticDetails %} ({{ event.cancellation.symptomaticDetails }})
            {%- elif reason === "No qualified mammographer available" and event.cancellation.mammographerDetails %} ({{ event.cancellation.mammographerDetails }})
            {%- elif reason === "Technical issues at clinic" and event.cancellation.technicalDetails %} ({{ event.cancellation.technicalDetails }})
            {%- elif reason === "Mammogram room unavailable" and event.cancellation.mammogramRoomDetails %} ({{ event.cancellation.mammogramRoomDetails }})
            {%- elif reason === "Other reason" and event.cancellation.otherReasonDetails %} ({{ event.cancellation.otherReasonDetails }})
            {%- endif -%}
            {%- if not loop.last %}, {% endif -%}
          {% endfor -%}
        {%- endif %}
      </p>
      <p class="nhsuk-u-margin-top-2">
        <strong>Reschedule requested:</strong>
        {%- if event.reschedule.timing === "within-6-weeks" %} Yes, within 6 weeks
        {%- elif event.reschedule.timing === "more-than-6-weeks" %} Yes, more than 6 weeks away
        {%- endif -%}
        {%- if event.reschedule.note %} ({{ event.reschedule.note }})
        {%- endif %}
      </p>
    {% endif %}
  {% endset %}

  {% set appointmentTimeHtml -%}
    <p>{{ clinic.date | formatDate }} ({{ clinic.date | formatRelativeDate }})</p>
    <p>{{ event.timing.startTime | formatTimeString }} ({{ event.timing.duration }} minutes)</p>
  {% endset %}

  {% set specialAppointmentHtml %}
    {% if event | isSpecialAppointment %}
      {{ tag({
        text: "Special appointment",
        classes: "nhsuk-tag--yellow"
      })}}
    {% else %}
      {{ "Not a special appointment" | asHint }}
    {% endif %}
  {% endset %}

  {% set appointmentHtml %}
    {{ summaryList({
      rows: [
        {
          key: {
            text: "Date"
          },
          value: {
            html: appointmentTimeHtml
          },
          actions: {
            items: [

            ]
          }
        },
        {
          key: {
            text: "Clinic type"
          },
          value: {
            text: clinic.clinicType | formatWords | sentenceCase
          },
          actions: {
            items: [

            ]
          }
        },
        {
          key: {
            text: "Appointment status"
          },
          value: {
            html: statusHtml
          },
          actions: {
            items: [
              {
                href: "./undo-cancel",
                text: "Undo cancel appointment",
                visuallyHiddenText: "appointment"
              }
            ] if event.status == "event_cancelled" else ([
              {
                href: "./undo-reschedule",
                text: "Undo reschedule request",
                visuallyHiddenText: "appointment"
              }
            ] if event.status == "event_rescheduled" else [])
          }
        },
        {
          key: {
            text: "Special appointment"
          },
          value: {
            html: specialAppointmentHtml
          },
          actions: {
            items: [
              {
                href: "./special-appointment/edit" | urlWithReferrer(currentUrl),
                text: "Change",
                visuallyHiddenText: "special appointment"
              }
            ]
          }
        },
        {
          key: {
            text: "Appointment notes"
          },
          value: {
            html: ''
          },
          actions: {
            items: [
              {
                href: "#",
                text: "Change",
                visuallyHiddenText: "appointment notes"
              }
            ]
          }
        } if false
      ]
    } | handleSummaryListMissingInformation) }}
  {% endset %}

  {% call card({
    headingHtml: " "
  }) %}
    {{ appointmentHtml | safe }}
  {% endcall %}

{% endblock %}