{# app/views/events/appointment.html #}

{% extends 'layout-appointment-tab.html' %}

{# {% set pageHeading = "Screening appointment" %} #}

{% set activeTab = 'appointment' %}

{# Remove or comment out the formAction that's causing the redirect #}
{# {% set formAction = "./start" %} #}

{% block tabContent %}

  {% include "_includes/special-appointment-warning-card.njk" %}

  {# {% include "_includes/appointment-note.njk" %} #}

  {% set statusHtml %}
    {# Status tag with check-in link #}
    {{ eventStatus({
      clinicId: clinicId,
      event: event,
      referrerChain: currentUrl
    })}}

    {% if event.status === "event_attended_not_screened" %}
      <p class="nhsuk-u-margin-top-2">[Reason for not screened here]</p>
    {% endif %}
  {% endset %}

  {% set appointmentTimeHtml -%}
    <p>{{ clinic.date | formatDate }} ({{ clinic.date | formatRelativeDate }})</p>
    <p>{{ event.timing.startTime | formatTimeString }} ({{ event.timing.duration }} minutes)</p>
  {% endset %}

  {% set specialAppointmentHtml %}
    {% if event | isSpecialAppointment %}
      {{ tag({
        text: "Special appointment",
        classes: "nhsuk-tag--yellow"
      })}}
    {% else %}
      {{ "Not a special appointment" | asHint }}
    {% endif %}
  {% endset %}

  {% set appointmentNotesHtml %}
    {% if event.appointmentNote %}
      <p>{{ event.appointmentNote }}</p>
    {% else %}
      {{ "No appointment note added" | asHint }}
    {% endif %}
  {% endset %}

  {% call card({
    headingHtml: " "
  }) %}
    {{ summaryList({
      rows: [
        {
          key: {
            text: "Date"
          },
          value: {
            html: appointmentTimeHtml
          },
          actions: {
            items: [
              {
                href: "#",
                text: "Reschedule appointment",
                visuallyHiddenText: "name"
              } if event.status == "event_scheduled"
            ]
          }
        },
        {
          key: {
            text: "Clinic type"
          },
          value: {
            text: clinic.clinicType | formatWords | sentenceCase
          },
          actions: {
            items: [

            ]
          }
        },
        {
          key: {
            text: "Appointment status"
          },
          value: {
            html: statusHtml
          },
          actions: {
            items: [
              {
                href: "#",
                text: "Change",
                visuallyHiddenText: "other details"
              } if event.status != "event_scheduled"
            ]
          }
        },
        {
          key: {
            text: "Special appointment"
          },
          value: {
            html: specialAppointmentHtml
          },
          actions: {
            items: [
              {
                href: "./special-appointment/edit" | urlWithReferrer(currentUrl),
                text: "Change",
                visuallyHiddenText: "special appointment"
              }
            ]
          }
        },
        {
          key: {
            text: "Appointment notes"
          },
          value: {
            html: appointmentNotesHtml
          },
          actions: {
            items: [

            ]
          }
        }
      ]
    } | handleSummaryListMissingInformation) }}
  {% endcall %}

  

{% endblock %}