{% extends 'layout-appointment.html' %}

{% set pageHeading = "Appointment cannot proceed" %}

{% set formAction = './attended-not-screened-answer' %}

{% block pageContent %}

  {% set unit = data.breastScreeningUnits | findById(clinic.breastScreeningUnitId) %}

  <h1 class="nhsuk-heading-l">
    <span class="nhsuk-caption-l">
      {{ participant | getFullName }}
    </span>
    {{ pageHeading }}
  </h1>

  {{ checkboxes({
    name: "event[appointmentStopped][stoppedReason]",
    fieldset: {
      legend: {
        text: "Why has this appointment been stopped?",
        classes: "nhsuk-fieldset__legend--m",
        isPageHeading: false
      }
    },
    hint: {
      text: "Select all that apply"
    },
    values: event.appointmentStopped.stoppedReason,
    items: [
      {
        value: "Failed identity check",
        text: "Failed identity check"
      },
      {
        value: "Pain during screening",
        text: "Pain during screening"
      },
      {
        value: "Has a symptomatic appointment",
        text: "Has a symptomatic appointment"
      },
      {
        value: "Consent withdrawn",
        text: "Consent withdrawn"
      },
      {
        value: "Physical health issue",
        text: "Physical health issue"
      },
      {
        value: "Mental health issue",
        text: "Mental health issue"
      },
      {
        value: "Language difficulties",
        text: "Language difficulties"
      },
      {
        value: "No qualified mammographer available",
        text: "No qualified mammographer available"
      },
      {
        value: "Technical issues at clinic",
        text: "Technical issues at clinic"
      },
      {
        value: "Other reason",
        text: "Other reason",
        conditional: {
          html: textarea({
            name: "event[appointmentStopped][otherDetails]",
            label: {
              text: "Provide details"
            },
            value: event.appointmentStopped.otherDetails
          })
        }
      }
    ]
  } | populateErrors) }}

  {{ radios({
    name: "event[appointmentStopped][needsReschedule]",
    value: event.appointmentStopped.needsReschedule,
    fieldset: {
      legend: {
        text: "Should the appointment be rescheduled?",
        classes: "nhsuk-fieldset__legend--m",
        isPageHeading: false
      }
    },
    items: [
      {
        value: "yes",
        text: "Yes"
      },
      {
        value: "no-invite",
        text: "No, invite to next routine appointment"
      },
      {
        value: "no-opt-out",
        text: "No, permanently opt out",
        hint: {
          text: "They will receive information explaining their options"
        }
      }
    ]
  } | populateErrors) }}

  <div class="nhsuk-button-group">
    {{ button({
      text: "Continue"
    }) }}
  </div>

{% endblock %}