{% extends 'layout-appointment.html' %}


{% set pageHeading = "Check information" %}
{% set showNavigation = true %}
{% set activeWorkflowStep = 'check-information' %}
{% set hideBackLink = true %}

{% set allowEdits = true %}

{% set gridColumn = "nhsuk-grid-column-full" %}

{% set formAction = './complete' %}

{# {% set back = {
  href: "/clinics/" + clinicId,
  text: "Back to clinic"
} %}
 #}

{% set activeTab = 'review' %}




{% block pageContent %}

{# ----------------- #}

{% set condensedSummaries %}

  {# Personal information #}
  {% set participantDetailsHtml %}
    {% call summaryList() %}
      
      {{ appSummaryListRow({
        key: {
          text: "Personal information"
        },
        value: {
          html: "No changes"
        },
        actions: {
          items: [
            {
              href: "./confirm-information/personal-details" | urlWithReferrer(currentUrl),
              text: "View or change",
              visuallyHiddenText: "personal information"
            } if allowEdits
          ]
        }
      }) }}
      {% include "_includes/summary-lists/rows/ethnicity.njk" %}
    {% endcall %}
  {% endset %}

  {{ card({
    heading: "Personal information",
    headingLevel: "2",
    feature: true,
    descriptionHtml: participantDetailsHtml
  }) }}

  {# Medical information summary card #}
  {% set medicalInfoSummaryHtml %}
    {% include "_includes/summary-lists/medical-info-summary.njk" %}
  {% endset %}

  {{ card({
    heading: "Medical information",
    headingLevel: "2",
    feature: true,
    descriptionHtml: medicalInfoSummaryHtml
  }) }}
{% endset %}


{% set nonCondensedSummaries %}

  {# Include the personal details summary in a feature card #}
  {% set participantDetailsHtml %}
    {% call summaryList() %}
      {% include "_includes/summary-lists/rows/nhs-number.njk" %}
      {% include "_includes/summary-lists/rows/full-name.njk" %}
      {% include "_includes/summary-lists/rows/date-of-birth.njk" %}
      {% include "_includes/summary-lists/rows/address.njk" %}
      {% include "_includes/summary-lists/rows/phone-numbers.njk" %}
      {% include "_includes/summary-lists/rows/email.njk" %}
      {% include "_includes/summary-lists/rows/ethnicity.njk" %}
      {% include "_includes/summary-lists/rows/gp.njk" %}
    {% endcall %}
  {% endset %}

  {{ card({
    heading: "Personal information",
    headingLevel: "2",
    feature: true,
    descriptionHtml: participantDetailsHtml
  }) }}

  {% set medicalHistoryHtml %}
    {% include "medical-information/medical-history/index.njk" %}
  {% endset %}
  {# Medical history card #}
  {{ card({
    heading: "Medical history",
    headingLevel: "2",
    feature: true,
    descriptionHtml: medicalHistoryHtml
  }) }}

  {# Symptoms card #}
  {% set symptomsCardContent %}
    {% include "_includes/medical-information/symptoms-card-content.njk" %}
  {% endset %}

  {{ card({
    heading: "Symptoms",
    headingLevel: "2",
    feature: true,
    descriptionHtml: symptomsCardContent
  }) }}

  {# Breast features card #}

  {% set breastFeaturesHtml %}
    {% include "_includes/medical-information/breast-features.njk" %}
  {% endset %}

  {{ card({
    heading: "Breast features",
    headingLevel: "2",
    feature: true,
    descriptionHtml: breastFeaturesHtml
  }) }}

  {# Other relevant information card #}
  {% set otherRelevantInformationHtml %}
    {% include "_includes/summary-lists/medical-information/other-relevant-information.njk" %}
  {% endset %}

  {{ card({
    heading: "Other relevant medical information",
    headingLevel: "2",
    feature: true,
    descriptionHtml: otherRelevantInformationHtml
  }) }}

{% endset %}



{# ----------------- #}

  <h1>{{ pageHeading }}</h1>

  <p class="nhsuk-u-reading-width">
    Before concluding this appointment, confirm that the information recorded is correct.
  </p>
  {# {{ button({
    text: "Complete screening and return to clinic"
  }) }} #}

 

  {{ data.settings | log("Settings in review page:") }}

  {% if data.settings.screening.useCondensedReviewSummaries == 'true' %}
    {{ condensedSummaries | safe }}
  {% else %}
    {{ nonCondensedSummaries | safe }}
  {% endif %}


  {# Image card #}
  {% set imageCount = event.mammogramData.metadata.totalImages %}
  {% set imagesCardHtml %}
    {% include "_includes/summary-lists/medical-information/mammogram-image-data.njk" %}
  {% endset %}

  {{ card({
    heading: imageCount ~ " images taken",
    headingLevel: "2",
    feature: true,
    descriptionHtml: imagesCardHtml
  }) }}

  {% set otherDetailsCardHtml %}

    {% set specialAppointmentHtml %}
      {% if event | isSpecialAppointment %}
        {{ tag({
          text: "Special appointment",
          classes: "nhsuk-tag--yellow nhsuk-u-margin-bottom-3"
        })}}
        {% include "_includes/special-appointment-content.njk" %}
      {% else %}
        <p>No</p>
      {% endif %}
    {% endset %}

    {{ summaryList({
      rows: [
        {
          key: {
            text: "Special appointment"
          },
          value: {
            html: specialAppointmentHtml
          },
          actions: {
            items: [
              {
                href: (eventUrl + "/special-appointment/edit") | urlWithReferrer(currentUrl),
                text: "Change",
                visuallyHiddenText: "special appointment"
              }
            ]
          }
        },
        {
          key: {
            text: "Appointment note"
          },
          value: {
            html: event.appointmentNote
          },
          actions: {
            items: [
              {
                href: (eventUrl + "/appointment-note") | urlWithReferrer(currentUrl),
                text: "Change",
                visuallyHiddenText: "appointment note"
              }
            ]
          }
        }
      ]
    } | handleSummaryListMissingInformation) }}
  {% endset %}

  {{ card({
    heading: "Appointment details",
    headingLevel: "2",
    feature: true,
    descriptionHtml: otherDetailsCardHtml
  }) }}

  {# Finish #}

  {{ button({
    text: "Complete screening and return to clinic"
  }) }}

  {# <p><a href="./attended-not-screened-reason">Screening cannot proceed</a></p> #}

{% endblock %}