{# app/views/events/identity #}

{% extends 'layout-appointment.html' %}

{% set pageHeading = "Confirm identity" %}
{% set showNavigation = true %}
{% set activeWorkflowStep = 'confirm-identity' %}
{% set hideBackLink = true %}
{% set allowEdits = true %}

{% set referrerChain = currentUrl %}

{% set formAction = "./review-medical-information" | getReturnUrl(referrerChain) %}

{% block pageContent %}

  <h1>{{ pageHeading }}</h1>

  {{ appHiddenInput({
    name: "event[workflowStatus][confirm-identity]",
    value: "completed"
  }) }}

  {% set dynamicConfirmButton %}
    <div class="nhsuk-form-group">
      {{ button({
        text: "Confirm identity" if data.event.workflowStatus['confirm-identity'] != 'completed' else "Next section",
        classes: "nhsuk-u-margin-bottom-0"
      }) }}
    </div>
  {% endset %}

  {# <hr class="nhsuk-section-break nhsuk-section-break--m nhsuk-section-break--visible"> #}

  {# 'Confirm identity' or 'Next section' #}
  {{ dynamicConfirmButton | safe }}


  <hr class="nhsuk-section-break nhsuk-section-break--m nhsuk-section-break--visible">

  {% include "_includes/special-appointment-warning-card.njk" %}
  {% include "_includes/appointment-note-card.njk" %}


  {% call card({
    headingHtml: " "
  }) %}
    

    {% call summaryList() %}
      {% include "_includes/summary-lists/rows/nhs-number.njk" %}
      {% include "_includes/summary-lists/rows/full-name.njk" %}
      {# {% include "_includes/summary-lists/rows/gender.njk" %} #}
      {% include "_includes/summary-lists/rows/date-of-birth.njk" %}
      {% include "_includes/summary-lists/rows/address.njk" %}
      {% include "_includes/summary-lists/rows/phone-numbers.njk" %}
      {% include "_includes/summary-lists/rows/email.njk" %}
      {% include "_includes/summary-lists/rows/ethnicity.njk" %}
      {% include "_includes/summary-lists/rows/gp.njk" %}
    {% endcall %}
  {% endcall %}

  {# 'Confirm identity' or 'Next section' #}
  {{ dynamicConfirmButton | safe }}


  {% include "screening-cannot-proceed-link.njk" %}

{% endblock %}