{# app/views/events/exit-appointment.html #}

{% extends 'layout-appointment.html' %}

{% set pageHeading = "Exit appointment" %}
{% set formAction = (eventUrl + "/exit-appointment-answer") | urlWithReferrer(referrerChain) %}

{# Suppress nav as it's a link to the page we're on #}
{% set useMinimalNav = true %}

{% block pageContent %}

  <h1 class="nhsuk-heading-l">{{ pageHeading }}</h1>

  {% set hasStartedImaging = (event.workflowStatus['confirm-identity'] == 'completed') and (event.workflowStatus['review-medical-information'] == 'completed') %}
  {% set hasCompletedImaging = event.workflowStatus['take-images'] == 'completed' %}
  {% set confirmedNoImages = data.confirmedNoImages %}
  {% set confirmedImagesWereTaken = data.confirmedImagesWereTaken %}

  {% if hasCompletedImaging or confirmedImagesWereTaken %}
    {# Scenario 3: Images completed - can only pause #}
    {% include 'events/exit-appointment/images-completed.html' %}
  {% elif hasStartedImaging and not confirmedNoImages %}
    {# Scenario 2: During images - ask if images were taken #}
    {% include 'events/exit-appointment/images-may-be-taken.html' %}
  {% else %}
    {# Scenario 1: Before images - show all options #}
    {% include 'events/exit-appointment/before-images.html' %}
  {% endif %}

{% endblock %}