{# app/views/events/identity #}

{% extends 'layout-app.html' %}

{% set pageHeading = "Review participant" %}

{% set gridColumn = "nhsuk-grid-column-full" %}

{% set referrerChain = currentUrl %}

{% set formAction = "./record-medical-information" | getReturnUrl(referrerChain) %}

{# {% set hideBackLink = true %} #}
{% set back = {
  href: eventUrl ~ "/leave",
  text: "Leave this appointment"
} %}

{% set showWorkflowNav = true %}
{% set activeTab = 'identity' %}

{% block pageContent %}



  {% include "event-workflow.njk" %}

  {{ appHiddenInput({
    name: "event[workflowStatus][identity]",
    value: "completed"
  }) }}

  {# <hr class="nhsuk-section-break nhsuk-section-break--m nhsuk-section-break--visible"> #}

  <div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-two-thirds">
      {{ button({
        text: "Confirm identity" if data.event.workflowStatus.identity != 'completed' else "Next section",
        classes: "nhsuk-u-margin-bottom-0"
      }) }}

      {# <p>
        Selecting this confirms there is nothing further to record for the 4 remaining medical information sections
      </p> #}
    </div>
  </div>

  <hr class="nhsuk-section-break nhsuk-section-break--m nhsuk-section-break--visible">

  {% include "_includes/special-appointment-warning-card.njk" %}
  {# {% include "_includes/appointment-note.njk" %} #}


  {% call card({
    headingHtml: " "
  }) %}
    {% set allowEdits = true %}

    {% call summaryList() %}
      {% include "_includes/summary-lists/rows/nhs-number.njk" %}
      {% include "_includes/summary-lists/rows/full-name.njk" %}
      {# {% include "_includes/summary-lists/rows/gender.njk" %} #}
      {% include "_includes/summary-lists/rows/date-of-birth.njk" %}
      {% include "_includes/summary-lists/rows/address.njk" %}
      {% include "_includes/summary-lists/rows/phone-numbers.njk" %}
      {% include "_includes/summary-lists/rows/email.njk" %}
      {% include "_includes/summary-lists/rows/ethnicity.njk" %}
      {% include "_includes/summary-lists/rows/gp.njk" %}
    {% endcall %}
  {% endcall %}


  <div class="nhsuk-form-group">
    {{ button({
      text: "Confirm identity"
    }) }}
  </div>

  {% include "screening-cannot-proceed-link.njk" %}

{% endblock %}