
{% extends 'layout-app.html' %}


{% set pageHeading = "Images" %}

{% set gridColumn = "nhsuk-grid-column-full" %}

{% set formAction = './imaging-answer' %}

{% set activeTab = 'images' %}

{% block pageContent %}

  {% include "event-workflow.njk" %}

  {{ radios({
    idPrefix: "imagingComplete",
    name: "event[mammogramData][isPartialMammography]",
    fieldset: {
      legend: {
        text: "Have images been taken?",
        classes: "nhsuk-fieldset__legend--m",
        isPageHeading: false
      }
    },
    value: event.mammogramData.isPartialMammography,
    items: [
      {
        value: "yes",
        text: "Yes, standard 4 images"
      },
      {
        value: "yes",
        text: "Yes, but provide additional details"
      },
      {
        value: "no",
        text: "No, imaging not completed",
        conditional: {
          html: reasonHtml
        }
      }
    ]
  }) }}

  {# <p>
    <a class="nhsuk-link app-link--error" href="#">There is a problem with the images</a>
  </p> #}

  {# {{ appHiddenInput({
    name: "event[mammogramData][isPartialMammography]",
    value: "no"
  }) }} #}



  {{ button({
    text: "Continue"
  }) }}

  {# {% include "screening-cannot-proceed-link.njk" %} #}

{% endblock %}


