
{% extends 'layout-app.html' %}


{% set pageHeading = "Images" %}

{% set gridColumn = "nhsuk-grid-column-two-thirds" %}

{% set formAction = './imaging-answer' %}

{% set activeTab = 'images' %}

{% block pageContent %}

  {% include "event-workflow.njk" %}

  {{ radios({
    idPrefix: "imagingComplete",
    name: "event[mammogramData][isPartialMammography]",
    fieldset: {
      legend: {
        text: "Is the imaging stage complete?",
        classes: "nhsuk-fieldset__legend--m",
        isPageHeading: false
      }
    },
    value: event.mammogramData.isPartialMammography,
    items: [
      {
        value: "yes",
        text: "Yes, standard 4 images taken",
        hint: {
          text: "2 views of each breast (CC and MLO views)"
        }
      },
      {
        value: "yes",
        text: "Yes, but provide additional details",
        hint: {
          text: "For example, additional images taken or partial mammography"
        }
      },
      {
        value: "no",
        text: "No, there was a problem with imaging",
        conditional: {
          html: reasonHtml
        }
      }
    ]
  }) }}

  {{ radios({
    name: "event[mammogramData][machineRoom]",
    value: event.mammogramData.machineRoom,
    idPrefix: "machineRoom",
    fieldset: {
      legend: {
        text: "Which machine took the images?",
        classes: "nhsuk-fieldset__legend--m",
        isPageHeading: false
      }
    },
    items: [
      {
        value: "Room A - machine XYZ",
        text: "Room A - machine XYZ"
      },
      {
        value: "Room B - machine ABC",
        text: "Room B - machine ABC"
      },
      {
        value: "Room C - machine DEF",
        text: "Room C - machine DEF"
      }
    ]
  }) }}

  {% set viewsQuestionText %}
    Which views were taken
  {%- endset %}

  {# H2 hidden from AT as it's included in the fieldset legend of each set of checkboxes #}
  {# <h2 aria-hidden="true">{{ viewsQuestionText }}?</h2>

  <div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-one-half">
      {{ checkboxes({
        name: "event[mammogramData][viewsRightBreast]",
        values: event.mammogramData.viewsRightBreast,
        idPrefix: "viewsRightBreast",
        fieldset: {
          legend: {
            html: ((viewsQuestionText + " for the") | asVisuallyHiddenText) ~ " Right breast",
            classes: "nhsuk-fieldset__legend--s",
            isPageHeading: false
          }
        },
        items: [
          {
            value: "CC",
            text: "CC"
          },
          {
            value: "MLO",
            text: "MLO"
          },
          {
            value: "Eklund",
            text: "Eklund"
          },
          {
            divider: "or"
          },
          {
            value: "No images taken",
            text: "No images taken",
            exclusive: true
          }
        ]
      }) }}
    </div>
    <div class="nhsuk-grid-column-one-half">
      {{ checkboxes({
        name: "event[mammogramData][viewsLeftBreast]",
        values: event.mammogramData.viewsLeftBreast,
        idPrefix: "viewsLeftBreast",
        fieldset: {
          legend: {
            html: ((viewsQuestionText + " for the") | asVisuallyHiddenText) ~ " Left breast",
            classes: "nhsuk-fieldset__legend--s",
            isPageHeading: false
          }
        },
        items: [
          {
            value: "CC",
            text: "CC"
          },
          {
            value: "MLO",
            text: "MLO"
          },
          {
            value: "Eklund",
            text: "Eklund"
          },
          {
            divider: "or"
          },
          {
            value: "No images taken",
            text: "No images taken",
            exclusive: true
          }
        ]
      }) }}
    </div>
  </div> #}



  {% set viewsQuestionText %}
    Which views were taken
  {%- endset %}

  {# H2 hidden from AT as it's included in the fieldset legend of each set of checkboxes #}
  <h2 aria-hidden="true">{{ viewsQuestionText }}?</h2>

  <div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-one-half">
      {{ checkboxes({
        name: "event[mammogramData][viewsRightBreast]",
        values: event.mammogramData.viewsRightBreast,
        idPrefix: "viewsRightBreast",
        fieldset: {
          legend: {
            html: ((viewsQuestionText + " for the") | asVisuallyHiddenText) ~ " Right breast",
            classes: "nhsuk-fieldset__legend--s",
            isPageHeading: false
          }
        },
        items: [
          {
            value: "CC",
            text: "CC",
            conditional: {
              html: input({
                label: {
                  text: "Number of images"
                },
                name: "event[mammogramData][viewsRightBreastCCCount]",
                value: event.mammogramData.viewsRightBreastCCCount or "1",
                id: "views-right-breast-cc-count",
                classes: "nhsuk-input--width-3",
                inputmode: "numeric"
              })
            }
          },
          {
            value: "MLO",
            text: "MLO",
            conditional: {
              html: input({
                label: {
                  text: "Number of images"
                },
                name: "event[mammogramData][viewsRightBreastMLOCount]",
                value: event.mammogramData.viewsRightBreastMLOCount or "1",
                id: "views-right-breast-mlo-count",
                classes: "nhsuk-input--width-3",
                inputmode: "numeric"
              })
            }
          },
          {
            value: "Eklund",
            text: "Eklund",
            conditional: {
              html: input({
                label: {
                  text: "Number of images"
                },
                name: "event[mammogramData][viewsRightBreastEklundCount]",
                value: event.mammogramData.viewsRightBreastEklundCount or "1",
                id: "views-right-breast-eklund-count",
                classes: "nhsuk-input--width-3",
                inputmode: "numeric"
              })
            }
          },
          {
            divider: "or"
          },
          {
            value: "No images taken",
            text: "No images taken",
            exclusive: true
          }
        ]
      }) }}
    </div>
    <div class="nhsuk-grid-column-one-half">
      {{ checkboxes({
        name: "event[mammogramData][viewsLeftBreast]",
        values: event.mammogramData.viewsLeftBreast,
        idPrefix: "viewsLeftBreast",
        fieldset: {
          legend: {
            html: ((viewsQuestionText + " for the") | asVisuallyHiddenText) ~ " Left breast",
            classes: "nhsuk-fieldset__legend--s",
            isPageHeading: false
          }
        },
        items: [
          {
            value: "CC",
            text: "CC",
            conditional: {
              html: input({
                label: {
                  text: "Number of images"
                },
                name: "event[mammogramData][viewsLeftBreastCCCount]",
                value: event.mammogramData.viewsLeftBreastCCCount or "1",
                id: "views-left-breast-cc-count",
                classes: "nhsuk-input--width-3",
                inputmode: "numeric"
              })
            }
          },
          {
            value: "MLO",
            text: "MLO",
            conditional: {
              html: input({
                label: {
                  text: "Number of images"
                },
                name: "event[mammogramData][viewsLeftBreastMLOCount]",
                value: event.mammogramData.viewsLeftBreastMLOCount or "1",
                id: "views-left-breast-mlo-count",
                classes: "nhsuk-input--width-3",
                inputmode: "numeric"
              })
            }
          },
          {
            value: "Eklund",
            text: "Eklund",
            conditional: {
              html: input({
                label: {
                  text: "Number of images"
                },
                name: "event[mammogramData][viewsLeftBreastEklundCount]",
                value: event.mammogramData.viewsLeftBreastEklundCount or "1",
                id: "views-left-breast-eklund-count",
                classes: "nhsuk-input--width-3",
                inputmode: "numeric"
              })
            }
          },
          {
            divider: "or"
          },
          {
            value: "No images taken",
            text: "No images taken",
            exclusive: true
          }
        ]
      }) }}
    </div>
  </div>

  {% set reasonHtml %}
    {{ textarea({
      name: "event[mammogramData][partialMammographyReason]",
      value: event.mammogramData.partialMammographyReason,
      id: "partialMammographyReason",
      label: {
        text: "Reason for partial mammography"
      }
    }) }}
  {% endset %}

  {{ checkboxes({
    idPrefix: "example",
    name: "example",
    fieldset: {
      legend: {
        text: "Record as partial mammography?",
        classes: "nhsuk-fieldset__legend--m",
        isPageHeading: false
      }
    },
    items: [
      {
        value: "Yes, partial mammography",
        text: "Yes, partial mammography",
        conditional: {
          html: reasonHtml
        }
      }
    ]
  }) }}

  {# {{ radios({
    idPrefix: "imagingComplete",
    name: "event[mammogramData][isPartialMammography]",
    fieldset: {
      legend: {
        text: "Has the full mammography been taken?",
        classes: "nhsuk-fieldset__legend--m",
        isPageHeading: false
      }
    },
    value: event.mammogramData.isPartialMammography,
    items: [
      {
        value: "no",
        text: "Yes (" + imageCount + " images)"
      },
      {
        value: "yes",
        text: "No, partial mammography only",
        conditional: {
          html: reasonHtml
        }
      }
    ]
  }) }} #}

  {# <p>
    <a class="nhsuk-link app-link--error" href="#">There is a problem with the images</a>
  </p> #}

  {# {{ appHiddenInput({
    name: "event[mammogramData][isPartialMammography]",
    value: "no"
  }) }} #}

  {{ textarea({
    name: "TBC",
    id: "additional-details",
    value: TBC,
    label: {
      text: "Additional details (optional)",
      classes: "nhsuk-label--m"
    },
    hint: {
      text: "Any other relevant information about the images"
    },
    rows: 2
  }) }}

  {{ button({
    text: "Continue"
  }) }}

  {# {% include "screening-cannot-proceed-link.njk" %} #}

{% endblock %}


