
{% extends 'layout-appointment.html' %}


{% set pageHeading = "Awaiting images" %}
{% set showNavigation = true %}
{% set activeWorkflowStep = 'take-images' %}
{% set hideBackLink = true %}

{% set formAction = './images-automatic' %}

{% set activeTab = 'images' %}

{% block pageContent %}

  {% set rawBreastFeatures = event.medicalInformation.breastFeaturesRaw | parseJsonString %}
  {% set breastFeatures = event.medicalInformation.breastFeatures or rawBreastFeatures %}
  {% set reviewAfterImagingStatus = data.event.workflowStatus['review-breast-features-after-imaging'] %}
  {% if not reviewAfterImagingStatus %}
    {% set reviewAfterImagingStatus = event.workflowStatus['review-breast-features-after-imaging'] %}
  {% endif %}

  <h1>{{ pageHeading }}</h1>

  {% set allowEdits = true %}
  <h2>Are there any breast features to add?</h2>
  <div id="status-message" aria-live="polite" class="nhsuk-u-visually-hidden" role="status"></div>
  {#
  <p class="nhsuk-body">
    Click the diagram to add notable features such as scars, moles, or warts that image readers may need to be aware of. These could be observed by you or reported by the participant.
  </p>
  <div class="breast-features-diagram-header">
    <h4 class="nhsuk-heading-s">Where is the feature?</h4>
  </div>
  #}
  <div class="breast-features-diagram-container">
  <div class="nhsuk-u-margin-bottom-4">
    {% include "_includes/breast-diagram-wrapper.njk" %}
  </div>
    {% include "_includes/feature-popover.njk" %}
    {% include "_includes/features-list.njk" %}
  </div>

  {{ button({
    text: "Save",
    type: "button",
    variant: "secondary",
    attributes: {
      id: "saveBtn"
    }
  }) }}

  <script>
  window.breastFeaturesConfig = {
    hiddenFieldName: 'event[medicalInformation][breastFeaturesRaw]',
    hiddenFieldId: 'breastFeaturesRaw',
    existingFeatures: {{ breastFeatures | dump | safe }} || [],
    featureTypes: [
     { value: 'mole', text: 'Mole' },
     { value: 'wart', text: 'Wart' },
     { value: 'non-surgical-scar', text: 'Non-surgical scar' },
     { value: 'bruising-or-trauma', text: 'Bruising or trauma' },
     { value: 'other-feature', text: 'Other feature' }
    ]
  }
  </script>

  <script type="module" src="/assets/javascript/breast-features.js"></script>

  {% set insetHtml %}
    <p>
      Mammography images will appear below once they have been received
    </p>
  {% endset %}

  {{ insetText({
    html: insetHtml
  }) }}

  {{ appHiddenInput({
    name: "event[workflowStatus][awaiting-images]",
    value: "completed"
  }) }}

  <p class="app-suppress-link-styles">
    <button class="app-button-link" type="submit">
      Loading images...
    </button>
    {# <a href="./images?event[workflowStatus][awaiting-images]=completed">
      <span class="">Loading images...</span>
    </a> #}
  </p>

  {% include "_includes/images/image-troubleshooting.njk" %}

{% endblock %}


