{# app/views/events/images.html #}

{% set isCompleted = event | isCompleted %}

{% if isCompleted %}
  {% include "events/images-completed-mammography.html" %}
{% else %}
  {% set showWorkflowNav = true %}
  {% set isAwaitingImages = event.workflowStatus['awaiting-images'] != 'completed' %}

  {% if data.settings.screening.manualImageFlow | falsify %}
    {% include "events/images-manual-flow.html" %}
  {% elseif isAwaitingImages %}
    {% include "events/images-before-mammography.html" %}
  {% else %}
    {% include "events/images-during-mammography.html" %}
  {% endif %}

{% endif %}