{% extends 'layout-appointment.html' %} 

{% set showNavigation = true %}
{% set hideBackLink = true %}
{% set activeWorkflowStep = 'take-images' %}

{% set pageHeading = "Provide image details" %}

{% set gridColumn = "nhsuk-grid-column-two-thirds" %}

{% set formAction = './images-manual-details-answer' %}

{% set activeTab = 'images' %}

{% set viewQuestionStyle = data.viewQuestionStyle or "inputs" %} {# "checkboxes" or "inputs" #}

{% block pageContent %}

  {# TODO: Ideally this would be before the main element #}
  {{ backLink({
    href: "javascript:history.back();",
    text: "Back",
    classes: "nhsuk-u-margin-top-0 nhsuk-u-margin-bottom-4"
  }) }}

  <h1>{{ pageHeading }}</h1>

  {# Get count values - prefer temp data, fall back to structured mammogramData #}
  {% set mammogramTemp = event.mammogramDataTemp or {} %}
  {% set mammogramViews = event.mammogramData.views or {} %}
  
  {% set viewsRightBreastCCCount = mammogramTemp.viewsRightBreastCCCount or mammogramViews.rightCraniocaudal.count or "" %}
  {% set viewsRightBreastMLOCount = mammogramTemp.viewsRightBreastMLOCount or mammogramViews.rightMediolateralOblique.count or "" %}
  {% set viewsRightBreastEklundCount = mammogramTemp.viewsRightBreastEklundCount or mammogramViews.rightEklund.count or "" %}
  {% set viewsLeftBreastCCCount = mammogramTemp.viewsLeftBreastCCCount or mammogramViews.leftCraniocaudal.count or "" %}
  {% set viewsLeftBreastMLOCount = mammogramTemp.viewsLeftBreastMLOCount or mammogramViews.leftMediolateralOblique.count or "" %}
  {% set viewsLeftBreastEklundCount = mammogramTemp.viewsLeftBreastEklundCount or mammogramViews.leftEklund.count or "" %}
  {% set additionalDetails = mammogramTemp.additionalDetails or event.mammogramData.additionalDetails or "" %}

  {# {% set inputsLink %}
    <p>
      <a href="./images-manual-details?viewQuestionStyle=inputs">Swap to 'input' style</a>
    </p>
  {% endset %}

  {% set checkboxesLink %}
    <p>
      <a href="./images-manual-details?viewQuestionStyle=checkboxes">Swap to 'checkboxes' style</a>
    </p>
  {% endset %} #}

  {% if viewQuestionStyle == 'inputs' %}
    {{ checkboxesLink | safe }}
  {% else %}
    {{ inputsLink | safe }}
  {% endif %}

  {% set viewsQuestionCheckboxes %}

    {{ appHiddenInput({
      name: "event[mammogramDataTemp][uiVersion]",
      value: "checkboxes"
    }) }}

    {% set viewsQuestionText %}
      Which views were taken
    {%- endset %}

    {# H2 hidden from AT as it's included in the fieldset legend of each set of checkboxes #}
    <h2 aria-hidden="true">{{ viewsQuestionText }}?</h2>

    {# Build checked values arrays based on count fields #}
    {% set rightBreastChecked = [] %}
    {% if (viewsRightBreastCCCount | int) > 0 %}
      {% set rightBreastChecked = rightBreastChecked | push('CC') %}
    {% endif %}
    {% if (viewsRightBreastMLOCount | int) > 0 %}
      {% set rightBreastChecked = rightBreastChecked | push('MLO') %}
    {% endif %}
    {% if (viewsRightBreastEklundCount | int) > 0 %}
      {% set rightBreastChecked = rightBreastChecked | push('Eklund') %}
    {% endif %}

    {% set leftBreastChecked = [] %}
    {% if (viewsLeftBreastCCCount | int) > 0 %}
      {% set leftBreastChecked = leftBreastChecked | push('CC') %}
    {% endif %}
    {% if (viewsLeftBreastMLOCount | int) > 0 %}
      {% set leftBreastChecked = leftBreastChecked | push('MLO') %}
    {% endif %}
    {% if (viewsLeftBreastEklundCount | int) > 0 %}
      {% set leftBreastChecked = leftBreastChecked | push('Eklund') %}
    {% endif %}

    <div class="nhsuk-grid-row">
      <div class="nhsuk-grid-column-one-half">
        {{ checkboxes({
          name: "event[mammogramDataTemp][viewsRightBreast]",
          values: rightBreastChecked,
          idPrefix: "viewsRightBreast",
          fieldset: {
            legend: {
              html: ((viewsQuestionText + " for the") | asVisuallyHiddenText) ~ " Right breast",
              classes: "nhsuk-fieldset__legend--s",
              isPageHeading: false
            }
          },
          items: [
            {
              value: "CC",
              text: "CC",
              conditional: {
                html: input({
                  label: {
                    text: "Number of images"
                  },
                  name: "event[mammogramDataTemp][viewsRightBreastCCCount]",
                  value: viewsRightBreastCCCount or "1",
                  id: "views-right-breast-cc-count",
                  classes: "nhsuk-input--width-3",
                  inputmode: "numeric"
                })
              }
            },
            {
              value: "MLO",
              text: "MLO",
              conditional: {
                html: input({
                  label: {
                    text: "Number of images"
                  },
                  name: "event[mammogramDataTemp][viewsRightBreastMLOCount]",
                  value: viewsRightBreastMLOCount or "1",
                  id: "views-right-breast-mlo-count",
                  classes: "nhsuk-input--width-3",
                  inputmode: "numeric"
                })
              }
            },
            {
              value: "Eklund",
              text: "Eklund",
              conditional: {
                html: input({
                  label: {
                    text: "Number of images"
                  },
                  name: "event[mammogramDataTemp][viewsRightBreastEklundCount]",
                  value: viewsRightBreastEklundCount or "1",
                  id: "views-right-breast-eklund-count",
                  classes: "nhsuk-input--width-3",
                  inputmode: "numeric"
                })
              }
            },
            {
              divider: "or"
            },
            {
              value: "No images taken",
              text: "No images taken",
              exclusive: true
            }
          ]
        }) }}
      </div>
      <div class="nhsuk-grid-column-one-half">
        {{ checkboxes({
          name: "event[mammogramDataTemp][viewsLeftBreast]",
          values: leftBreastChecked,
          idPrefix: "viewsLeftBreast",
          fieldset: {
            legend: {
              html: ((viewsQuestionText + " for the") | asVisuallyHiddenText) ~ " Left breast",
              classes: "nhsuk-fieldset__legend--s",
              isPageHeading: false
            }
          },
          items: [
            {
              value: "CC",
              text: "CC",
              conditional: {
                html: input({
                  label: {
                    text: "Number of images"
                  },
                  name: "event[mammogramDataTemp][viewsLeftBreastCCCount]",
                  value: viewsLeftBreastCCCount or "1",
                  id: "views-left-breast-cc-count",
                  classes: "nhsuk-input--width-3",
                  inputmode: "numeric"
                })
              }
            },
            {
              value: "MLO",
              text: "MLO",
              conditional: {
                html: input({
                  label: {
                    text: "Number of images"
                  },
                  name: "event[mammogramDataTemp][viewsLeftBreastMLOCount]",
                  value: viewsLeftBreastMLOCount or "1",
                  id: "views-left-breast-mlo-count",
                  classes: "nhsuk-input--width-3",
                  inputmode: "numeric"
                })
              }
            },
            {
              value: "Eklund",
              text: "Eklund",
              conditional: {
                html: input({
                  label: {
                    text: "Number of images"
                  },
                  name: "event[mammogramDataTemp][viewsLeftBreastEklundCount]",
                  value: viewsLeftBreastEklundCount or "1",
                  id: "views-left-breast-eklund-count",
                  classes: "nhsuk-input--width-3",
                  inputmode: "numeric"
                })
              }
            },
            {
              divider: "or"
            },
            {
              value: "No images taken",
              text: "No images taken",
              exclusive: true
            }
          ]
        }) }}
      </div>
    </div>
  {% endset %}

  {% set viewsQuestionTextInputs %}

    {{ appHiddenInput({
      name: "event[mammogramDataTemp][uiVersion]",
      value: "inputs"
    }) }}

    {% set viewsQuestionText %}
      How many images were taken
    {%- endset %}

    {# H2 hidden from AT as it's included in the fieldset legend of each set of inputs #}
    <h2 aria-hidden="true">{{ viewsQuestionText }}?</h2>

    <div class="nhsuk-grid-row">
      <div class="nhsuk-grid-column-one-half">
        <fieldset class="nhsuk-fieldset">
          <legend class="nhsuk-fieldset__legend nhsuk-fieldset__legend--s">
            {{ (viewsQuestionText + " for the") | asVisuallyHiddenText }} Right breast
          </legend>
          
          {{ appStepperInput({
            label: {
              text: "CC"
            },
            _hint: {
              text: "Craniocaudal view"
            },
            name: "event[mammogramDataTemp][viewsRightBreastCCCount]",
            value: viewsRightBreastCCCount | default("0"),
            id: "views-right-breast-cc-count",
            min: 0,
            max: 9
          }) }}
          
          {{ appStepperInput({
            label: {
              text: "MLO"
            },
            _hint: {
              text: "Mediolateral oblique view"
            },
            name: "event[mammogramDataTemp][viewsRightBreastMLOCount]",
            value: viewsRightBreastMLOCount | default("0"),
            id: "views-right-breast-mlo-count",
            min: 0,
            max: 9
          }) }}
          
          {{ appStepperInput({
            label: {
              text: "Eklund"
            },
            hint: {
              text: "Used with breast implants"
            },
            name: "event[mammogramDataTemp][viewsRightBreastEklundCount]",
            value: viewsRightBreastEklundCount | default("0"),
            id: "views-right-breast-eklund-count",
            min: 0,
            max: 9
          }) }}
        </fieldset>
      </div>
      
      <div class="nhsuk-grid-column-one-half">
        <fieldset class="nhsuk-fieldset">
          <legend class="nhsuk-fieldset__legend nhsuk-fieldset__legend--s">
            {{ (viewsQuestionText + " for the") | asVisuallyHiddenText }} Left breast
          </legend>
          
          {{ appStepperInput({
            label: {
              text: "CC"
            },
            _hint: {
              text: "Craniocaudal view"
            },
            name: "event[mammogramDataTemp][viewsLeftBreastCCCount]",
            value: viewsLeftBreastCCCount | default("0"),
            id: "views-left-breast-cc-count",
            min: 0,
            max: 9
          }) }}
          
          {{ appStepperInput({
            label: {
              text: "MLO"
            },
            _hint: {
              text: "Mediolateral oblique view"
            },
            name: "event[mammogramDataTemp][viewsLeftBreastMLOCount]",
            value: viewsLeftBreastMLOCount | default("0"),
            id: "views-left-breast-mlo-count",
            min: 0,
            max: 9
          }) }}
          
          {{ appStepperInput({
            label: {
              text: "Eklund"
            },
            hint: {
              text: "Used with breast implants"
            },
            name: "event[mammogramDataTemp][viewsLeftBreastEklundCount]",
            value: viewsLeftBreastEklundCount | default("0"),
            id: "views-left-breast-eklund-count",
            min: 0,
            max: 9
          }) }}
        </fieldset>
      </div>
    </div>
  {% endset %}

  {% if viewQuestionStyle == "checkboxes" %}
    {{ viewsQuestionCheckboxes | safe }}
  {% else %}
    {{ viewsQuestionTextInputs | safe }}
  {% endif %}

  {% set insetTextHtml %}
    <p>Repeat image details captured on the next screen</p>
  {% endset %}

  {{ insetText({
    html: insetTextHtml,
    attributes: {
      "id": "repeat-images-inset",
      "data-module": "repeat-images-notice",
      "style": "display: none;"
    }
  }) }}

  {% set namePrefix = "event[mammogramDataTemp]" %}
  {% include "_includes/partial-mammography-question.njk" %}

  {{ textarea({
    name: "event[mammogramDataTemp][additionalDetails]",
    id: "additional-details",
    value: additionalDetails,
    label: {
      text: "Additional details (optional)",
      classes: "nhsuk-label--m"
    },
    hint: {
      text: "Provide information for image readers when reviewing"
    },
    rows: 2
  }) }}

  {{ button({
    text: "Continue"
  }) }}

{% endblock %}

{% block pageScripts %}
  <script>
    document.addEventListener('DOMContentLoaded', () => {
      const insetText = document.querySelector('[data-module="repeat-images-notice"]')
      
      if (!insetText) {
        return
      }

      // Function to get all currently visible count inputs
      const getCountInputs = () => {
        return [
          document.getElementById('views-right-breast-cc-count'),
          document.getElementById('views-right-breast-mlo-count'),
          document.getElementById('views-right-breast-eklund-count'),
          document.getElementById('views-left-breast-cc-count'),
          document.getElementById('views-left-breast-mlo-count'),
          document.getElementById('views-left-breast-eklund-count')
        ].filter(Boolean) // Remove any null values
      }

      // Function to check if any count is greater than 1
      const hasRepeats = () => {
        const inputs = getCountInputs()
        return inputs.some(input => {
          const value = parseInt(input.value, 10)
          return !isNaN(value) && value > 1
        })
      }

      // Function to update visibility
      const updateVisibility = () => {
        if (hasRepeats()) {
          insetText.style.display = ''
        } else {
          insetText.style.display = 'none'
        }
      }

      // Set initial state after a short delay to allow conditional reveals to initialize
      setTimeout(updateVisibility, 100)

      // Add event listeners using delegation on the form
      document.addEventListener('input', (event) => {
        const target = event.target
        if (target.id && target.id.includes('breast') && target.id.includes('count')) {
          updateVisibility()
        }
      })

      document.addEventListener('change', (event) => {
        const target = event.target
        // Handle checkbox changes (which reveal/hide conditional inputs)
        if (target.name && target.name.includes('event[mammogramDataTemp][views')) {
          setTimeout(updateVisibility, 100)
        }
        // Handle count input changes
        if (target.id && target.id.includes('breast') && target.id.includes('count')) {
          updateVisibility()
        }
      })
    })
  </script>
{% endblock %}