
{% extends 'layout-app.html' %}


{% set pageHeading = "Awaiting images" %}

{% set gridColumn = "nhsuk-grid-column-full" %}

{% set formAction = './images' %}

{% set activeTab = 'images' %}

{% block pageContent %}

  {% set unit = data.breastScreeningUnits | findById(clinic.breastScreeningUnitId) %}

  {# <span class="nhsuk-caption-l">
    {{ participant | getFullName }}
  </span>
  <h1 class="nhsuk-heading-l js-image-count">
    {{ pageHeading }}
  </h1> #}



  {% include "event-workflow.njk" %}

  {% set insetHtml %}
    <p>Mammography images will appear here once they have been transmitted by the PACS</p>
  {% endset %}

  {{ insetText({
    html: insetHtml
  }) }}


  {{ appHiddenInput({
    name: "event[workflowStatus][awaiting-images]",
    value: "completed"
  }) }}

  <p class="app-suppress-link-styles">
    <button class="app-button-link" type="submit">
      Loading images...
    </button>
    {# <a href="./images?event[workflowStatus][awaiting-images]=completed">
      <span class="">Loading images...</span>
    </a> #}
  </p>



  {% include "screening-cannot-proceed-link.njk" %}

{% endblock %}


