{% extends 'layout-appointment.html' %}

{% set showNavigation = true %}
{% set activeWorkflowStep = 'take-images' %}

{% set pageHeading = "Add image information" %}
{% set hideBackLink = true %}
{% set gridColumn = "nhsuk-grid-column-two-thirds" %}

{% set formAction = './images-manual-repeats-answer' %}

{% set activeTab = 'images' %}

{% block pageContent %}

  {# TODO: Ideally this would be before the main element #}
  {{ backLink({
    href: "javascript:history.back();",
    text: "Back",
    classes: "nhsuk-u-margin-top-0 nhsuk-u-margin-bottom-4"
  }) }}

  <h1>{{ pageHeading }}</h1>

  <p>
    You have indicated multiple images were needed for some views.
  </p>

  {% set repeatReasons = data.repeatReasons %}

  {# Build array of views that need repeat questions #}
  {# Check mammogramDataTemp first (when coming from details page), then fall back to structured data (when editing) #}
  {% set viewsNeedingRepeats = [] %}
  {% set mammogramData = event.mammogramDataTemp %}
  {% set mammogramViews = event.mammogramData.views | getObjectValues %}

  {# If we have temp data, use the count fields #}
  {% if mammogramData %}
    {# Check all possible view/breast combinations #}
    {% if (mammogramData.viewsRightBreastCCCount | int) > 1 %}
      {% set viewsNeedingRepeats = viewsNeedingRepeats | push({ 
        side: 'Right', 
        view: 'CC', 
        code: 'RCC', 
        count: mammogramData.viewsRightBreastCCCount 
      }) %}
    {% endif %}
    
    {% if (mammogramData.viewsRightBreastMLOCount | int) > 1 %}
      {% set viewsNeedingRepeats = viewsNeedingRepeats | push({ 
        side: 'Right', 
        view: 'MLO', 
        code: 'RMLO', 
        count: mammogramData.viewsRightBreastMLOCount 
      }) %}
    {% endif %}
    
    {% if (mammogramData.viewsRightBreastEklundCount | int) > 1 %}
      {% set viewsNeedingRepeats = viewsNeedingRepeats | push({ 
        side: 'Right', 
        view: 'Eklund', 
        code: 'REklund', 
        count: mammogramData.viewsRightBreastEklundCount 
      }) %}
    {% endif %}

    {% if (mammogramData.viewsLeftBreastCCCount | int) > 1 %}
      {% set viewsNeedingRepeats = viewsNeedingRepeats | push({ 
        side: 'Left', 
        view: 'CC', 
        code: 'LCC', 
        count: mammogramData.viewsLeftBreastCCCount 
      }) %}
    {% endif %}
    
    {% if (mammogramData.viewsLeftBreastMLOCount | int) > 1 %}
      {% set viewsNeedingRepeats = viewsNeedingRepeats | push({ 
        side: 'Left', 
        view: 'MLO', 
        code: 'LMLO', 
        count: mammogramData.viewsLeftBreastMLOCount 
      }) %}
    {% endif %}
    
    {% if (mammogramData.viewsLeftBreastEklundCount | int) > 1 %}
      {% set viewsNeedingRepeats = viewsNeedingRepeats | push({ 
        side: 'Left', 
        view: 'Eklund', 
        code: 'LEklund', 
        count: mammogramData.viewsLeftBreastEklundCount 
      }) %}
    {% endif %}
  {% else %}
    {# No temp data, so we're editing - use structured data #}
    {% for view in mammogramViews %}
      {% if view.count > 1 %}
        {% set viewsNeedingRepeats = viewsNeedingRepeats | push({ 
          side: view.side | capitalize, 
          view: view.viewShort, 
          code: view.viewShortWithSide, 
          count: view.count 
        }) %}
      {% endif %}
    {% endfor %}
  {% endif %}

  {# Show a question for each view with repeats #}
  {% for viewItem in viewsNeedingRepeats %}
    {% set namePrefix = "event[mammogramDataTemp]" %}
    {% set dataSource = event.mammogramDataTemp %}
    {% include "_includes/images-repeat-question.njk" %}
  {% endfor %}

  {{ textarea({
    name: "event[mammogramDataTemp][additionalDetails]",
    id: "additional-details",
    value: event.mammogramDataTemp.additionalDetails,
    label: {
      text: "Additional details (optional)",
      classes: "nhsuk-label--m"
    },
    hint: {
      text: "Provide information for image readers when reviewing"
    },
    rows: 2
  }) }}

  {{ button({
    text: "Continue"
  }) }}

{% endblock %}