{% extends 'layout-appointment.html' %}

{% set showNavigation = true %}
{% set hideBackLink = true %}
{% set activeWorkflowStep = 'take-images' %}

{% set pageHeading = "Record images taken" %}

{% set gridColumn = "nhsuk-grid-column-two-thirds" %}

{% set formAction = './images-manual-answer' %}

{% set activeTab = 'images' %}

{% block pageContent %}

  <h1>{{ pageHeading }}</h1>

  {% set mammogramSource = event.mammogramDataTemp or event.mammogramData %}

  {% set roomName = "Room B - machine ABC" %}

  <p>
    Mammogram location: <span class="nhsuk-u-font-weight-bold">{{ roomName }}</span>.<br><a href="#">Change room or machine details</a>
  </p>

  {{ appHiddenInput({
    name: "event[mammogramDataTemp][machineRoom]",
    value: roomName
  }) }}

  {# {{ radios({
    name: "event[mammogramDataTemp][machineRoom]",
    value: mammogramSource.machineRoom,
    idPrefix: "machineRoom",
    fieldset: {
      legend: {
        text: "Which room is imaging being done in?",
        classes: "nhsuk-fieldset__legend--m",
        isPageHeading: false
      }
    },
    items: [
      {
        value: "Room A - machine XYZ",
        text: "Room A - machine XYZ"
      },
      {
        value: "Room B - machine ABC",
        text: "Room B - machine ABC"
      },
      {
        value: "Room C - machine DEF",
        text: "Room C - machine DEF"
      }
    ]
  }) }} #}

  {{ radios({
    idPrefix: "imagingComplete",
    name: "event[mammogramDataTemp][isStandardSet]",
    fieldset: {
      legend: {
        text: "Have you taken a standard set of images?",
        classes: "nhsuk-fieldset__legend--m",
        isPageHeading: false
      }
    },
    value: mammogramSource.isStandardSet,
    items: [
      {
        value: "yes",
        text: "Yes, 2 CC and 2 MLO"
      },
      {
        value: "custom",
        text: "No, add additional image or partial mammogram details"
      },
      {
        divider: "or"
      },
      {
        value: "no",
        text: "No images taken",
        hint: {
          text: "The appointment cannot proceed"
        }
      }
    ]
  }) }}

  {{ button({
    text: "Continue"
  }) }}

{% endblock %}