{% extends 'layout-appointment.html' %}

{% set imageCount = event.mammogramData.metadata.totalImages %}

{% set pageHeading = imageCount + " images taken" %}

{% set mammogramSource = event.mammogramData %}
{% set namePrefix = "event[mammogramData]" %}

{% set showNavigation = true %}
{% set activeWorkflowStep = 'take-images' %}
{% set hideBackLink = true %}

{# {% set hideBackLink = true %} #}


{% set gridColumn = "nhsuk-grid-column-full" %}
{% set formAction = './imaging-answer' %}

{% set activeTab = 'images' %}

{% block pageContent %}

  <h1>{{ pageHeading }}</h1>

  {% if data.event.workflowStatus["take-images"] == 'completed' %}
    {{ button({
      text: "Next section",
      classes: "nhsuk-u-margin-bottom-1 nhsuk-button--secondary"
    }) }}
  {% endif %}


  {% set animateImages = true %}
  {% include "fake-images.njk" %}

  <div class="nhsuk-button-group nhsuk-u-margin-bottom-0">
    {{ button({
      text: "Re-scan PACS for image updates",
      classes: "nhsuk-button--secondary"
    }) }}

    <a class="nhsuk-link app-link--error" href="#">There is a problem with the images</a>
  </div>

  <hr class="nhsuk-section-break nhsuk-section-break--l nhsuk-section-break--visible nhsuk-u-margin-top-3">

  <div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-two-thirds">

      {% include "_includes/partial-mammography-question.njk" %}

      {{ textarea({
        name: "event[mammogramData][additionalDetails]",
        id: "additional-details",
        value: event.mammogramData.additionalDetails,
        label: {
          text: "Additional details (optional)",
          classes: "nhsuk-label--m"
        },
        hint: {
          text: "Provide information for image readers when reviewing"
        },
        rows: 2
      }) }}

      {{ button({
        text: "Continue"
      }) }}

    </div>
  </div>

{% endblock %}


