{# app/views/events/record-medical-information #}

{% extends 'layout-app.html' %}

{% set pageHeading = "Review medical information" %}

{% set gridColumn = "nhsuk-grid-column-full" %}

{% set formAction = "./images" | getReturnUrl(referrerChain) %}

{# One of 'expander', 'card', 'flat' #}
{# {% set displayFormat = "card" %} #}
{# {% set displayFormat = "flat" %} #}
{% set displayFormat = "expander" %}

{% set showWorkflowNav = true %}

{% set activeTab = 'record-medical-information' %}

{% block pageContent %}



  {% include "event-workflow.njk" %}

  {{ appHiddenInput({
    name: "event[workflowStatus][record-medical-information]",
    value: "completed"
  }) }}

  {# <hr class="nhsuk-section-break nhsuk-section-break--m nhsuk-section-break--visible"> #}

  <div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-two-thirds">
      {{ button({
        text: "Complete all and continue" if data.event.workflowStatus['record-medical-information'] != 'completed' else "Next section",
        classes: "nhsuk-u-margin-bottom-0 nhsuk-button"
      }) }}

    </div>
  </div>

  <hr class="nhsuk-section-break nhsuk-section-break--m nhsuk-section-break--visible">

  {% include "_includes/medical-information/index.njk" %}

  <div class="nhsuk-form-group">
    {{ button({
      text: "Complete all and continue"
    }) }}

    {% include "screening-cannot-proceed-link.njk" %}
  </div>

  <!-- Progress Summary - One third width -->
  {# <div class="nhsuk-grid-column-one-third app-sidebar-sticky">
    <div class="nhsuk-card">
      <div class="nhsuk-card__content">
        <h2 class="nhsuk-card__heading nhsuk-heading-s">
          Overview
        </h2>
        <p class="nhsuk-heading-m nhsuk-u-margin-bottom-2">
          <strong id="progress-complete">0</strong> out of 8
        </p>
        <p class="nhsuk-body-s nhsuk-u-margin-bottom-0">
          Sections completed
        </p>
      </div>
    </div>
  </div> #}


{% endblock %}