{# app/views/events/retry-worklist-connection.html #}

{% extends 'layout-appointment.html' %}

{% set activeWorkflowStep = 'take-images' %}
{% set activeTab = 'images' %}
{% set isForm = true %}

{% set pageHeading = (participant | getFullName) + " has not been added to the worklist" %}

{% set gridColumn = "nhsuk-grid-column-two-thirds" %}

{% block pageContent %}

  <h1>{{ pageHeading }}</h1>

  <p>Due to a connection issue, image information for this appointment cannot be transferred automatically from the mammogram machine.</p>

  <div class="nhsuk-button-group">
      {{ button({
        text: "Retry connection",
        attributes: {
          formaction: "./retry-worklist-connection",
          "data-retry-connection-button": ""
        }
      }) }}

      {{ button({
        text: "Switch to manual image mode",
        classes: "nhsuk-button--secondary",
        attributes: {
          formaction: "./switch-to-manual-image-mode"
        }
      }) }}
  </div>

  {% set lastRetryAt = data.settings.screening.worklistLastRetryAt %}
  {% if lastRetryAt %}
    <p class="nhsuk-u-secondary-text-color">Connection failed on retry. Last retry attempt at {{ lastRetryAt | formatTime('HH:mm:ss') }}</p>
  {% endif %}

  <script src="/assets/javascript/retry-worklist-connection.js"></script>

{% endblock %}
