{# app/views/events/review-after-imaging-breast-features.html #}

{% extends parentLayout or 'layout-appointment.html' %}

{% set pageHeading = "Review breast features" %}
{% set showNavigation = true %}
{% set activeWorkflowStep = 'check-information' %}
{% set hideBackLink = true %}
{% set gridColumn = "nhsuk-grid-column-two-thirds" %}

{% set formAction = './review-after-imaging-breast-features-answer' %}

{% block pageContent %}

  <h1 class="nhsuk-heading-l">
    {{ pageHeading }}
  </h1>

  {{ radios({
    name: "event[breastFeaturesAfterImagingDecision]",
    value: event.breastFeaturesAfterImagingDecision,
    fieldset: {
      legend: {
        text: "Are there any breast features to add for " + (participant | getFullName) + "?",
        classes: "nhsuk-fieldset__legend--m"
      }
    },
    hint: {
      text: "This includes non-surgical scars, moles and other features that may appear on mammogram images"
    },
    items: [
      {
        value: "yes",
        text: "Yes"
      },
      {
        value: "no",
        text: "No"
      }
    ]
  } | populateErrors) }}

  {{ button({
    text: "Continue"
  }) }}

{% endblock %}
