{% extends 'layout-appointment.html' %}


{% set pageHeading = "Review" %}
{% set showNavigation = true %}
{% set activeWorkflowStep = 'review' %}
{% set hideBackLink = true %}

{% set allowEdits = true %}

{% set gridColumn = "nhsuk-grid-column-full" %}

{% set formAction = './complete' %}

{# {% set back = {
  href: "/clinics/" + clinicId,
  text: "Back to clinic"
} %}
 #}

{% set activeTab = 'review' %}


{% block pageContent %}

  <h1>{{ pageHeading }}</h1>

  {{ button({
    text: "Complete screening and return to clinic"
  }) }}

  {% set valueHtml = "None" %}

  {% set breastFeaturesHtml %}
    {% include "_includes/medical-information/breast-features.njk" %}
  {% endset %}

  {{ card({
    heading: "Breast features",
    headingLevel: "2",
    feature: true,
    descriptionHtml: breastFeaturesHtml
  }) }}

  {% set valueHtml = "No" %}

  {% set imageCount = event.mammogramData.metadata.totalImages %}

  {% set imagesCardHtml %}
    {% include "_includes/summary-lists/medical-information/mammogram-image-data.njk" %}

    {# {% if event.mammogramData.isManualEntry %}
      <p><a href="./images-manual-details">View or update images</a></p>
    {% else %}
      <p><a href="./images-automatic">View or update images</a></p>
    {% endif %} #}
  {% endset %}

  {{ card({
    heading: imageCount ~ " images taken",
    headingLevel: "2",
    feature: true,
    descriptionHtml: imagesCardHtml
  }) }}

  {% set otherDetailsCardHtml %}

    {% set specialAppointmentHtml %}
      {% if event | isSpecialAppointment %}
        {{ tag({
          text: "Special appointment",
          classes: "nhsuk-tag--yellow nhsuk-u-margin-bottom-3"
        })}}
        <ul class="nhsuk-list nhsuk-list--bullet">
          {# ToDO: pull in special appointment needs here #}
          {# {% for need in participant.extraNeeds %}
            <li>{{need}}</li>
          {% endfor %} #}
        </ul>
      {% else %}
        <p>No</p>
      {% endif %}
    {% endset %}

    {{ summaryList({
      rows: [
        {
          key: {
            text: "Special appointment"
          },
          value: {
            html: specialAppointmentHtml
          },
          actions: {
            items: [
              {
                href: (eventUrl + "/special-appointment/edit") | urlWithReferrer(referrerChain),
                text: "Change",
                visuallyHiddenText: "special appointment"
              }
            ]
          }
        },
        {
          key: {
            text: "Appointment note"
          },
          value: {
            html: event.appointmentNote
          },
          actions: {
            items: [
              {
                href: (eventUrl + "/appointment-note") | urlWithReferrer(referrerChain),
                text: "Change",
                visuallyHiddenText: "appointment note"
              }
            ]
          }
        }
      ]
    } | handleSummaryListMissingInformation) }}
  {% endset %}

  {{ card({
    heading: "Other details",
    headingLevel: "2",
    feature: true,
    descriptionHtml: otherDetailsCardHtml
  }) }}

  {{ button({
    text: "Complete screening and return to clinic"
  }) }}

  {# <p><a href="./attended-not-screened-reason">Screening cannot proceed</a></p> #}

{% endblock %}