{% extends 'layout-app.html' %}

{% set pageHeading %}
  {{ participant | getFullName }}
{% endset %}

{% set gridColumn = "nhsuk-grid-column-full" %}

{# Todo: should these get set by middleware? #}
{% set isFinal = event | isFinal %}
{% set isCompleted = event | isCompleted %}

{% set back = {
  href: "/clinics/" + clinicId,
  text: "Back to clinic"
} %}

{% block pageContent %}

  {{ participant | log("Participant:") }}
  {{ event | log("Event:") }}

  {# Event header #}
  {% include "event-header.njk" %}

  {% set activeTab = 'all' %}

  {# Show tabs if we've done mammography #}
  {% if isCompleted %}
    {% include "event-navigation.njk" %}
  {% endif %}

  {% set statusHtml %}
    {# Status tag with check-in link #}
    {{ eventStatus({
      clinicId: clinicId,
      event: event,
      referrerChain: currentUrl
    })}}

    {% if event.status === "event_attended_not_screened" %}
      <p class="nhsuk-u-margin-top-2">[Reason for not screened here]</p>
    {% endif %}
  {% endset %}

  {% set appointmentTimeHtml -%}
    <p>{{ clinic.date | formatDate }} ({{ clinic.date | formatRelativeDate }})</p>
    <p>{{ event.timing.startTime | formatTimeString }} ({{ event.timing.duration }} minutes)</p>
  {% endset %}

  {# Simple special appointment section #}
  {% if event.details.isSpecialAppointment %}
    <div class="nhsuk-warning-callout nhsuk-u-margin-bottom-4">
      <h2 class="nhsuk-warning-callout__label">
        <span role="text">
          <span class="nhsuk-u-visually-hidden">Important: </span>
          Special appointment
        </span>
      </h2>
      <div class="nhsuk-warning-callout__content">
        {% set allowEdits = true %}
        {% set eventUrl = "/clinics/" + clinicId + "/events/" + eventId %}
        {% set referrerChain = currentUrl %}
        {% set summaryListClasses = "nhsuk-summary-list" %}
        {% include "summary-lists/special-appointment/special-appointment.njk" %}
      </div>
    </div>
  {% endif %}

  {# Simplified other details section #}
  {% set otherDetailsHtml %}
    {% if event.details.isSpecialAppointment %}
      {{ tag({
        text: "Special appointment",
        classes: "nhsuk-tag--yellow"
      })}}
    {% else %}
      {{ "None" | asHint }}
    {% endif %}
  {% endset %}

  {% set appointmentHtml %}
    {{ summaryList({
      rows: [
        {
          key: {
            text: "Date"
          },
          value: {
            html: appointmentTimeHtml
          },
          actions: {
            items: [
              {
                href: "#",
                text: "Reschedule appointment",
                visuallyHiddenText: "name"
              } if event.status == "event_scheduled"
            ]
          }
        },
        {
          key: {
            text: "Clinic type"
          },
          value: {
            text: clinic.clinicType | formatWords | sentenceCase
          },
          actions: {
            items: [

            ]
          }
        },
        {
          key: {
            text: "Appointment status"
          },
          value: {
            html: statusHtml
          },
          actions: {
            items: [

            ]
          }
        },
        {
          key: {
            text: "Other details"
          },
          value: {
            html: otherDetailsHtml
          },
          actions: {
            items: [
              {
                href: "#",
                text: "Change",
                visuallyHiddenText: "other details"
              }
            ]
          }
        }
      ]
    }) }}
  {% endset %}


  {% call card({
    headingHtml: " "
  }) %}
    {% set isMinimalParticipant = true %}
    {% set allowEdits = false %}
    {# {% include "summary-lists/participant.njk" %} #}

    {% call summaryList() %}
      {# {% include "_includes/summary-lists/rows/nhs-number.njk" %} #}
      {% include "_includes/summary-lists/rows/full-name.njk" %}
      {# {% include "_includes/summary-lists/rows/gender.njk" %} #}
      {% include "_includes/summary-lists/rows/date-of-birth.njk" %}
      {% include "_includes/summary-lists/rows/ethnicity.njk" %}
      {% include "_includes/summary-lists/rows/address.njk" %}
      {% include "_includes/summary-lists/rows/phone-numbers.njk" %}
      {# {% include "_includes/summary-lists/rows/email.njk" %} #}
      {% include "_includes/summary-lists/rows/screening-protocol.njk" %}
      {% include "_includes/summary-lists/rows/last-known-mammogram.njk" %}
    {% endcall %}
  {% endcall %}

  {% set screeningHistoryHtml %}
    {% set clinicHistory = data | getParticipantClinicHistory(participant.id) %}
    {% set lastMammogram = null %}

    {% for record in clinicHistory %}
       {% if record.event.status === 'event_complete' and (not lastMammogram or record.event.timing.startTime > lastMammogram.event.timing.startTime) %}
         {% set lastMammogram = record %}
       {% endif %}
    {% endfor %}

    <h3>Last known mammogram</h3>
    {% if lastMammogram %}
      <table class="nhsuk-table">
       <thead>
         <tr>
           <th>Date</th>
           <th>Type</th>
           <th>Location</th>
           <th>Details</th>
         </tr>
       </thead>
       <tbody>
           {% set record = lastMammogram %}
           {% set lastEvent = record.event %}
           {% set clinic = record.clinic %}
           {% set unit = record.unit %}
           <tr>
             <td>{{ lastEvent.timing.startTime | formatDate }}
              <br>
              <span class="nhsuk-hint">({{ lastEvent.timing.startTime | formatRelativeDate }})</span>
             </td>
             <td>{{ clinic.clinicType | formatWords | sentenceCase }}</td>
             <td>{{ unit.name }}</td>
             <td>
               <a href="/clinics/{{ clinic.id }}/events/{{ lastEvent.id }}">
                 View details
               </a>
             </td>
           </tr>
       </tbody>
     </table>
    {% else %}
      <p>{{ "No details" | asHint }}</p>
    {% endif %}

    {{ button({
      text: "Record additional screening history",
      classes: "nhsuk-button--secondary"
    }) }}

    {% set detailsHtml %}
      {% set hideUpcoming = true %}
      {% include "summary-lists/screening-appointment-history.njk" %}
    {% endset %}

    {% if clinicHistory | length > 1 %}
      {{ details({
        summaryText: "View full screening history",
        html: detailsHtml
      }) }}
    {% endif %}
  {% endset %}



{% set screeningHint %}
Before you proceed, check the participant’s identity and confirm that their last mammogram was more than 6 months ago.
{% endset %}

{% set screeningHtml %}
  <form action="./{{eventId}}/can-appointment-go-ahead-answer" method="post">
    <div class="nhsuk-grid-row">
      <div class="nhsuk-grid-column-two-thirds">
        {{ radios({
          name: "event[appointment][canAppointmentGoAhead]",
          idPrefix: "canAppointmentGoAhead",
          fieldset: {
            legend: {
              text: "Can the appointment go ahead?",
              classes: "nhsuk-fieldset__legend--m",
              isPageHeading: false
            }
          },
          hint: {
            text: screeningHint
          },
          value: event.appointment.canAppointmentGoAhead,
          items: [
            {
              value: "yes",
              text: "Yes, go to medical information"

            },
            {
              value: "no",
              text: "No, screening cannot proceed"
            }
          ]
        }) }}
      </div>
    </div>

    {{ button({
      text: "Continue"
    }) }}
  </form>

{% endset %}

  {% if event.status == 'event_checked_in' or event.status == 'event_scheduled' %}
    {{ screeningHtml | safe}}
  {% endif %}

{% endblock %}