{# app/views/events/images.html #}

{% set isCompleted = event | isCompleted %}


{% set showWorkflowNav = true %}

{% set hideBackLink = true %}

{# Used in automatic flow to show holding page #}
{# {% set isAwaitingImages = event.workflowStatus['awaiting-images'] != 'completed' %} #}

{% set isManualImageCollection = data.settings.screening.manualImageCollection | falsify %}

{# {% set imagesStageCompleted = true if data.event.workflowStatus['take-images'] == 'completed' else false %} #}

{% if isManualImageCollection %}
  {% include "events/images-manual.html" %}
{% else %}
  {% include "events/images-before-mammography.html" %}
{% endif %}

