{# app/views/reading/create-custom-session.html #}

{% extends 'layout-app.html' %}

{% set pageHeading = "Create custom reading session" %}
{% set back = {
  href: "/reading",
  text: "Back to reading"
} %}

{% set formAction = "/reading/create-session" %}
{% set formMethod = "GET" %}

{% block pageContent %}

  <h1>{{ pageHeading }}</h1>

  {{ radios({
    idPrefix: "type",
    name: "type",
    fieldset: {
      legend: {
        text: "What type of reads?",
        classes: "nhsuk-fieldset__legend--m"
      }
    },
    items: [
      {
        value: "all_reads",
        text: "All reads (1st and 2nd reads)",
        checked: true
      },
      {
        divider: "or"
      },
      {
        value: "first_reads",
        text: "First reads only"
      },
      {
        value: "second_reads",
        text: "Second reads only"
      }
    ]
  }) }}

  {{ radios({
    idPrefix: "limit",
    name: "limit",
    fieldset: {
      legend: {
        text: "Session size",
        classes: "nhsuk-fieldset__legend--m"
      }
    },
    items: [
      {
        value: "10",
        text: "10 cases"
      },
      {
        value: "25",
        text: "25 cases",
        checked: true
      },
      {
        value: "50",
        text: "50 cases"
      },
      {
        value: "400",
        text: "400 cases",
        hint: {
          text: "Debug mode only"
        }
      } if data.settings.debugMode | falsify
    ]
  }) }}

  {% if data.settings.debugMode | falsify %}
    {{ checkboxes({
      idPrefix: "filters",
      name: "filters",
      fieldset: {
        legend: {
          text: "Additional filters (debug only)",
          classes: "nhsuk-fieldset__legend--m"
        }
      },
      items: [
        {
          value: "complexOnly",
          text: "Only complex cases",
          hint: {
            text: "Symptoms, additional images, incomplete or imperfect images, or implants"
          }
        }
      ]
    }) }}

    {{ radios({
      idPrefix: "lazy",
      name: "lazy",
      fieldset: {
        legend: {
          text: "Session population (debug only)",
          classes: "nhsuk-fieldset__legend--m"
        }
      },
      hint: {
        text: "Lazy sessions start with one case and grow as you read. Eager sessions are fully populated upfront."
      },
      items: [
        {
          value: "true",
          text: "Lazy",
          checked: true if data.settings.reading.lazySessions | falsify else false
        },
        {
          value: "false",
          text: "Eager (fully populated)",
          checked: true if not data.settings.reading.lazySessions | falsify else false
        }
      ]
    }) }}
  {% endif %}
  

  {{ input({
    label: {
      text: "Give your session a name (optional)",
      classes: "nhsuk-label--m"
    },
    id: "session-name",
    name: "name",
    classes: "nhsuk-input--width-20"
  }) }}

  {{ button({
    text: "Create session"
  }) }}

{% endblock %}