{# /app/views/events/reading/participant.html #}

{% extends 'layout-reading.html' %}

{% set pageHeading = "Participant details" %}

{% set gridColumn = "nhsuk-grid-column-two-thirds" %}

{% set formAction = './result-normal' %}

{% set tabActive = "participant-details" %}

{% block pageContent %}


  {# {% include "./_includes/reading-header.njk" %} #}


  <span class="nhsuk-caption-l">
    {{ participant | getFullName }}
  </span>

  <h1 class="nhsuk-heading-l js-image-count">
    {{ pageHeading }}
  </h1>

  {% call card({
    heading: "Personal details"
  }) %}

    {% call summaryList() %}
      {% include "_includes/summary-lists/rows/nhs-number.njk" %}
      {% include "_includes/summary-lists/rows/full-name.njk" %}
      {% include "_includes/summary-lists/rows/gender.njk" %}
      {% include "_includes/summary-lists/rows/date-of-birth.njk" %}
      {% include "_includes/summary-lists/rows/ethnicity.njk" %}
      {% include "_includes/summary-lists/rows/address.njk" %}
      {% include "_includes/summary-lists/rows/phone-numbers.njk" %}
      {% include "_includes/summary-lists/rows/email.njk" %}
      {% include "_includes/summary-lists/rows/screening-protocol.njk" %}
      {% include "_includes/summary-lists/rows/last-known-mammogram.njk" %}
    {% endcall %}
  {% endcall %}

{% endblock %}


