{# /app/views/reading/skipped-review.html #}

{% extends 'layout-reading.html' %}

{% set isReadingWorkflow = true %}
{% set hideStatusBar = true %}
{% set hideBackLink = true %}

{% set pageHeading = "You have skipped {{ session.skippedEvents.length }} {{ "case" | pluralise(session.skippedEvents.length) }}" %}

{% block pageContent %}

<div class="nhsuk-grid-row">
  <div class="nhsuk-grid-column-two-thirds">

    <span class="nhsuk-caption-l">Image reading</span>
    <h1 class="nhsuk-heading-l">{{ pageHeading }}</h1>

    <p>You have reached the end of this reading session. An opinion must be given on all cases before the session can be completed.</p>

    <div class="nhsuk-button-group">
      {% if firstSkippedEventId %}
        {{ button({
          text: "Read skipped cases",
          href: "/reading/session/" + sessionId + "/events/" + firstSkippedEventId
        }) }}
      {% endif %}
      <a href="/reading/session/{{ sessionId }}" class="nhsuk-link nhsuk-button-group__item">Go to session overview</a>
    </div>

  </div>
</div>

{% endblock %}
