{# /app/views/reading/skipped-review.html #}

{% extends 'layout-reading.html' %}

{% set isReadingWorkflow = true %}
{% set hideStatusBar = true %}
{% set hideBackLink = true %}

{% set pageHeading = "You have skipped " + session.skippedAppointments.length + " " + ("case" | pluralise(session.skippedAppointments.length)) %}

{% block pageContent %}

<div class="nhsuk-grid-row">
  <div class="nhsuk-grid-column-two-thirds">

    <span class="nhsuk-caption-l">Image reading</span>
    <h1 class="nhsuk-heading-l">{{ pageHeading }}</h1>

    <p>An opinion must be given on all cases before this session can be completed.</p>

    <div class="nhsuk-button-group">
      {% if firstSkippedAppointmentId %}
        {{ button({
        text: "Read skipped " + ("case" | pluralise(session.skippedAppointments.length)),          href: "/reading/session/" + sessionId + "/appointments/" + firstSkippedAppointmentId
        }) }}
      {% endif %}
      <a href="/reading/session/{{ sessionId }}" class="nhsuk-link nhsuk-button-group__item">Go to session overview</a>
    </div>

  </div>
</div>

{% endblock %}
