{# app/views/_includes/medical-information/breast-features.njk #}

{# {% set breastFeaturesCount = event.medicalInformation.breastFeaturesCount | int %} #}

{% set rawBreastFeatures = event.medicalInformation.breastFeaturesRaw %}
{% set breastFeatures = rawBreastFeatures | fromJSON %}

{{ breastFeatures | log("Breast features") }}

{% set breastFeaturesCount = breastFeatures | length %}

{{ breastFeaturesCount | log("Breast features count") }}

{% set hasBreastFeatures = breastFeaturesCount > 0 %}

{{ hasBreastFeatures | log("Has breast features") }}

{% if hasBreastFeatures %}
  {% set insetHtml %}
    <p>
      {{ breastFeaturesCount }} breast {{ "feature" | pluralise(breastFeaturesCount) }} recorded.
    </p>
  {% endset %}
{% else %}
  {% set insetHtml %}
    <p>
      No breast features have been recorded for this participant.
    </p>
  {% endset %}
{% endif %}

{{ insetText({
  html: insetHtml
}) }}

{% set linkHref %}
  {{ "./medical-information/record-breast-features" | urlWithReferrer(currentUrl, scrollTo) }}
{% endset %}

{% if allowEdits %}
  <p>
    <a href="{{ linkHref | safe }}" class="nhsuk-link--no-visited-state">{{ "Add a feature" if not hasBreastFeatures else "View or edit breast features" }}</a>
  </p>
{% endif %}
