{# app/views/_includes/medical-information/breast-features.njk #}

{# {% set breastFeaturesCount = event.medicalInformation.breastFeaturesCount | int %} #}

{% set rawBreastFeatures = event.medicalInformation.breastFeaturesRaw | fromJSON %}
{% set breastFeatures = event.medicalInformation.breastFeatures or rawBreastFeatures %}
{% set breastFeaturesCount = breastFeatures | length %}
{% set hasBreastFeatures = breastFeaturesCount > 0 %}

{% if hasBreastFeatures %}

  <p>
    {{ breastFeaturesCount }} breast {{ "feature" | pluralise(breastFeaturesCount) }} recorded
  </p>

  <script>
  window.breastFeaturesConfig = {
    readOnly: true,
    existingFeatures: {{ (data.event.medicalInformation.breastFeaturesRaw | fromJSON) | dump | safe }} || []
  }
  </script>
  <script src="/js/breast-features.js"></script>

  {# div with hardcoded max-width, left aligned #}
  <div style="max-width: 650px; margin: 0 auto 10px 0;">
    {% include "breast-diagram.njk" %}
  </div>

{% else %}
  {% set insetHtml %}
    <p>
      No breast features have been recorded for this participant.
    </p>
  {% endset %}
  {{ insetText({
    html: insetHtml
  }) }}
{% endif %}



{% set linkHref %}
  {{ "./medical-information/record-breast-features" | urlWithReferrer(currentUrl, scrollTo) }}
{% endset %}

{% if allowEdits %}
  <p>
    <a href="{{ linkHref | safe }}" class="nhsuk-link--no-visited-state">{{ "Add a feature" if not hasBreastFeatures else "View or edit breast features" }}</a>
  </p>
{% endif %}
