{# app/views/_includes/medical-information/index.njk #}

{# Calling template sets variable `displayFormat` to one of card / expander / flat #}

{% set allowEdits = true if (isAppointmentWorkflow and currentUser | isClinician) else false %}

{# Explicitly set referrer chain to the current url #}
{% set referrerChain = currentUrl %}

{# Mammogram history #}
{% set sectionHeading = "Mammogram history" %}
{% set subHeading = "The last confirmed mammogram and any added manually since then" %}
{% set sectionId = sectionHeading | kebabCase %}
{% set scrollTo = sectionId %}

{% set mammogramHistoryHtml %}
  {# {% include "summary-lists/medical-information/mammogram-history.njk" %} #}

  {% call summaryList() %}
    {% set noBorder = true %}
    {% include "_includes/summary-lists/rows/last-known-mammogram.njk" %}
  {% endcall %}
{% endset %}

{% set mammogramHistoryContentsSummary %}
  {# Last mammogrogram {{ "2022-03-23" | formatDate | formatRelativeDate | asHint }} #}
{% endset %}

{% set hasAdditionalMammograms = event.previousMammograms | length > 0 %}

{% if hasAdditionalMammograms %}
  {% set mammogramHistoryContentsSummary = ((event.previousMammograms | length)) ~ " new " + ("mammogram" | pluralise(event.previousMammograms | length)) + " added" %}
{% endif %}


{% switch displayFormat %}
  {% case 'flat' %}
    <h2 id="{{ sectionId }}">{{ sectionHeading }}</h2>
    {{ mammogramHistoryHtml | safe }}
  {% case 'card' %}
    {% call card({
      heading: sectionHeading,
      attributes: {
        id: sectionId
      }
    }) %}
      <p>
        {{ subHeading }}
      </p>
      {{ mammogramHistoryHtml | safe }}
    {% endcall %}
  {% default %}
    {{ appDetails({
      id: sectionId,
      classes: "nhsuk-expander js-expandable-section js-track-expanded",
      summaryText: "Mammogram history",
      contentsSummary: mammogramHistoryContentsSummary,
      subtitle: "The last confirmed mammogram and any added manually since then",
      html: mammogramHistoryHtml,
      status: "To review",
      open: true
    }) }}
{% endswitch %}

{# -------------------------------------------------------------- #}
{# Medical history #}

{% set sectionHeading = "Medical history" %}

{% set subHeading = "Including breast cancer, implants, prior procedures and treatments" %}
{% set sectionId = sectionHeading | kebabCase %}
{% set scrollTo = sectionId %}

{% set medicalHistoryHtml %}
  {% include "medical-information/medical-history/index.njk" %}
{% endset %}

{% set medicalInfoCount = 0 %}
{% if event.medicalInformation.medicalHistory %}
  {% for type, historyGroup in event.medicalInformation.medicalHistory %}
    {% for item in historyGroup %}
      {% set medicalInfoCount = medicalInfoCount + 1 %}
    {% endfor %}
  {% endfor %}
{% endif %}

{{ medicalInfoCount | log("Medical info count") }}

{% set contentsSummary %}
  {% if medicalInfoCount > 0 %}
    {{ medicalInfoCount }} {{ "item" | pluralise(medicalInfoCount) }} added
  {% else %}
    No information added
  {% endif %}
{% endset %}

{% switch displayFormat %}
  {% case 'flat' %}
    <h2>{{ sectionHeading }}</h2>
    {{ medicalHistoryHtml | safe }}
  {% case 'card' %}
    {% call card({
      heading: sectionHeading
    }) %}
      <p>
        {{ subHeading }}
      </p>
      {{ medicalHistoryHtml | safe }}
    {% endcall %}
  {% default %}
    {{ appDetails({
      id: "medical-history",
      classes: "nhsuk-expander js-expandable-section js-track-expanded",
      summaryText: sectionHeading,
      contentsSummary: contentsSummary,
      subtitle: subHeading,
      html: medicalHistoryHtml,
      status: "To review"
    }) }}
{% endswitch %}


{# -------------------------------------------------------------- #}
{# Symptoms #}
{% set sectionHeading = "Symptoms" %}
{% set subHeading = "Any problems or symptoms, including lumps, swelling, rashes or nipple changes" %}
{% set sectionId = sectionHeading | kebabCase %}
{% set scrollTo = sectionId %}

{% set symptomsCount = event.medicalInformation.symptoms and event.medicalInformation.symptoms | length %}
{% set hasSymptoms = symptomsCount > 0 %}

{% set symptomsContentsSummaryText %}
  {{ symptomsCount or "No" }} {{ 'symptom' | pluralise(symptomsCount) }} recorded
{% endset %}

{% set currentSymptomsHtml %}
  {% include "summary-lists/medical-information/symptoms/summary.njk" %}

  {% if not hasSymptoms %}
    {% set insetHtml %}
      <p>No symptoms have been recorded for this participant.</p>
    {% endset %}
    {{ insetText({
      html: insetHtml
    }) }}
  {% endif %}

  {% set linkHref %}
    {{ "./medical-information/symptoms/add" | urlWithReferrer(currentUrl, scrollTo) }}
  {% endset %}

  {# <p class="nhsuk-u-margin-top-4 nhsuk-u-margin-bottom-0">
    <a href="{{ linkHref }}" class="nhsuk-link">{{ "Add another symptom" if hasSymptoms else "Add a symptom" }}</a>
  </p> #}

  {% if allowEdits %}
    <h4>Add symptoms</h4>

    <div class="nhsuk-button-group app-button-group--small">
      {% for symptomType in data.symptomTypes %}
        {{ button({
          text: symptomType.name | sentenceCase,
          href: ("./medical-information/symptoms/add?symptomType=" + symptomType.slug) | urlWithReferrer(currentUrl, scrollTo),
          classes: "nhsuk-button--secondary app-button--small"
        }) }}
      {% endfor %}
    </div>
  {% endif %}
  
{% endset %}

{% switch displayFormat %}
  {% case 'flat' %}
    <h2 id="{{ sectionId }}">{{ sectionHeading }}</h2>
    {{ currentSymptomsHtml | safe }}
  {% case 'card' %}
    {% call card({
      heading: sectionHeading,
      attributes: {
        id: sectionId
      }
    }) %}
      <p>
        {{ subHeading }}
      </p>
      {{ currentSymptomsHtml | safe }}
    {% endcall %}
  {% default %}
    {{ appDetails({
      id: sectionId,
      classes: "nhsuk-expander js-expandable-section js-track-expanded",
      summaryText: sectionHeading,
      subtitle: subHeading,
      contentsSummary: symptomsContentsSummaryText,
      html: currentSymptomsHtml,
      status: "To review"
    }) }}
{% endswitch %}

{# -------------------------------------------------------------- #}
{# Breast features #}
{% set sectionHeading = "Breast features" %}
{% set subHeading = "Non-surgical scars, moles and other features that may appear on mammogram images" %}
{% set sectionId = sectionHeading | kebabCase %}
{% set scrollTo = sectionId %}

{% set rawBreastFeatures = event.medicalInformation.breastFeaturesRaw | parseJsonString %}
{% set breastFeatures = event.medicalInformation.breastFeatures or rawBreastFeatures %}
{% set breastFeaturesCount = breastFeatures | length %}
{% set hasBreastFeatures = breastFeaturesCount > 0 %}

{% set addBreastFeatureHref %}
  {{ "./medical-information/record-breast-features" | urlWithReferrer(currentUrl, scrollTo) }}
{% endset %}

{% set breastFeaturesContentsSummaryText %}
  {{ breastFeaturesCount or "No" }} breast {{ "feature" | pluralise(breastFeaturesCount) }} recorded
{% endset %}

{% set breastFeaturesHtml %}
  {% include "_includes/medical-information/breast-features.njk" %}
{% endset %}

{% switch displayFormat %}
  {% case 'flat' %}
    <h2 id="{{ sectionId }}">{{ sectionHeading }}</h2>
    {{ breastFeaturesHtml | safe }}
  {% case 'card' %}
    {% call card({
      heading: sectionHeading,
      attributes: {
        id: sectionId
      }
    }) %}
      <p>
        {{ subHeading }}
      </p>
      {{ breastFeaturesHtml | safe }}
    {% endcall %}
  {% default %}
    {{ appDetails({
      id: sectionId,
      classes: "nhsuk-expander js-expandable-section js-track-expanded",
      summaryText: sectionHeading,
      subtitle: subHeading,
      html: breastFeaturesHtml,
      contentsSummary: breastFeaturesContentsSummaryText,
      status: "To review"
    }) }}
{% endswitch %}

{# -------------------------------------------------------------- #}
{# Other relevant information #}
{% set sectionHeading = "Other relevant information" %}
{% set subHeading = "Including HRT, pregnancy, breastfeeding and mammographer notes" %}
{% set sectionId = sectionHeading | kebabCase %}
{% set scrollTo = sectionId %}

{% set otherRelevantInformationHtml %}
  {% include "_includes/summary-lists/medical-information/other-relevant-information.njk" %}
{% endset %}

{% set otherRelevantInformationCount = 0 %}

{% if event.medicalInformation.hrt.hrtQuestion == 'yes' %}
  {% set otherRelevantInformationCount = otherRelevantInformationCount + 1 %}
{% endif %}

{% if event.medicalInformation.pregnancyAndBreastfeeding.pregnancyStatus == 'yes' %}
  {% set otherRelevantInformationCount = otherRelevantInformationCount + 1 %}
{% endif %}

{% if event.medicalInformation.pregnancyAndBreastfeeding.breastfeedingStatus == 'yes' %}
  {% set otherRelevantInformationCount = otherRelevantInformationCount + 1 %}
{% endif %}

{% if otherRelevantInformationCount > 0 %}
  {% set otherRelevantInformationSummary = otherRelevantInformationCount ~ " other relevant information recorded" %}
{% else %}
  {% set otherRelevantInformationSummary = "No other relevant information recorded" %}
{% endif %}

{% switch displayFormat %}
  {% case 'flat' %}
    <h2 id="{{ sectionId }}">{{ sectionHeading }}</h2>
    {{ otherRelevantInformationHtml | safe }}
  {% case 'card' %}
    {% call card({
      heading: sectionHeading,
      attributes: {
        id: sectionId
      }
    }) %}
      <p>
        {{ subHeading }}
      </p>
      {{ otherRelevantInformationHtml | safe }}
    {% endcall %}
  {% default %}
    {{ appDetails({
      id: sectionId,
      classes: "nhsuk-expander js-expandable-section js-track-expanded",
      summaryText: sectionHeading,
      subtitle: subHeading,
      contentsSummary: otherRelevantInformationSummary,
      html: otherRelevantInformationHtml,
      status: "To review"
    }) }}
{% endswitch %}