{# app/views/_includes/medical-information/index.njk #}

{# Mammogram history #}
{% set sectionHeading = "Mammogram history" %}
{% set subHeading = "The last confirmed mammogram and any added manually since then" %}
{% set scrollTo = 'mammogram-history' %}

{% set mammogramHistoryHtml %}
  {# {% include "summary-lists/medical-information/mammogram-history.njk" %} #}

  {% call summaryList() %}
    {% set noBorder = true %}
    {% include "_includes/summary-lists/rows/last-known-mammogram.njk" %}
  {% endcall %}
{% endset %}

{% set mammogramHistoryContentsSummary %}
  Last mammogrogram {{ "2022-03-23" | formatDate | formatRelativeDate | asHint }}
{% endset %}

{% set hasAdditionalMammograms = event.previousMammograms | length > 0 %}

{% if hasAdditionalMammograms %}
  {% set mammogramHistoryContentsSummary = ((event.previousMammograms | length) + 1) ~ " mammograms added" %}
{% endif %}

{% switch displayFormat %}
  {% case 'flat' %}
    <h2>{{ sectionHeading }}</h2>
    {{ mammogramHistoryHtml | safe }}
  {% case 'card' %}
    {% call card({
      heading: sectionHeading
    }) %}
      <p>
        {{ subHeading }}
      </p>
      {{ mammogramHistoryHtml | safe }}
    {% endcall %}
  {% default %}
    {{ appDetails({
      id: "mammogram-history",
      classes: "nhsuk-expander js-expandable-section",
      summaryText: "Mammogram history",
      _contentsSummary: mammogramHistoryContentsSummary,
      subtitle: "The last confirmed mammogram and any added manually since then",
      html: mammogramHistoryHtml,
      status: "To review",
      open: true
    }) }}
{% endswitch %}

{# Symptoms #}
{% set sectionHeading = "Symptoms" %}
{% set subHeading = "Any problems or symptoms, including lumps, swelling, rashes or nipple changes" %}
{% set scrollTo = 'current-symptoms' %}


{% set symptomsCount = event.medicalInformation.symptoms and event.medicalInformation.symptoms | length %}

{% set hasSymptoms = symptomsCount > 0 %}
{% set scrollTo = 'current-symptoms' %}

{# Show add symptom ui when nothing added and collapsed #}
{# {% if hasSymptoms %} #}
  {% set symptomsContentsSummaryHtml %}
    <span class="nhsuk-u-secondary-text-color">
      {{ symptomsCount or "No" }} {{ 'symptom' | pluralise(symptomsCount) }} recorded
    </span>
  {% endset %}
{# {% else %}
  {% set symptomsContentsSummaryHtml %}
    <p class="nhsuk-u-secondary-text-color">
      0 symptoms recorded
    </p> #}
    {# <p class="nhsuk-u-margin-bottom-0">
      <a href="{{ "./medical-information/symptoms/add" | urlWithReferrer(currentUrl, scrollTo) }}" class="js-expand-parent-section">Add a symptom</a>
    </p> #}
    {# {% set referrerChain = currentUrl %}

    {% include "add-symptom-button-menu.njk" %}
  {% endset %}
{% endif %} #}

{% set currentSymptomsHtml %}
  {% include "summary-lists/medical-information/symptoms/summary.njk" %}

  {% if not hasSymptoms %}
    {% set insetHtml %}
      <p>No symptoms have been recorded for this participant.</p>
    {% endset %}
    {{ insetText({
      html: insetHtml
    }) }}
  {% endif %}

  {% set linkHref %}
    {{ "./medical-information/symptoms/add" | urlWithReferrer(currentUrl, scrollTo) }}
  {% endset %}

  {# <p class="nhsuk-u-margin-top-4 nhsuk-u-margin-bottom-0">
    <a href="{{ linkHref }}" class="nhsuk-link">{{ "Add another symptom" if hasSymptoms else "Add a symptom" }}</a>
  </p> #}

  {# Explicitly set referrer chain to the current url #}
  {% set referrerChain = currentUrl %}
  {% include "add-symptom-button-menu.njk" %}
{% endset %}

{% switch displayFormat %}
  {% case 'flat' %}
    <h2>{{ sectionHeading }}</h2>
    {{ currentSymptomsHtml | safe }}
  {% case 'card' %}
    {% call card({
      heading: sectionHeading
    }) %}
      <p>
        {{ subHeading }}
      </p>
      {{ currentSymptomsHtml | safe }}
    {% endcall %}
  {% default %}
    {{ appDetails({
      id: "current-symptoms",
      classes: "nhsuk-expander js-expandable-section",
      summaryText: "Current symptoms",
      subtitle: subHeading,
      contentsSummaryHtml: symptomsContentsSummaryHtml,
      html: currentSymptomsHtml,
      status: "To review"
    }) }}
{% endswitch %}


{# Medical history #}

{% set sectionHeading = "Medical history" %}
{% set subHeading = "Including breast cancer, implants, prior proceedures and treatments" %}
{% set scrollTo = 'medical-history' %}


{% set medicalHistoryHtml %}
  {% include "summary-lists/medical-information/medical-history.njk" %}
{% endset %}

{% switch displayFormat %}
  {% case 'flat' %}
    <h2>{{ sectionHeading }}</h2>
    {{ medicalHistoryHtml | safe }}
  {% case 'card' %}
    {% call card({
      heading: sectionHeading
    }) %}
      <p>
        {{ subHeading }}
      </p>
      {{ medicalHistoryHtml | safe }}
    {% endcall %}
  {% default %}
    {{ appDetails({
      id: "medical-history",
      classes: "nhsuk-expander js-expandable-section",
      summaryText: "Medical history",
      contentsSummary: "No information added",
      subtitle: "Including breast cancer, implants, prior proceedures and treatments",
      html: medicalHistoryHtml,
      status: "To review"
    }) }}
{% endswitch %}

{% set medicalHistoryHtml %}
  {% set rows = [
    "Implanted medical devices",
    "Breast implants or augmentation",
    "Breast cancer tests and treatment",
    "Treatment for non-cancerous breast conditions",
    "Other breast or chest proceedures"
    ] %}

  {% set summaryListItems = [] %}

  {% set valueHtml = "" %}

  {% for row in rows %}
    {% set summaryListItems = summaryListItems | push({
        key: {
          text: row
        },
        value: {
          html: valueHtml
        },
        actions: {
          items: [
            {
              href: "#",
              text: "Change",
              visuallyHiddenText: row | lower
            }
          ]
        }
      }) %}
  {% endfor %}
  {{ summaryList({
    rows: summaryListItems
  } | handleSummaryListMissingInformation) }}

{% endset %}

{% switch displayFormat %}
  {% case 'flat' %}
    <h2>{{ sectionHeading }}</h2>
    {{ medicalHistoryHtml | safe }}
  {% case 'card' %}
    {% call card({
      heading: sectionHeading
    }) %}
      <p>
        {{ subHeading }}
      </p>
      {{ medicalHistoryHtml | safe }}
    {% endcall %}
  {% default %}
    {{ appDetails({
      id: "medical-history",
      classes: "nhsuk-expander js-expandable-section",
      summaryText: "Medical history",
      contentsSummary: "No information added",
      subtitle: "Including breast cancer, implants, prior proceedures and treatments",
      html: medicalHistoryHtml,
      status: "To review"
    }) }}
{% endswitch %}



{# Breast features #}
{% set sectionHeading = "Breast features" %}
{% set subHeading = "Significant scars, moles or warts that may appear on mammogram images" %}
{% set scrollTo = 'breast-features' %}

{% set breastFeaturesCount = event.medicalInformation.breastFeaturesCount | int %}
{% set hasBreastFeatures = breastFeaturesCount > 0 %}

{% set addBreastFeatureHref %}
  {{ "./medical-information/record-breast-features" | urlWithReferrer(currentUrl, scrollTo) }}
{% endset %}

{# {% if hasBreastFeatures %} #}
  {% set breastFeaturesContentsSummaryHtml %}
    <span class="nhsuk-u-secondary-text-color">
      {{ breastFeaturesCount or "No" }} breast {{ "feature" | pluralise(breastFeaturesCount) }} recorded
    </span>
  {% endset %}

{# {% else %}

  {% set breastFeaturesContentsSummaryHtml %}
    <p class="nhsuk-u-secondary-text-color">
      No breast features recorded
    </p>
    <p class="nhsuk-u-margin-bottom-0">
      <a href="{{ addBreastFeatureHref | safe }}" class="js-expand-parent-section nhsuk-link--no-visited-state">
        Add a feature
      </a>
    </p>
  {% endset %}
{% endif %} #}

{% set breastFeaturesHtml %}
  {% include "_includes/medical-information/breast-features.njk" %}
{% endset %}

{% switch displayFormat %}
  {% case 'flat' %}
    <h2>{{ sectionHeading }}</h2>
    {{ breastFeaturesHtml | safe }}
  {% case 'card' %}
    {% call card({
      heading: sectionHeading
    }) %}
      <p>
        {{ subHeading }}
      </p>
      {{ breastFeaturesHtml | safe }}
    {% endcall %}
  {% default %}
    {{ appDetails({
      id: "breast-features",
      classes: "nhsuk-expander js-expandable-section",
      summaryText: "Breast features",
      subtitle: "Significant scars, moles or warts that may appear on mammogram images",
      html: breastFeaturesHtml,
      contentsSummaryHtml: breastFeaturesContentsSummaryHtml,
      status: "To review"
    }) }}
{% endswitch %}

{# Other relevant information #}
{% set sectionHeading = "Other relevant information" %}
{% set subHeading = "Including HRT, pregnancy, breastfeeding and mammographer notes" %}
{% set scrollTo = 'other-relevant-information' %}

{% set otherRelevantInformationHtml %}
  {% include "_includes/summary-lists/medical-information/other-relevant-information.njk" %}
{% endset %}

{% set otherMedicalInformationCount = 0 %}

{% if event.medicalInformation.hrt.hrtQuestion == 'yes' %}
  {% set otherMedicalInformationCount = otherMedicalInformationCount + 1 %}
{% endif %}

{% if event.medicalInformation.pregnancyAndBreastfeeding.pregnancyStatus == 'yes' %}
  {% set otherMedicalInformationCount = otherMedicalInformationCount + 1 %}
{% endif %}

{% if event.medicalInformation.pregnancyAndBreastfeeding.breastfeedingStatus == 'yes' %}
  {% set otherMedicalInformationCount = otherMedicalInformationCount + 1 %}
{% endif %}

{% if otherRelevantInformationCount > 0 %}
  {% set otherRelevantInformationSummary = otherRelevantInformationCount ~ " other relevant information recorded" %}
{% else %}
  {% set otherRelevantInformationSummary = "No other relevant information recorded" %}
{% endif %}

{% switch displayFormat %}
  {% case 'flat' %}
    <h2>{{ sectionHeading }}</h2>
    {{ otherRelevantInformationHtml | safe }}
  {% case 'card' %}
    {% call card({
      heading: sectionHeading
    }) %}
      <p>
        {{ subHeading }}
      </p>
      {{ otherRelevantInformationHtml | safe }}
    {% endcall %}
  {% default %}
    {{ appDetails({
      id: "other-relevant-information",
      classes: "nhsuk-expander js-expandable-section",
      summaryText: "Other relevant information",
      subtitle: "Including HRT, pregnancy, breastfeeding and mammographer notes",
      contentsSummary: otherRelevantInformationSummary,
      html: otherRelevantInformationHtml,
      status: "To review"
    }) }}
{% endswitch %}