{# app/views/_components/icon/macro.njk #}
{%- from "nhsuk/macros/icon.njk" import nhsukIcon -%}

{% macro appIcon(name, params) -%}
{%- if name == "alert" -%}
<svg class="nhsuk-icon nhsuk-icon--alert{% if params and params.classes %} {{ params.classes }}{% endif %}" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" width="32" height="32" focusable="false"{% if params and params.title %} role="img" aria-label="{{ params.title }}"{% else %} aria-hidden="true"{% endif %}>
  {%- if params and params.title %}<title>{{ params.title }}</title>{% endif %}
  <path d="m13.7 3 9.1 16a2 2 0 0 1-1.7 3H2.9a2 2 0 0 1-1.7-3l9-16a2 2 0 0 1 3.5 0M12 17a1.5 1.5 0 1 0 0 3 1.5 1.5 0 0 0 0-3m-1.5-9.5V14a1.5 1.5 0 0 0 3 0V7.5a1.5 1.5 0 0 0-3 0">
</svg>
{%- elseif name == "warning" -%}
<svg class="nhsuk-icon nhsuk-icon--warning{% if params and params.classes %} {{ params.classes }}{% endif %}" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" width="32" height="32" focusable="false"{% if params and params.title %} role="img" aria-label="{{ params.title }}"{% else %} aria-hidden="true"{% endif %}>
  {%- if params and params.title %}<title>{{ params.title }}</title>{% endif %}
  <path d="M12 2a10 10 0 1 1 0 20 10 10 0 0 1 0-20Zm0 14a1.5 1.5 0 1 0 0 3 1.5 1.5 0 0 0 0-3Zm-1.5-9.5V13a1.5 1.5 0 0 0 3 0V6.5a1.5 1.5 0 0 0-3 0Z">
</svg>
{%- elseif name == "information" -%}
<svg class="nhsuk-icon nhsuk-icon--information{% if params and params.classes %} {{ params.classes }}{% endif %}" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" width="32" height="32" focusable="false"{% if params and params.title %} role="img" aria-label="{{ params.title }}"{% else %} aria-hidden="true"{% endif %}>
  {%- if params and params.title %}<title>{{ params.title }}</title>{% endif %}
  <path d="M12 2a10 10 0 1 1 0 20 10 10 0 0 1 0-20Zm0 3.5a1.5 1.5 0 1 0 0 3 1.5 1.5 0 0 0 0-3Zm-1.5 6.5V17a1.5 1.5 0 0 0 3 0V12a1.5 1.5 0 0 0-3 0Z">
</svg>
{%- elseif name == "copy" -%}
{# Two-pages copy icon (GitHub Octicons, MIT). Drawn on a 16px grid, unlike the NHS icons #}
<svg class="nhsuk-icon nhsuk-icon--copy{% if params and params.classes %} {{ params.classes }}{% endif %}" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 16 16" width="16" height="16" focusable="false"{% if params and params.title %} role="img" aria-label="{{ params.title }}"{% else %} aria-hidden="true"{% endif %}>
  {%- if params and params.title %}<title>{{ params.title }}</title>{% endif %}
  <path d="M0 6.75C0 5.784.784 5 1.75 5h1.5a.75.75 0 0 1 0 1.5h-1.5a.25.25 0 0 0-.25.25v7.5c0 .138.112.25.25.25h7.5a.25.25 0 0 0 .25-.25v-1.5a.75.75 0 0 1 1.5 0v1.5A1.75 1.75 0 0 1 9.25 16h-7.5A1.75 1.75 0 0 1 0 14.25Z"/>
  <path d="M5 1.75C5 .784 5.784 0 6.75 0h7.5C15.216 0 16 .784 16 1.75v7.5A1.75 1.75 0 0 1 14.25 11h-7.5A1.75 1.75 0 0 1 5 9.25Zm1.75-.25a.25.25 0 0 0-.25.25v7.5c0 .138.112.25.25.25h7.5a.25.25 0 0 0 .25-.25v-7.5a.25.25 0 0 0-.25-.25Z"/>
</svg>
{%- else -%}
  {{- nhsukIcon(name, params) -}}
{%- endif -%}
{%- endmacro %}
