{# app/views/events/medical-information/other-medical-information.html #}

{% extends 'layout-app.html' %}

{% set pageHeading = "Other medical information" %}

{% set gridColumn = "nhsuk-grid-column-two-thirds" %}

{% set formAction = './../review-medical-information' | getReturnUrl(referrerChain, query.scrollTo) %}


{% block pageContent %}


  <h1 class="nhsuk-heading-l">
    <span class="nhsuk-caption-l">
      {{ participant | getFullName }}
    </span>
    {{ pageHeading }}
  </h1>

  {{ textarea({
    name: "event[medicalInformation][otherMedicalInformation]",
    value: data.event.medicalInformation.otherMedicalInformation,
    hint: {
      text: "Provide details of any relevant health conditions or medications that are not covered by symptoms or medical history questions."
    },
    rows: 10
  }) }}

  {{ button({
    text: "Save"
  }) }}

  


{% endblock %}