{% extends 'layout-appointment.html' %}

{% set pageHeading = "Record breast features" %}

{% set formAction = "./record-breast-features/save" | urlWithReferrer(referrerChain, query.scrollTo) %}

{% set gridColumn = "nhsuk-grid-column-full" %}

{% block appointmentContent %}

{% set rawBreastFeatures = event.medicalInformation.breastFeaturesRaw | parseJsonString %}
{% set breastFeatures = event.medicalInformation.breastFeatures or rawBreastFeatures %}

{{ breastFeatures | log("Breast features") }}

<div class="nhsuk-u-reading-width">
  <h1 class="nhsuk-heading-l">
    <span class="nhsuk-caption-m">
      {{ participant | getFullName }}
    </span>
    {{ pageHeading }}
  </h1>

  <div id="status-message" aria-live="polite" class="nhsuk-u-visually-hidden" role="status"></div>

  <p class="nhsuk-body">
    Click the diagram to add notable features such as scars, moles, or warts that image readers may need to be aware of. These could be observed by you or reported by the participant.
  </p>

  {# Button for use in testing #}
  {# {{ button({
    text: "Show location borders",
    classes: "nhsuk-button--secondary",
    attributes: {
      id: "toggleBordersBtn"
    },
    type: "button"
  }) }} #}

  <div class="breast-features-diagram-header">
    <h2 class="nhsuk-heading-m">Where is the feature?</h2>
  </div>

  <div class="breast-features-diagram-container">

    {% include "_includes/breast-diagram.njk" %}

    {# Popover (initially hidden) #}
    {% include "_includes/feature-popover.njk" %}

    {# Key for features #}
    {% include "features-list.njk" %}

  <div class="nhsuk-u-margin-top-6">

    {{ button({
      text: "Save"
    }) }}

    <div id="statusMessage" class="nhsuk-u-margin-top-3" style="display: none;">
    </div>
  </div>

  <p class="">
    <a class="nhsuk-link nhsuk-link--no-visited-state" href="./attended-not-screened-reason">
      Save and stop appointment because it cannot proceed
    </a>
  </p>

</div>


  <script>
  window.breastFeaturesConfig = {
    hiddenFieldName: 'event[medicalInformation][breastFeaturesRaw]',
    hiddenFieldId: 'breastFeaturesRaw',
    existingFeatures: {{ breastFeatures | dump | safe }} || [],
    featureTypes: [
     { value: 'mole', text: 'Mole' },
     { value: 'wart', text: 'Wart' },
     { value: 'non-surgical-scar', text: 'Non-surgical scar' },
     { value: 'bruising-or-trauma', text: 'Bruising or trauma' },
     { value: 'other-feature', text: 'Other feature' }
    ]
  }
  </script>

  <script src="/js/breast-features.js"></script>

{% endblock %}