{# app/views/_includes/issues/raise-fields.njk

   The fields of the raise an issue form, shared by the form outside the
   workflow (issues/raise.html) and the one inside reading
   (reading/workflow/raise-issue.html). Their routes read the answers back
   from data.issueTemp.raise.

   Expects: issueTypes (from getIssueTypes), answers (data.issueTemp.raise),
   raisedFrom, recordId and descriptionHint. #}

{% set typeItems = [] %}
{% for issueType in issueTypes %}
  {% set typeItems = typeItems | push({
    value: issueType.value,
    text: issueType.label
  }) %}
{% endfor %}

{{ radios({
  name: "issueTemp[raise][type]",
  idPrefix: "raiseIssueType",
  value: answers.type,
  fieldset: {
    legend: {
      text: "What is the issue?",
      size: "m"
    }
  },
  items: typeItems
} | populateErrors) }}

{{ textarea({
  name: "issueTemp[raise][description]",
  id: "raiseIssueDescription",
  label: {
    text: "Describe the issue",
    size: "s"
  },
  hint: {
    text: descriptionHint
  },
  rows: 4,
  value: answers.description
} | populateErrors) }}

{{ appHiddenInput({
  name: "issueTemp[raise][raisedFrom]",
  value: raisedFrom
}) }}

{{ appHiddenInput({
  name: "issueTemp[raise][recordId]",
  value: recordId
}) }}
