{# /app/views/_components/modal/template.njk #}

{% set modalId = params.id or "app-modal" %}
{% from 'button/macro.njk' import button %}

<div id="{{ modalId }}" class="app-modal" hidden
     {% if params.data %}
       {% for key, value in params.data %}
         data-{{ key }}="{{ value }}"
       {% endfor %}
     {% endif %}>
  <div class="app-modal__overlay" data-modal-overlay></div>
  <div class="app-modal__dialog" role="dialog" aria-modal="true" aria-labelledby="{{ modalId }}-title" tabindex="-1">

    {% if params.showCloseButton %}
      <button class="app-modal__close" type="button" data-modal-action="close" aria-label="Close">
          <svg viewBox="0 0 16 16" fill="currentColor" width="18" height="18" aria-hidden="true" focusable="false">
          <path d="M.293.293a1 1 0 0 1 1.414 0L8 6.586 14.293.293a1 1 0 1 1 1.414 1.414L9.414 8l6.293 6.293a1 1 0 0 1-1.414 1.414L8 9.414l-6.293 6.293a1 1 0 0 1-1.414-1.414L6.586 8 .293 1.707a1 1 0 0 1 0-1.414z"/>
        </svg>
      </button>
    {% endif %}

    <div class="app-modal__content">
      {% if params.title %}
        <h2 id="{{ modalId }}-title" class="app-modal__title nhsuk-heading-m">
          {{ params.title }}
        </h2>
      {% endif %}

      {% if params.content %}
        <div class="app-modal__body">
          {{ params.content | safe }}
        </div>
      {% endif %}

      {% if params.actions %}
        <div class="app-modal__actions nhsuk-button-group">
          {% for action in params.actions %}
            {% if action %}
              {% if action.element == "link" %}
                <p>
                  <a href="{{ action.href or '#' }}"
                    class="nhsuk-link {{ action.classes }}"
                    data-modal-action="{{ action.action or 'close' }}"
                    {% if action.method %}data-method="{{ action.method }}"{% endif %}>
                    {{ action.text }}
                  </a>
                </p>
              {% else %}
                {{ button({
                  text: action.text,
                  classes: action.classes,
                  attributes: {
                    'data-modal-action': action.action or 'close',
                    'data-href': action.href,
                    'data-method': action.method,
                    'data-close-on-success': action.closeOnSuccess,
                    'data-clinic-id': action.attributes['data-clinic-id'] if action.attributes,
                    'data-event-id': action.attributes['data-event-id'] if action.attributes,
                    'data-status-tag-id': action.attributes['data-status-tag-id'] if action.attributes,
                    'data-show-appointment-link': action.attributes['data-show-appointment-link'] if action.attributes,
                    'type': 'button'
                  }
                }) }}
              {% endif %}
            {% endif %}

          {% endfor %}
        </div>
      {% endif %}
    </div>
  </div>
</div>
