{# app/views/_includes/medical-information/medical-history/index.njk #}

{% for type, typeData in data.medicalHistoryTypes %}

  {% set historyItemArray = data.event.medicalInformation.medicalHistory[type] %}

  {% if historyItemArray and historyItemArray | length %}
    <h3>{{ typeData.name }}</h3>

    {% for historyItem in historyItemArray %}

      {% set changeHref =  "./medical-information/medical-history/" + typeData.slug + "/edit/" + historyItem.id | urlWithReferrer(currentUrl) %}

      <div class="nhsuk-u-margin-bottom-6">
        {% if historyItemArray | length > 1 %}
          <p class="nhsuk-u-font-weight-bold nhsuk-u-margin-bottom-2">
            Item #{{ loop.index }}
          </p>
        {% endif %}

        {{ summaryList({
          classes: "nhsuk-u-margin-bottom-3",
          rows: [
            {
              key: {
                text: "Type"
              },
              value: {
                text: historyItem.type
              },
              actions: {
                items: [
                  {
                    href: changeHref,
                    text: "Change",
                    visuallyHiddenText: historyItem.name | lower
                  }
                ]
              }
            } if historyItem.type,
            {
              key: {
                text: "Date"
              },
              value: {
                text: historyItem.generalDate
              },
              actions: {
                items: [
                  {
                    href: changeHref,
                    text: "Change",
                    visuallyHiddenText: "date"
                  }
                ]
              }
            } if historyItem.generalDate,
            {
              key: {
                text: "Additional details"
              },
              value: {
                text: historyItem.additionalDetails
              },
              actions: {
                items: [
                  {
                    href: changeHref,
                    text: "Change",
                    visuallyHiddenText: "additional details"
                  }
                ]
              }
            }
          ]
        } | handleSummaryListMissingInformation(true) ) }}

        {% set addedByText %}
          Added by {{ historyItem.addedBy | getUsername }} on {{ historyItem.dateAdded | formatDate }} ({{ historyItem.dateAdded | formatRelativeDate }})
        {% endset %}
        <p>
          {{ addedByText | asHint }}
        </p>
      </div>


    {% endfor %}

    {% set addItemHref = ("./medical-information/medical-history/" + typeData.slug + "/add") | urlWithReferrer(currentUrl) %}

    <p class="nhsuk-u-margin-bottom-4"><a href="{{ addItemHref }}">Add another {{ typeData.name | lower | asVisuallyHiddenText }}</a></p>
  {% endif %}



{% endfor %}

<hr>

<h3>Add medical history</h3>
{% for type, typeData in data.medicalHistoryTypes %}
  {{ button({
    text: typeData.name,
    href: "./medical-information/medical-history/" + typeData.slug + "/add" | urlWithReferrer(currentUrl),
    classes: "nhsuk-button--secondary"
  }) }}
{% endfor %}
