{# app/views/_includes/medical-information/medical-history/location.njk #}

{# Set blocks for conditional HTML #}
{% set nhsHospitalConditionalHtml %}
  {{ input({
    name: "appointment[medicalHistoryTemp][locationNhsHospitalDetails]",
    value: appointment.medicalHistoryTemp.locationNhsHospitalDetails,
    label: {
      text: "Provide details",
      size: "s"
    }
  }) }}
{% endset %}

{% set privateClinicConditionalHtml %}
  {{ input({
    name: "appointment[medicalHistoryTemp][locationPrivateClinicDetails]",
    value: appointment.medicalHistoryTemp.locationPrivateClinicDetails,
    label: {
      text: "Provide details",
      size: "s"
    }
  }) }}
{% endset %}

{% set outsideUkConditionalHtml %}
  {{ input({
    name: "appointment[medicalHistoryTemp][locationOutsideUkDetails]",
    value: appointment.medicalHistoryTemp.locationOutsideUkDetails,
    label: {
      text: "Provide details",
      size: "s"
    }
  }) }}
{% endset %}

{% set multipleLocationsConditionalHtml %}
  {{ textarea({
    name: "appointment[medicalHistoryTemp][locationMultipleLocationsDetails]",
    value: appointment.medicalHistoryTemp.locationMultipleLocationsDetails,
    label: {
      text: "Provide details",
      size: "s"
    },
    rows: 4
  }) }}
{% endset %}

{% set unknownLocationConditionalHtml %}
  {{ input({
    name: "appointment[medicalHistoryTemp][locationUnknownLocationDetails]",
    value: appointment.medicalHistoryTemp.locationUnknownLocationDetails,
    label: {
      text: treatmentLocationUnknownDetailsLabel or "Provide details"
    }
  }) }}
{% endset %}

{{ radios({
  idPrefix: "location",
  name: "appointment[medicalHistoryTemp][location]",
  value: appointment.medicalHistoryTemp.location,
  fieldset: {
    legend: {
      text: treatmentLocationText or "What was the location?",
      size: "m"
    },
    hint: {
      text: treatmentLocationHintText or "Radiologists need this information so they can access pathology reports."
    }
  },
  items: [
    {
      value: "At an NHS clinic or hospital",
      text: "At an NHS clinic or hospital",
      conditional: {
        html: nhsHospitalConditionalHtml
      }
    },
    {
      value: "Somewhere else in the UK",
      text: "Somewhere else in the UK",
      conditional: {
        html: privateClinicConditionalHtml
      }
    },
    {
      value: "Outside the UK",
      text: "Outside the UK",
      conditional: {
        html: outsideUkConditionalHtml
      }
    },
    {
      value: "In multiple locations",
      text: "In multiple locations",
      conditional: {
        html: multipleLocationsConditionalHtml
      }
    },
    {
      divider: "or"
    } if treatmentLocationShowUnknownDivider,
    {
      value: "Not known",
      text: "Not known",
      conditional: {
        html: unknownLocationConditionalHtml
      }
    }
  ]
}) }}
