{# app/views/_includes/summary-lists/medical-information/breast-density-factors.njk #}

{% set selectedBreastDensityFactors = appointment.medicalInformation.breastDensityFactors %}
{% set breastDensityFactorsHrt = appointment.medicalInformation.breastDensityFactorsHrt %}

{% if selectedBreastDensityFactors and not (selectedBreastDensityFactors | isArray) %}
  {% set selectedBreastDensityFactors = [selectedBreastDensityFactors] %}
{% endif %}

{% if not breastDensityFactorsHrt and selectedBreastDensityFactors and selectedBreastDensityFactors | includes("hrt") %}
  {% set breastDensityFactorsHrt = "yes" %}
{% endif %}

{% set participantName = participant | getFullName %}

{% set breastDensityFactorsHrtQuestion = "Has " + participantName + " begun course of HRT since their last screening appointment?" %}
{% set pregnantOrBreastfeedingQuestion = "Is " + participantName + " pregnant or breastfeeding?" %}

{% set breastDensityFactorsHrtSummaryHtml %}
  {{ "Yes" if breastDensityFactorsHrt == "yes" or (selectedBreastDensityFactors and selectedBreastDensityFactors | includes("hrt")) else "No" }}
{% endset %}

{% set pregnantOrBreastfeedingSummaryHtml %}
  {% if selectedBreastDensityFactors and (selectedBreastDensityFactors | includes("pregnant") or selectedBreastDensityFactors | includes("breastfeeding")) %}
    <ul class="nhsuk-list">
      {% if selectedBreastDensityFactors | includes("pregnant") %}
        <li>Pregnant</li>
      {% endif %}
      {% if selectedBreastDensityFactors | includes("breastfeeding") %}
        <li>Breastfeeding</li>
      {% endif %}
    </ul>
  {% else %}
    <p>No</p>
  {% endif %}
{% endset %}

<div
  class="nhsuk-u-visually-hidden"
  data-breast-density-factors-save-url="{{ contextUrl }}/medical-information/breast-density-factors-save"
></div>

<p class="nhsuk-hint">Select any current or recent considerations</p>

{% set breastDensityFactorsHrtInputHtml %}
  {{ radios({
    name: "appointment[medicalInformation][breastDensityFactorsHrt]",
    value: breastDensityFactorsHrt,
    classes: "nhsuk-radios--inline nhsuk-radios--small",
    fieldset: {
      legend: {
        text: breastDensityFactorsHrtQuestion,
        classes: "nhsuk-fieldset__legend--s"
      }
    },
    items: [
      {
        value: "yes",
        text: "Yes"
      },
      {
        value: "no",
        text: "No"
      }
    ]
  }) }}
{% endset %}

{% set pregnantOrBreastfeedingInputHtml %}
  {{ checkboxes({
    name: "appointment[medicalInformation][breastDensityFactors]",
    values: selectedBreastDensityFactors,
    classes: "nhsuk-checkboxes--small",
    fieldset: {
      legend: {
        text: pregnantOrBreastfeedingQuestion,
        classes: "nhsuk-fieldset__legend--s"
      }
    },
    items: [
      {
        value: "pregnant",
        text: "Pregnant"
      },
      {
        value: "breastfeeding",
        text: "Breastfeeding"
      }
    ]
  }) }}
{% endset %}

{{ summaryList({
  rows: [
    {
      key: {
        text: "HRT (Hormone replacement therapy)"
      },
      value: {
        html: breastDensityFactorsHrtInputHtml if allowEdits else breastDensityFactorsHrtSummaryHtml
      }
    },
    {
      key: {
        text: "Pregnant or breastfeeding"
      },
      value: {
        html: pregnantOrBreastfeedingInputHtml if allowEdits else pregnantOrBreastfeedingSummaryHtml
      }
    }
  ]
} | openInModal | handleSummaryListMissingInformation | removeLastRowBorder ) }}
