{% set rows = [
  'Breast cancer',
  'Implanted medical device',
  'Breast implants or augmentation',
  'Breast reduction or mastectomy',
  'Cysts',
  'Lump removal or biopsy',
  'Lymph node surgery',
  'Other breast or chest procedures'
  ] %}

{% set summaryListItems = [] %}

{% set valueHtml = "" %}

{% for row in rows %}
  {% if row == 'Implanted medical device' %}
    {% set changeHref = "./medical-information/medical-history/implanted-medical-device" | urlWithReferrer(currentUrl) %}
  {% elseif row == 'Breast implants or augmentation' %}
    {% set changeHref = "./medical-information/medical-history/breast-implants" | urlWithReferrer(currentUrl) %}
  {% elseif row == 'Cysts' %}
    {% set changeHref = "./medical-information/medical-history/cysts/add" | urlWithReferrer(currentUrl) %}
  {% elseif row == 'Lump removal or biopsy' %}
    {% set changeHref = "./medical-information/medical-history/lump-removal-biopsy/add" | urlWithReferrer(currentUrl) %}
  {% else %}
    {% set changeHref = "#" %}
  {% endif %}

  {% set summaryListItems = summaryListItems | push({
      key: {
        text: row
      },
      value: {
        html: valueHtml
      },
      actions: {
        items: [
          {
            href: changeHref,
            text: "Change",
            visuallyHiddenText: row | lower
          }
        ]
      }
    }) %}
{% endfor %}

{{ summaryList({
  rows: summaryListItems
} | handleSummaryListMissingInformation) }}