{% set rows = [
  'Implanted medical devices',
  'Breast cancer',
  'Breast implants or augmentation',
  'Breast reduction',
  'Cyst drainage',
  'Lump removal or biopsy',
  'Lymph node surgery',
  'Mastectomy',
  'Other breast or chest proceedures'
  ] %}

{% set summaryListItems = [] %}

{% set valueHtml = "" %}

{% for row in rows %}
  {% set summaryListItems = summaryListItems | push({
      key: {
        text: row
      },
      value: {
        html: valueHtml
      },
      actions: {
        items: [
          {
            href: "#",
            text: "Change",
            visuallyHiddenText: row | lower
          }
        ]
      }
    }) %}
{% endfor %}

{{ summaryList({
  rows: summaryListItems
} | handleSummaryListMissingInformation) }}
