{% set rows = [
  'Breast cancer',
  'Implanted medical devices',
  'Breast implants or augmentation',
  'Breast reduction or mastectomy',
  'Cyst drainage',
  'Lump removal or biopsy',
  'Lymph node surgery',
  'Other breast or chest procedures'
  ] %}

{% set summaryListItems = [] %}

{% set valueHtml = "" %}

{% for row in rows %}
  {% if row == 'Implanted medical devices' %}
    {% set changeHref = "./medical-information/medical-history/consent" | urlWithReferrer(currentUrl) %}
  {% else %}
    {% set changeHref = "#" %}
  {% endif %}

  {% set summaryListItems = summaryListItems | push({
      key: {
        text: row
      },
      value: {
        html: valueHtml
      },
      actions: {
        items: [
          {
            href: changeHref,
            text: "Change",
            visuallyHiddenText: row | lower
          }
        ]
      }
    }) %}
{% endfor %}

{{ summaryList({
  rows: summaryListItems
} | handleSummaryListMissingInformation) }}