{# app/views/_includes/summary-lists/medical-information/other-relevant-information #}

{% set selectedBreastDensityFactors = appointment.medicalInformation.breastDensityFactors %}

{% if selectedBreastDensityFactors and not (selectedBreastDensityFactors | isArray) %}
  {% set selectedBreastDensityFactors = [selectedBreastDensityFactors] %}
{% endif %}

{% set breastDensityFactorsSummaryHtml %}
  {% if selectedBreastDensityFactors and selectedBreastDensityFactors | length > 0 %}
    <ul class="nhsuk-list">
      {% if selectedBreastDensityFactors | includes("hrt") %}
        <li>Taking HRT</li>
      {% endif %}
      {% if selectedBreastDensityFactors | includes("pregnant") %}
        <li>Pregnant</li>
      {% endif %}
      {% if selectedBreastDensityFactors | includes("breastfeeding") %}
        <li>Breastfeeding</li>
      {% endif %}
    </ul>
  {% else %}
    <p>No breast density factors added</p>
  {% endif %}
{% endset %}

{% set breastDensityFactorsInputHtml %}
  <div
    class="nhsuk-u-visually-hidden"
    data-breast-density-factors-save-url="{{ contextUrl }}/medical-information/breast-density-factors-save"
  ></div>

  {{ checkboxes({
    name: "appointment[medicalInformation][breastDensityFactors]",
    values: selectedBreastDensityFactors,
    classes: "nhsuk-checkboxes--small",
    hint: {
      text: "Select any current or recent considerations"
    },
    items: [
      {
        value: "hrt",
        text: "HRT (hormone replacement therapy)"
      },
      {
        value: "pregnant",
        text: "Pregnant"
      },
      {
        value: "breastfeeding",
        text: "Breastfeeding"
      }
    ]
  }) }}
{% endset %}

{{ summaryList({
  rows: [
    {
      key: {
        text: "Breast density factors"
      },
      value: {
        html: breastDensityFactorsInputHtml if allowEdits else breastDensityFactorsSummaryHtml
      }
    },
    {
      key: {
        text: "Other medical information"
      },
      value: {
        html: appointment.medicalInformation.otherMedicalInformation
      },
      actions: {
        items: [
          {
            href: contextUrl + "/medical-information/other-medical-information" | urlWithReferrer(referrerChain | appendReferrer(currentUrl), scrollTo),
            text: "Change",
            visuallyHiddenText: "other medical information"
          }
        ]
      } if allowEdits
    }
  ]
} | openInModal | handleSummaryListMissingInformation | removeLastRowBorder ) }}
