{# app/views/_includes/summary-lists/medical-information/other-relevant-information.njk #}

{# DEBUG: Check what mammographer notes data we have #}
{{ event.medicalInformation | log("Medical information structure") }}
{{ event.medicalInformation.mammographerNotes | log("Other medical information data") }}

{% set hrtHtml %}
  {% set hrtData = event.medicalInformation.hrt %}

  {% if hrtData %}
    {% if hrtData.hrtQuestion == 'yes' %}
      <p>
        Currently taking HRT
      </p>
      <p>
        Duration taken: {{ hrtData.hrtDuration }}
      </p>
    {% elseif hrtData.hrtQuestion == 'no-recently-stopped' %}
      <p>
        Recently stopped taking HRT
      </p>
      <p>
        Duration taken: {{ hrtData.hrtDurationBeforeStopping }}<br>
        Stopped: {{ hrtData.hrtDurationSinceStopped }} ago<br>
      </p>
    {% elseif hrtData.hrtQuestion == 'no' %}
      Not taking HRT
    {% else %}
      No information provided
    {% endif %}
  {% else %}
    No information provided
  {% endif %}
{% endset %}

{% set pregnancyAndBreastfeedingHtml %}
  {% set pregnancyAndBreastfeedingData = event.medicalInformation.pregnancyAndBreastfeeding %}

  {% if pregnancyAndBreastfeedingData %}
    {% if pregnancyAndBreastfeedingData.pregnancyStatus == 'yes' %}
      <p>
        Currently pregnant
      </p>
      <p>
        Timeframe: {{ pregnancyAndBreastfeedingData.currentlyPregnantDetails }}
      </p>
    {% elseif pregnancyAndBreastfeedingData.pregnancyStatus == 'noButRecently' %}
      <p>
        Recently pregnant
      </p>
      <p>
        Details: {{ pregnancyAndBreastfeedingData.recentlyPregnantDetails }}
      </p>
    {% elseif pregnancyAndBreastfeedingData.pregnancyStatus == 'noNotPregnant' %}
      <p>Not pregnant</p>
    {% else %}
      <p>No information provided</p>
    {% endif %}

    {% if pregnancyAndBreastfeedingData.breastfeedingStatus == 'yes' %}
      <p>
        Currently breastfeeding
      </p>
      <p>
        Duration: {{ pregnancyAndBreastfeedingData.currentlyBreastfeedingDuration }}
      </p>
    {% elseif pregnancyAndBreastfeedingData.breastfeedingStatus == 'recentlyStopped' %}
      <p>
        Recently breastfeeding
      </p>
      <p>
        Details: {{ pregnancyAndBreastfeedingData.recentlyBreastfeedingDuration }}
      </p>
    {% elseif pregnancyAndBreastfeedingData.breastfeedingStatus == 'no' %}
      <p>Not breastfeeding</p>
    {% else %}
      <p>No information provided</p>
    {% endif %}
  {% else %}
    No information provided
  {% endif %}
{% endset %}

{% set otherMedicalInformationHtml %}
  {% if event.medicalInformation.mammographerNotes.notes %}
    <div class="app-prose">
      {{ event.medicalInformation.mammographerNotes.notes | nl2br | safe }}
    </div>
  {% else %}
    No information recorded
  {% endif %}
{% endset %}

{# Build rows array manually since Nunjucks doesn't have merge filter #}
{% set summaryListRows = [] %}

{# HRT Row #}
{% set hrtHasData = event.medicalInformation.hrt and event.medicalInformation.hrt.hrtQuestion %}
{% if hrtHasData %}
  {% set hrtRow = {
    key: { text: "Hormone replacement therapy (HRT)" },
    value: { html: hrtHtml },
    actions: {
      items: [{
        href: "./medical-information/hormone-replacement-therapy" | urlWithReferrer(currentUrl, scrollTo),
        text: "Change",
        visuallyHiddenText: "hormone replacement therapy (HRT)"
      }]
    } if allowEdits
  } %}
{% else %}
  {% set hrtRow = {
    key: { text: "Hormone replacement therapy (HRT)" },
    value: { html: '<a href="' + ("./medical-information/hormone-replacement-therapy" | urlWithReferrer(currentUrl, scrollTo)) + '">Enter hormone replacement therapy (HRT) details</a>' }
  } %}
{% endif %}
{% set summaryListRows = (summaryListRows.push(hrtRow), summaryListRows) %}

{# Pregnancy and breastfeeding Row #}
{% set pregnancyHasData = event.medicalInformation.pregnancyAndBreastfeeding and (event.medicalInformation.pregnancyAndBreastfeeding.pregnancyStatus or event.medicalInformation.pregnancyAndBreastfeeding.breastfeedingStatus) %}
{% if pregnancyHasData %}
  {% set pregnancyRow = {
    key: { text: "Pregnancy and breastfeeding" },
    value: { html: pregnancyAndBreastfeedingHtml },
    actions: {
      items: [{
        href: "./medical-information/pregnancy-and-breastfeeding" | urlWithReferrer(currentUrl, scrollTo),
        text: "Change",
        visuallyHiddenText: "pregnancy and breastfeeding"
      }]
    } if allowEdits
  } %}
{% else %}
  {% set pregnancyRow = {
    key: { text: "Pregnancy and breastfeeding" },
    value: { html: '<a href="' + ("./medical-information/pregnancy-and-breastfeeding" | urlWithReferrer(currentUrl, scrollTo)) + '">Enter pregnancy and breastfeeding details</a>' }
  } %}
{% endif %}
{% set summaryListRows = (summaryListRows.push(pregnancyRow), summaryListRows) %}

{# Other medical information Row #}
{% set notesHaveData = event.medicalInformation.mammographerNotes.notes %}
{% if notesHaveData %}
  {% set notesRow = {
    key: { text: "Other medical information" },
    value: { html: otherMedicalInformationHtml },
    actions: {
      items: [{
        href: "./medical-information/other-medical-information" | urlWithReferrer(currentUrl, scrollTo),
        text: "Change",
        visuallyHiddenText: "other medical information"
      }]
    } if allowEdits
  } %}
{% else %}
  {% set notesRow = {
    key: { text: "Other medical information" },
    value: { html: '<a href="' + ("./medical-information/mammographer-notes" | urlWithReferrer(currentUrl, scrollTo)) + '">Add other medical information</a>' }
  } %}
{% endif %}
{% set summaryListRows = (summaryListRows.push(notesRow), summaryListRows) %}

{{ summaryList({
  rows: summaryListRows
}) }}