{# app/views/_components/status-bar/template.njk #}

{# Output a class counting the number of rows so that we can work out how tall the sticky nav is #}
{% set classes = params.classes + (" app-status-bar--rows-" + params.rows | length) %}

<div class="app-status-bar {{ classes }}">
  <div class="nhsuk-width-container">
    {% for row in params.rows %}
      <div class="app-status-bar__row">
        {% for item in row.items %}
          <div class="app-status-bar__item">
            {% if item.key and item.value %}
              <span class="app-status-bar__key">{{ item.key | safe }}</span>
              <span>{{ item.value | safe }}</span>
            {% elif item.text %}
              <span>{{ item.text | safe }}</span>
            {% elif item.html %}
              {{ item.html | safe }}
            {% endif %}
          </div>
        {% endfor %}
      </div>
    {% endfor %}
  </div>
</div>