{# app/views/events/previous-mammograms/appointment-should-not-proceed.html #}

{% extends 'layout-appointment.html' %}

{% set previousMammogramCount = event.previousMammograms | length %}

{% set pageHeading = "This appointment should not proceed" %}

{% set formAction = './save' | urlWithReferrer(referrerChain, query.scrollTo) %}

{% block pageContent %}

  {% set previousMammograms = event.previousMammograms %}

  {% set unit = data.breastScreeningUnits | findById(clinic.breastScreeningUnitId) %}

  <h1 class="nhsuk-heading-l">
    <span class="nhsuk-caption-l">
      {{ participant | getFullName }}
    </span>
    {{ pageHeading }}
  </h1>

  {% set previousMammogram = event.previousMammogramTemp %}
  {% set mammogramDate = previousMammogram.dateTaken %}
  {% set timeAgo = mammogramDate | formatRelativeDate %}

  {{ previousMammogram | log }}

  <p>
  The mammogram added took place on {{ timeAgo }}. It is not recommended to take breast x-rays within 6 months of each other.
 </p>

  {{ radios({
    name: "event[appointmentStopped][needsReschedule]",
    value: event.appointmentStopped.needsReschedule,
    fieldset: {
      legend: {
        text: "Should the appointment be rescheduled?",
        classes: "nhsuk-fieldset__legend--m",
        isPageHeading: false
      }
    },
    items: [
      {
        value: "yes",
        text: "Yes"
      },
      {
        value: "no-invite",
        text: "No, invite to next routine appointment"
      }
    ]
  } | populateErrors) }}

  <input type="hidden" name="action" value="continue">

  <div class="nhsuk-button-group">
    {{ button({
      text: "Continue"
    }) }}
  </div>

  <p>
    <a href="./edit">Edit previous mammogram details</a>
  </p>

  <p>
    <a href="{{ './proceed-anyway' | urlWithReferrer(referrerChain, query.scrollTo) }}" class="app-link--warning">Proceed with this appointment</a>
  </p>
{% endblock %}