{# app/views/events/previous-mammograms/appointment-should-not-proceed.html #}

{% extends 'layout-appointment.html' %}

{% set previousMammogramCount = event.previousMammograms | length %}

{% set pageHeading = "This appointment should not proceed" %}

{% set formAction = './save' | urlWithReferrer(referrerChain, query.scrollTo) %}

{% block pageContent %}

  {% set previousMammograms = event.previousMammograms %}

  {% set unit = data.breastScreeningUnits | findById(clinic.breastScreeningUnitId) %}

  <h1 class="nhsuk-heading-l">
    <span class="nhsuk-caption-l">
      {{ participant | getFullName }}
    </span>
    {{ pageHeading }}
  </h1>

  {% set previousMammogram = event.previousMammogramTemp %}

  {% if previousMammogram.dateType == 'dateKnown' %}
    {% set mammogramDate = previousMammogram.dateTaken %}
    {% set timeAgo = mammogramDate | formatRelativeDate %}
    <p>
      The mammogram added took place {{ timeAgo }}. Breast x-rays should not be taken within 6 months of a previous mammogram.
    </p>
  {% else %}
    <p>
      The mammogram added was less than 6 months ago. Breast x-rays should not be taken within 6 months of a previous mammogram.
    </p>
    {% if previousMammogram.approximateDate %}
      <p>
        Approximate date provided: {{ previousMammogram.approximateDate }}
      </p>
    {% endif %}
  {% endif %} 

  {{ radios({
    name: "event[appointmentStopped][needsReschedule]",
    value: event.appointmentStopped.needsReschedule,
    fieldset: {
      legend: {
        text: "Should the appointment be rescheduled?",
        classes: "nhsuk-fieldset__legend--m",
        isPageHeading: false
      }
    },
    items: [
      {
        value: "yes",
        text: "Yes"
      },
      {
        value: "no-invite",
        text: "No, invite to next routine appointment"
      }
    ]
  } | populateErrors) }}

  {# Prevents redirect loop - signals to the save route that we've already shown this warning page #}
  <input type="hidden" name="action" value="acknowledged-warning">

  <div class="nhsuk-button-group">
    {{ button({
      text: "Continue"
    }) }}
  </div>

  <p>
    <a href="./edit">Edit previous mammogram details</a>
  </p>

  <p>
    <a href="{{ './proceed-anyway' | urlWithReferrer(referrerChain, query.scrollTo) }}" class="app-link--warning">Proceed with this appointment</a>
  </p>
{% endblock %}