{# /app/views/_includes/summary-lists/rows/address.njk #}
{% from 'details/macro.njk' import details %}

{% set addressLines = participant.demographicInformation.address | getObjectValues({removeEmpty: true }) %}

{% set addressHistoryHtml %}
  <p>
    45 High street<br>
    London<br>
    SW1A 1AA
  </p>
{% endset %}

{% set addressHtml %}
  {{ addressLines | join("<br>") | safe }}

  {# Address history hidden temporarily until we decide we need it #}
  {# {{ details({
    summaryText: "Address history",
    classes: "nhsuk-u-margin-top-3",
    html: addressHistoryHtml
  }) }} #}
{% endset %}

{% set addressRow = {
  classes: "nhsuk-summary-list__row--no-border" if noBorder,
  key: {
    text: "Home address"
  },
  value: {
    html: addressHtml | safe
  },
  actions: {
     items: [
       {
        href: contextUrl ~ "/personal-details/contact-details" | urlWithReferrer(referrerChain | appendReferrer(currentUrl)),
         text: "Change",
         visuallyHiddenText: "home address"
       } if allowEdits
     ]
   }
} | handleSummaryListMissingInformation(showNotProvidedText) %}

{{ appSummaryListRow(addressRow) }}