{# /app/views/_includes/summary-lists/rows/email.njk #}

{% set emailRow = {
  classes: "nhsuk-summary-list__row--no-border" if noBorder,
  key: {
    text: "Email"
  },
  value: {
    html: (participant.demographicInformation.email | trim) | safe
  },
  actions: {
     items: [
       {
         href: contextUrl ~ "/personal-details/contact-details" | urlWithReferrer(referrerChain | appendReferrer(currentUrl)),
         text: "Change",
         visuallyHiddenText: "email"
       } if allowEdits
     ]
   } if allowEdits,
   anyRowHasActions: allowEdits
} | handleSummaryListMissingInformation(showNotProvidedText) %}

{{ appSummaryListRow(emailRow) }}