{# /app/views/_includes/summary-lists/rows/ethnicity.njk #}


{% set ethnicGroup = participant.demographicInformation.ethnicGroup %}
{% set ethnicBackground = participant.demographicInformation.ethnicBackground %}
{% set otherEthnicBackgroundDetails = participant.demographicInformation.otherEthnicBackgroundDetails %}

{% if otherEthnicBackgroundDetails and (ethnicBackground | lower | startsWith("other")) -%}
  {% set ethnicBackground -%}
    {{- ethnicBackground }} - {{ otherEthnicBackgroundDetails }}
  {%- endset %}
{% endif %}

{% set ethnicityHtml %}
  {{ ethnicGroup if ethnicGroup }}
  {% if ethnicBackground and ethnicBackground != 'Prefer not to say' %}
    ({{ ethnicBackground | replace('Other', 'other') }})
    {% elseif ethnicBackground == "Prefer not to say" %}
      {{ ethnicBackground }}
  {% endif %}
{% endset %}

{% set ethnicityRow = {
  key: {
    text: "Ethnicity"
  },
  value: {
    html: ethnicityHtml if ethnicGroup or ethnicBackground
  },
  actions: {
    items: [
      {
        href: eventId + "/personal-details/ethnicity",
        text: "Change",
        visuallyHiddenText: "ethnicity"
      } if allowEdits
    ]
  }
} | handleSummaryListMissingInformation(showNotProvidedText) %}

{{ appSummaryListRow(ethnicityRow) }}