{# app/views/_includes/summary-lists/rows/sx-number.njk #}

{% if participant.sxNumber %}
  {% set sxNumberValueHtml %}
    {{ appCopyToClipboard({
      text: participant.sxNumber,
      type: "value",
      html: '<span class="nhsuk-u-font-code nhsuk-u-nowrap">' + participant.sxNumber + '</span>',
      label: "SX number"
    }) }}
  {% endset %}
{% endif %}

{% set sxNumberRow = {
  key: {
    text: "SX number"
  },
  value: {
    html: sxNumberValueHtml
  },
  actions: {
    items: [
      {
        href: "#",
        text: "Change",
        visuallyHiddenText: "SX number"
      } if false
    ]
  }
} | handleSummaryListMissingInformation(showNotProvidedText) %}

{{ appSummaryListRow(sxNumberRow) }}
