
{% extends 'layout-app.html' %}

{% set pageHeading = "Choose user to simulate" %}

{% block beforeContent %}
  {{ backLink({
    href: "javascript:history.back();",
    text: "Back"
  }) }}
{% endblock %}

{% set useMinimalNav = true %}

{% block pageContent %}

  <h1 class="nhsuk-heading-l">
    {{ pageHeading }}
  </h1>

  {% for user in data.users %}
    <ul class="nhsuk-list">
      <li>
        <p>
          <a href="{{ referrerChain or "./dashboard" }}?currentUserId={{ user.id }}&clearQuery=true">{{ user.firstName }} {{ user.lastName }}</a>

          {% if user.id == data.currentUser.id %}
            {{ "Signed in" | toTag }}
          {% endif %}
          <br>
          {% for role in user.role %}
            {{ role | sentenceCase -}}
            {% if not loop.last %}, {% endif %}
          {% endfor %}
        </p>

      </li>
    </ul>

  {% endfor %}

{% endblock %}
