{# app/views/index.html #}

{% extends 'layout-app.html' %}

{% set hideBackLink = true %}

{% block pageContent %}

<h1>
  {{serviceName}}
  <span class="nhsuk-caption-xl nhsuk-caption--bottom">Prototype kit {{version}}</span>
</h1>

<p>
  Index page to link to bits of the prototype.
</p>

{{ button({
  text: "Dashboard",
  href: "/dashboard"
}) }}

<h2>Clinics</h2>

<ul>
  <li>
    <a href="/clinics">Clinics</a>
    <ul>
      <li><a href="/clinics/wtrl7jud">First clinic today</a></li>
    </ul>
  </li>

</ul>


<h2>Screening appointment</h2>

{# Janet Williams #}
{% set eventId = "5gpn41oi" %}

{# Diana McIntosh #}
{% set almostCompleteAppointment = "0gdof6fh" %}

{% set makeActiveAppointment -%}?event[workflowStatus][appointment]=started{%- endset %}

{% set exampleParticipant = "/clinics/wtrl7jud/events/" + eventId %}



{% set startUrl = exampleParticipant + "/start" %}

<h3>Appointment pages</h3>
<ul>
  <li>
    <a href="{{ exampleParticipant }}/appointment">Appointment tab</a>
    <ul>
      <li>
        <a href="{{ startUrl }}?returnTo=exit-appointment">Exit appointment</a>
      </li>
      <li>
        <a href="{{ exampleParticipant }}/cancel-or-reschedule-appointment/details">Cancel or reschedule appointment</a>
      </li>
      <li>
        <a href="{{ exampleParticipant }}/cancel-or-reschedule-appointment/reschedule">Reschedule appointment</a>
      </li>
      <li>
        <a href="{{ exampleParticipant }}/medical-information/medical-history/appointment-cannot-proceed.html">Appointment cannot proceed (consent not given)</a>
      </li>
      <li>
        <a href="{{ exampleParticipant }}//attended-not-screened-reason">Appointment cannot proceed (appointment stopped)</a>
      </li>
    </ul>
  </li>
  <li>
    <a href="{{ exampleParticipant }}/participant">Participant tab</a>
  </li>
  <li>
    <a href="{{ exampleParticipant }}/medical-information">Medical information tab</a>
  </li>
</ul>

<h3>Appointment during workflow</h3>

<ul>
  <li>
    <a href="{{ startUrl }}?returnTo=confirm-identity">Confirm identity</a>
    <ul>
      <li>
        <a href="{{ startUrl }}?returnTo=special-appointment/edit">Manage special appointment</a>
      </li>
      <li>
        <a href="{{ startUrl }}?returnTo=personal-details/ethnicity">Ethnicity</a>
      </li>
    </ul>
  </li>

  {% set completedSections = "event[workflowStatus][confirm-identity]=completed" %}

  <li>
    <a href="{{ startUrl }}?returnTo=review-medical-information&{{ completedSections }}">Review medical information</a>
    <ul>
      <li>
        <a href="{{ startUrl }}?returnTo=previous-mammograms/add&{{ completedSections }}&referrerChain={{ exampleParticipant }}/review-medical-information&scrollTo=mammogram-history">Add details of a previous mammogram</a>
      </li>
      <li>
        <a href="{{ startUrl }}?returnTo=medical-information/symptoms/add&{{ completedSections }}&referrerChain={{ exampleParticipant }}/review-medical-information&scrollTo=symptoms">Add a symptom</a>
      </li>
      <li>
        {% call details({
          summaryText: "Medical history"
        }) %}
          <ul>
            <li>
              <a href="{{ startUrl }}?returnTo=medical-information/medical-history/breast-cancer/add&{{ completedSections }}&referrerChain={{ exampleParticipant }}/review-medical-information">Breast cancer</a>
            </li>
            <li>
              <a href="{{ startUrl }}?returnTo=medical-information/medical-history/breast-implants-augmentation/add&{{ completedSections }}&referrerChain={{ exampleParticipant }}/review-medical-information">Breast implants or augmentation</a>
              <ul>
                <li>
                  <a href="{{ startUrl }}?returnTo=medical-information/medical-history/consent&{{ completedSections }}&referrerChain={{ exampleParticipant }}/review-medical-information">Consent</a>
                </li>
              </ul>
            </li>
            <li>
              <a href="{{ startUrl }}?returnTo=medical-information/medical-history/cysts/add&{{ completedSections }}&referrerChain={{ exampleParticipant }}/review-medical-information">Cysts</a>
            </li>
            <li>
              <a href="{{ startUrl }}?returnTo=medical-information/medical-history/implanted-medical-device/add&{{ completedSections }}&referrerChain={{ exampleParticipant }}/review-medical-information">Implanted medical device</a>
            </li>
            <li>
              <a href="{{ startUrl }}?returnTo=medical-information/medical-history/benign-lumps/add&{{ completedSections }}&referrerChain={{ exampleParticipant }}/review-medical-information">Benign lumps</a>
            </li>
            <li>
              <a href="{{ startUrl }}?returnTo=medical-information/medical-history/mastectomy-lumpectomy/add&{{ completedSections }}&referrerChain={{ exampleParticipant }}/review-medical-information">Mastectomy or lumpectomy</a>
            </li>
            <li>
              <a href="{{ startUrl }}?returnTo=medical-information/medical-history/other-procedures/add&{{ completedSections }}&referrerChain={{ exampleParticipant }}/review-medical-information">Other procedures</a>
            </li>
          </ul>
        {% endcall %}
      </li>
      <li>
        <a href="{{ startUrl }}?returnTo=medical-information/record-breast-features&{{ completedSections }}">Record breast features</a>
      </li>
      <li>
        <a href="{{ startUrl }}?returnTo=medical-information/hormone-replacement-therapy?{{ completedSections }}&referrerChain={{ exampleParticipant }}/review-medical-information">Hormone replacement therapy</a>
      </li>
      <li>
        <a href="{{ startUrl }}?returnTo=medical-information/pregnancy-and-breastfeeding&{{ completedSections }}&referrerChain={{ exampleParticipant }}/review-medical-information">Pregnancy and breastfeeding</a>
      </li>
    </ul>
  </li>
  {% set completedSections = completedSections + "&event[workflowStatus][review-medical-information]=completed" %}
  <li>
    <a href="{{ startUrl }}?returnTo=take-images&{{ completedSections }}">Images</a>
  </li>
  {% set completedSections = completedSections + "&event[workflowStatus][take-images]=completed" %}
  <li>
    <a href="{{ startUrl }}?returnTo=check-information&{{ completedSections }}">Check information</a>
  </li>
  <li>
    <a href="/clinics/wtrl7jud/events/{{ almostCompleteAppointment }}/start?returnTo=check-information">Check information (Diana, fully populated)</a>
  </li>
  
</ul>


<h2>Completed screening appointment</h2>

{# Angelina Renner #}
{% set eventId = "1fefyh1q" %}

{% set exampleParticipant = "/clinics/wtrl7jud/events/" + eventId %}

<ul>
  <li>
    <a href="{{ exampleParticipant }}/appointment">Appointment tab</a>
  </li>
  <li>
    <a href="{{ exampleParticipant }}/medical-information">Medical information (fully populated)</a>
  </li>
  <li>
    <a href="{{ exampleParticipant }}/images">Images</a>
  </li>
</ul>

<h2>Other sections</h2>

<ul>

  <li>
    <a href="/reading">Image reading</a>
  </li>
  <li>
    <a href="/participants">Participants</a>
    <ul>
      <li><a href="/participants/bc724e9f">Participant view</a></li>
    </ul>
  </li>

</ul>

<h2>Prototype stuff</h2>

<ul>
  <li>
    <a href="/playground">Code playground</a>
  </li>
    <li>
    <a href="/settings">Settings</a>
  </li>
    <li>
    <a href="/modal-examples">Modal examples</a>
  </li>
</ul>

{% endblock %}