{# app/views/example-pages/500.html #}

{% extends "layout-app.html" %}

{% set pageHeading = serviceName %}
{% set useMinimalNav = true %}
{% set hideAccountMenu = true %}
{% set hideBackLink = true %}

{% block pageContent %}

  <h1 class="nhsuk-heading-xl">{{ pageHeading }}</h1>

  <p>Use this service to:</p>
  
  <ul>
    <li>See appointment information for breast screening clinics</li>
    <li>Check in participants and start appointments</li>
    <li>Record symptoms and medical history</li>
    <li>Record details of mammogram images</li>
  </ul>

  {{ button({
    classes: "nhsuk-button--login nhsuk-u-margin-bottom-4",
    html: "Log in with my Care Identity",
    href: "/cis2"
  }) }}

  <p><a href="#">Contact us</a> if you have problems accessing this service.</p>

{% endblock %}
