<!--
  This is the main layout where you can:
    - change the header and footer
    - add custom CSS and JavaScript
-->

<!-- Extends the prototype kit template which in turn extends the NHS.UK frontend template -->
{% extends "prototype-kit-template.njk" %}

{%- from '_components/check-in/macro.njk' import appCheckIn %}
{%- from '_components/count/macro.njk' import appCount %}
{%- from '_components/details/macro.njk' import appDetails %}
{%- from '_components/event-status/macro.njk' import eventStatus %}
{%- from '_components/forward-link/macro.njk' import appForwardLink %}
{%- from '_components/hidden-input/macro.njk' import appHiddenInput %}
{%- from '_components/modal/macro.njk' import appModal %}
{%- from '_components/modal/macro.njk' import appConfirmationModal %}
{%- from '_components/secondary-navigation/macro.njk' import appSecondaryNavigation %}
{%- from '_components/button-menu/macro.njk' import buttonMenu %}
{%- from '_components/summary-card/macro.njk' import appSummaryCard %}
{%- from '_components/summary-list/macro.njk' import appSummaryListRow %}
{%- from '_components/summary-list/macro.njk' import appSummaryList %}
{%- from '_components/status-bar/macro.njk' import appStatusBar %}
{%- from "_components/stepper-input/macro.njk" import appStepperInput -%}
{%- from "_components/environment/macro.njk" import appEnvironment -%}

{% block head %}
  <!-- Add your custom CSS or Sass in /app/assets/sass/main.scss -->
  <link href="/main.css" rel="stylesheet">
{% endblock %}

<!-- Edit the header -->
<!-- Header code examples can be found at https://service-manual.nhs.uk/design-system/components/header -->
{% block header %}
  {{ header({
    service: {
      text: serviceName,
      href: "/"
    }
  }) }}
{% endblock %}

<!-- Edit the footer -->
<!-- Footer code examples can be found at https://service-manual.nhs.uk/design-system/components/footer -->
{% block footer %}
  {{ footer({
    meta: {
      items: [
        {
          href: "/accessibility-statement",
          text: "Accessibility"
        },
        {
          href: "/contact",
          text: "Contact us"
        },
        {
          href: "/terms-and-conditions",
          text: "Terms and conditions"
        }
      ],
      html: '<ul class="nhsuk-footer__list">
        <li class="nhsuk-footer__list-item"><a class="nhsuk-footer__list-item-link" href="/">Home</a></li>
        <li class="nhsuk-footer__list-item"><a class="nhsuk-footer__list-item-link" href="/settings">Settings</a></li>
        <li class="nhsuk-footer__list-item"><a class="nhsuk-footer__list-item-link" href="/prototype-admin/reset?returnPage=' + (currentPage | urlencode) + '" data-reset-session>Reset data</a></li>
        <li class="nhsuk-footer__list-item"><a class="nhsuk-footer__list-item-link" href="https://github.com/NHSDigital/manage-screening-events-prototype">Github</a></li>
      </ul>'
    }
  }) }}
{% endblock %}

{% block bodyEnd %}
  {% block scripts %}
    <!-- Custom JavaScript files can be added to this file -->
    {% include "_includes/scripts.html" %}
    <!-- For adding page specific JavaScript -->
    {% block pageScripts %}{% endblock %}
  {% endblock %}
  {{ super() }}
{% endblock %}
