{# app/views/_templates/layout-medical-history-form.html #}

{% extends 'layout-app.html' %}

{# {% set gridColumn = "nhsuk-grid-column-full" %} #}

{% set formAction = "./save" %}


{% block pageContent %}

  <h1 class="nhsuk-heading-l">
    <span class="nhsuk-caption-l">
      {{ participant | getFullName }}
    </span>
    {{ pageHeading }}
  </h1>

  {{ appHiddenInput({
    name: "event[medicalHistoryTemp][medicalHistoryType]",
    value: medicalHistoryType
  }) }}

  {% block formContent %}
  {% endblock formContent %}

  <div class="nhsuk-button-group">
    {{ button({
      text: "Continue"
    }) }}

    {{ button({
      text: "Save and add another",
      classes: "nhsuk-button--secondary"
    }) }}
  </div>

  {% include "screening-cannot-proceed-link.njk" %}

{% endblock %}