{# app/views/_templates/layout-app.html #}
{# Standard single-column layout with flash messages and form wrapper #}

{% extends "layout-base.html" %}

{% block pageStructure %}

  {% if flash.error or flash.success or flash.info or flash.warning %}
    <div class="nhsuk-grid-row">
      <div class="nhsuk-grid-column-two-thirds">
        {% include "_includes/flash-messages.njk" %}
      </div>
    </div>
  {% endif %}

  {# Awkwardly test if pageNavigation is set. This is a workaround for Nunjucks
    not having a way to check if a block is defined or not.

  See related issues:
  https://github.com/mozilla/nunjucks/issues/135
  https://github.com/mozilla/nunjucks/issues/164#issuecomment-3073581360 #}

  {% macro pageNavigationWrapper() %}
    {% if caller() | length > 0 %}
      <div class="nhsuk-grid-row">
        <div class="nhsuk-grid-column-full">
          {{ caller() }}
        </div>
      </div>
    {% endif %}
  {% endmacro %}
  {% call pageNavigationWrapper() %}{% block pageNavigation %}{% endblock pageNavigation %}{% endcall %}

  {% if gridColumn != "none" %}
  <div class="nhsuk-grid-row">
    <div class="{{ gridColumn or 'nhsuk-grid-column-two-thirds' }}">
  {% endif %}

    {% if formAction or isForm %}
      <form action="{{formAction or './'}}" method="{{ formMethod or 'POST'}}">
    {% endif %}
    {% block pageContent %}{% endblock %}
    {% if formAction or isForm %}
      </form>
    {% endif %}

  {# This is paired with a matching opening div #}
  {% if gridColumn != "none" %}
    </div>
  </div>
  {% endif %}

{% endblock pageStructure %}
