{% from "details/macro.njk" import details %}
{% from "button/macro.njk" import button %}
{% from "textarea/macro.njk" import textarea %}
{% from "radios/macro.njk" import radios %}

{% set lastRequestedTime = now() | remove(1, 'minute') %}

{# <div class="nhsuk-grid-row">
  <div class="nhsuk-grid-column-two-thirds-from-desktop"> #}
    <div class="nhsuk-card">
      <div class="nhsuk-card__content">
        <h2>Troubleshoot issues with images</h2>

        {% call details({
          summaryText: "A different participant's images are displayed"
        }) %}

        <p>Check the correct participant has been selected on the worklist.</p>
        
        <p>If this needs to be changed, update the mammogram machine and wait a few seconds for the image details to refresh.</p>

        <p>If the issue is not resolved, <a href="./images-manual" class="nhsuk-link">enable manual image mode</a>.</p>

        <p>Images details will be reconciled after the appointment.</p>

        {% endcall %}

        {% call details({
          summaryText: "The wrong number of images are displayed"
        }) %}

        <p><a href="./images-manual" class="nhsuk-link">Enable manual image mode</a>.</p>

        <p>Images details will be reconciled after the appointment.</p>

        {% endcall %}

        {% call details({
          summaryText: "Images have incorrect labels"
        }) %}
          
        <p>Update image information on the mammogram machine and wait a few seconds for the image details to refresh.</p>

        <p>If the issue is not resolved, <a href="./images-manual" class="nhsuk-link">enable manual image mode</a>.</p>

        <p>Images details will be reconciled after the appointment.</p>

        {% endcall %}

  
      </div>
    </div>
  {# </div>
</div>
 #}
