{% from "details/macro.njk" import details %}
{% from "button/macro.njk" import button %}
{% from "textarea/macro.njk" import textarea %}
{% from "radios/macro.njk" import radios %}

{% set lastRequestedTime = now() | remove(1, 'minute') %}

<div class="nhsuk-grid-row">
  <div class="nhsuk-grid-column-two-thirds">
    <div class="nhsuk-card">
      <div class="nhsuk-card__content">
        <h2>Troubleshoot issues with images</h2>

        {% call details({
          summaryText: "No images (or the wrong number of images) are displaying"
        }) %}
          <ol>
            <li>Check the correct participant has been selected on the mammogram machine</li>
              <ul class="default-list">
                <li>Change the participant details if necessary</li>
              </ul>
            <li>Wait 15 seconds for images to appear</li>
            <li>If they do not, resend images to prompt the mammogram machine to refresh</li>
          </ol>

          {{ button({
            text: "Resend images",
            href: "#",
            classes: "nhsuk-button nhsuk-button--secondary"
          }) }}

          <p class="nhsuk-body-s nhsuk-u-secondary-text-color">Last requested at {{ lastRequestedTime | formatTime("HH:mm:ss") }}</p>

          <h3>If the correct number of images are still not being displayed</h3>

          <p><a href="./images-manual" class="nhsuk-link">Record image details manually</a></p>
        {% endcall %}

        {% call details({
          summaryText: "Images are incorrectly labelled"
        }) %}
          <ol>
            <li>Check the correct views have been selected on the mammogram machine</li>
              <ul class="default-list">
                <li>Change any incorrect labels</li>
              </ul>
            <li>Wait 15 seconds for updated information to appear</li>
            <li>If it does not, resend images to prompt the mammogram machine to refresh details</li>
          </ol>

          {{ button({
            text: "Resend images",
            href: "#",
            classes: "nhsuk-button nhsuk-button--secondary"
          }) }}

          <p class="nhsuk-body-s nhsuk-u-secondary-text-color">Last requested at {{ lastRequestedTime | formatTime("HH:mm:ss") }}</p>

          <h3>If the wrong information is still showing</h3>

          <p><a href="./images-manual" class="nhsuk-link">Record image details manually</a></p>

          <p>You can add notes to indicate what information needs to be corrected.</p>
        {% endcall %}

        {% call details({
          summaryText: "Images are blurred or obstructed"
        }) %}
          <h3>If more images can be taken to resolve the problem</h3>

          <ol>
            <li>Retake the necessary image views</li>
            <li>Wait 15 seconds for new images to appear</li>
            <li>If they do not, resend images to prompt the mammogram machine to refresh details</li>
          </ol>

          {{ button({
            text: "Resend images",
            href: "#",
            classes: "nhsuk-button nhsuk-button--secondary"
          }) }}

          <p class="nhsuk-body-s nhsuk-u-secondary-text-color">Last requested at {{ lastRequestedTime | formatTime("HH:mm:ss") }}</p>

          <h3>If the images taken are the best possible</h3>

          <p>Select the 'Imperfect, but best possible images' option.</p>
          
          <p>This will advise image readers not to request a technical recall.</p>

        {% endcall %}

        {% call details({
          summaryText: "Technical issues with the mammogram machine"
        }) %}
          <h3>If some images have been taken and they are displayed above</h3>

          <ol>
            <li>Select the 'Not all mammograms taken' option</li>
            <li>Select 'Technical issues' when asked for a reason and provide details</li>
          </ol>

          <h3>If some images have been taken and they are not displayed above</h3>

          <p><a href="./images-manual" class="nhsuk-link">Record image details manually</a></p>

          <h3>If no images have been taken</h3>

          <p><a href="./attended-not-screened-reason" class="nhsuk-link app-link--warning">Exit this appointment</a></p>

          <p>When asked why the appointment is stopping, select 'Technical issues at clinic' and provide details.</p>

          <p>Other appointments can be cancelled from the clinic list if this fault cannot be resolved.</p>
        {% endcall %}

  
      </div>
    </div>
  </div>
</div>

